[2021-08-21 20:23] #279 closed

[2021-08-21 21:55] Elias8 commented on #366
After looking at the latest version, the package has no support for USB/Bluetooth network type.

Please stay tuned for the upcoming updates!

[2021-08-22 16:10] hsnbsst opened #425 "GeneratedPluginRegistrant.m:10:9: fatal error: module 'device_info_plus' not found"
Failed to build iOS app
Error output from Xcode build:
↳
    ** BUILD FAILED **

Xcode's output:
↳
    /Users/hsnbsst/Desktop/Android/Falistan/ios/Runner/GeneratedPluginRegistrant.m:10:9: fatal error: module 'device_info_plus' not found
    @import device_info_plus;
[code]

[2021-08-23 04:33] xpwmaosldk commented on #401
I'm using for  `package_info_plus: ^1.0.4`

[2021-08-23 05:37] miquelbeltran commented on #421
mmhh true, I haven't thought about this edge case. I think we should revert https://github.com/fluttercommunity/plus_plugins/pull/384 probably then because this can lead to misunderstandings.

[2021-08-23 05:52] Coronon commented on #314
@mhadaily I’ll work on this once I have time on my hands (probably not before the weekend)

[2021-08-23 07:25] mhadaily commented on #425
which version are you using?

[2021-08-23 09:13] Chinmay-KB commented on #421
Yup, this is not something I had thought about.  This will need more deliberations.

[2021-08-23 09:23] gazialankus commented on #421
I guess past alarms should be rescheduled rather than deleted. Alarms that are set for dates in the past are fired as soon as possible. It could be that the alarm never actually fired and would have fired soon if the force stop had not happened.

So maybe rescheduling all alarms at every start of the app would cover everything. Rescheduling the same alarm with the same id has no effect in Android

[2021-08-23 09:56] chazgps commented on #409
I have tried many ways to make things work correctly but all them has failed...

I've declared a global SharedPrerences (out of any scope) and call sharedpreferences.setString() to write a value to storage inside my function called periodically by android_alarm_manager_plus.

setString return true, telling me that the value has been stored !

In the main isolate, my app is returning null when I at

[2021-08-23 12:55] miquelbeltran commented on #421
That's not how the Android OS framework works unfortunately. We shouldn't reinvent how alarms work on the OS level. The feature @Chinmay-KB was a nice addon to keep track of Alarms but personally I think we are trying to overcome the OS limitations which shouldn't be the goal of this plugin. Rather, that should be managed by the app developer on the app level.

[2021-08-23 13:45] gazialankus commented on #421
Fair enough. But I do believe this example could be improved:

I just set up an alarm with id 11, force closed, set up one more alarm with the same id (11) and force closed. When I open the app again, I have two entries in the list and I can't ever get rid of them.

1. It would be nice if I saw only one entry for alarms I set with the same id. I would see only the second one in the above example.

[2021-08-23 14:42] miquelbeltran commented on #421
That's why I think we should revert the feature, because doesn't respond to how Alarms work on the OS level. Managing a list of alarms should be on the app side and not on the plugin side.

[2021-08-23 15:14] samithe7 opened #428 "upgrade ios platform 10.0 #connectivity_plus"
In Android  connectivity_plus is ok . but when i use connectivity_plus  on ios  it  always show no internet connection but my iOS simulator have internet   connection . i use firebase  firestore in my project  . so  my  ios platform 10.0   but connectivity_plus  ios platform 8.0  .

#connectivity_plus

[2021-08-23 16:09] hsnbsst commented on #425
I found the source of the problem was due to this plugin: https://github.com/bharat-biradar/Google-Ml-Kit-plugin

[2021-08-23 18:37] gazialankus commented on #421
Ok now I see your point. I think there could be a second plugin that complements this in this regard.

[2021-08-23 22:07] Elias8 commented on #408
Hi @pmg1991 👋,

[Advertising Id](https://support.google.com/googleplay/android-developer/answer/6048248?hl=en#zippy=%2Cadvertising-id-violations) is not a device feature. Instead, it comes from the [gms](https://developers.google.com/android/reference/com/google/android/gms/ads/identifier/AdvertisingIdClient.Info)(google mobile/play services) SKD. And I don't think it would be good to add this fea

[2021-08-23 22:07] #408 closed

[2021-08-24 07:19] #425 closed

[2021-08-24 08:43] miquelbeltran commented on #421
I ended up reverting the feature. Thanks again @Chinmay-KB for your work, I am sorry we have to pull the feature out!

[2021-08-24 08:43] #421 closed

[2021-08-24 09:05] echomartha opened #430 "Stream function doesn't work"
Issue occurs on: iOS
Plugin name: connectivity_plus
Plugin version: 1.1.0
Flutter doctor output:

[code]

## Steps to Reproduce

Stream function doesn't work on ios devices. already try to print the problem is, but doesn't show anything. please take a look my Code. Thanks

[code]

## Logs

[code]

[code]

[2021-08-24 10:09] 865102930 commented on #405
It crashes when I get an image from the library, I'm trying to solve the problem, finally, I find it returns nil when I use the "imageWithContentsOfFile" method. and then it crashes when the array adds the image.
![Snipaste_2021-08-24_18-08-59](https://user-images.githubusercontent.com/18364926/130598777-cff68612-eb26-4321-9a14-996d7e510752.png)

[2021-08-24 22:40] ThinkBIG-Company commented on #406
This is the solution
Thanks

[2021-08-25 15:37] jamiemm opened #431 "network_info_plus: 'net/route.h' file not found when building for iOS emulator"
## System info

Issue occurs on: iOS
Plugin name: Network Info Plus
Plugin version: 1.1.0
Flutter doctor output:

[code]

## Steps to Reproduce

1. flutter pub add network_info_plus
2. import 'package:network_info_plus/network_info_plus.dart'; in one of the project .dart files
3. attempt to build and run the app on an iOS emulator (iPhone 11 iOS 14.2)
4. The build fails with the following error:
[

[2021-08-25 16:03] mhadaily commented on #430
have you tested on a simulator or do you have a real device? and which iOS version you have tested?

[2021-08-26 05:54] tomoyuki28jp opened #432 "[package_info_plus] appName is always empty string on macOS and iOS"
## System info

Issue occurs on: iOS and macOS
Plugin name: package_info_plus
Plugin version: 1.0.6
Flutter doctor output:

[code]

## Steps to Reproduce
demo app: https://github.com/tomoyuki28jp/package_info_plus_bug_sample

[code]

[code]

[2021-08-26 12:47] josefrvaldes opened #433 "No implementation found for method getAndroidDeviceInfo on channel dev.fluttercommunity.plus/device_info"
## System info

Issue occurs on: Android
Plugin name: device_info_plus
Plugin version: 0.7.2
Flutter doctor output:
[code]

## Steps to Reproduce

I'm doing a very simple task: I just want to show a dialog if android version is lower than 11, so my code is just this:

[code]

And always it's thrown an error that it's exactly this one: `No implementation found for method getAndroidDeviceInfo on cha

[2021-08-26 14:36] #433 closed, assigned to nobody

[2021-08-26 17:54] ReniDelonzek opened #434 "[connectivity_plus] Connectivity().checkConnectivity() always returns none"
## System info

Issue occurs on: MacOs
Plugin name: connectivity_plus
Plugin version: 1.1.0
Flutter doctor output:
[code]

## Steps to Reproduce

[code]

## Logs

[code]

[2021-08-27 08:27] keyss-manoj opened #435 "Azure pipeline IOS build displaying error device_info_plus does not support provisioning profiles. device_info_plus does not support provisioning profiles"
## System info

Issue occurs on: iOS
Plugin name: device_info_plus
Plugin version: 2.1.0
Flutter doctor output:

[code]

## Steps to Reproduce

1. ...
2. ...
3. ...

## Logs

[code]

[code]

[code]

[2021-08-27 11:44] mark-kascheev opened #436 "[connectivity_plus]Return only one result in Web"
## System info

Issue occurs on: Web
Plugin name: connectivity_plus
Plugin version: 1.1.0
Flutter doctor output:

[code]

## Steps to Reproduce

I listen wifi changes in bloc, but always receive only one result - ConnectivityResult.mobile, use Chrome browser
[code]

[code]

[code]

[2021-08-28 15:54] KPatel91 commented on #431
I also have this issue on Flutter 2.2.3 XCode 12.5.1

[2021-08-29 21:58] akashlilhare opened #437 "Not able to build appbundle"
* What went wrong:
A problem occurred evaluating root project 'android_intent'.

nUrl in C:\Users\91966\.gradle\daemon\4.10.1\gradle\wrapper\gradle-wrapper.properties to gradle-5.4.1-all.zip

* Try:
Run with --stacktrace option to get the stack trace. Run with --info or --debug option to get more log output. Run with --scan to g
et full insights.

* Get more help at https://help.gradle.org

BUILD

[2021-08-30 17:12] lnk3 opened #438 "MissingPluginException for getLocationServiceAuthorization()"
I don't know if I should do this, please consider closing the issue if it wasn't allowed by your issus guidelines.

I [asked a question](https://stackoverflow.com/questions/68987608/missingpluginexception-in-my-flutter-code-networkinfo-getlocationserviceauth) about your package on stackoverflow and maybe someone here could help so I post a link to it here too.

PROBLEM SUMMARY: when I call `Networ

[2021-08-30 17:20] lnk3 commented on #438
Here is the complete code of my class to handle network connection, I need the app to understand if the phone is in the correct network by checking the wifi SSID.
[code]

[2021-08-30 17:44] lnk3 commented on #438
If I don't ask for `getLocationServiceAuthorization` or `requestLocationServiceAuthorization`I get `null`from `getWifiName()`

[2021-08-31 09:39] Elias8 commented on #438
Hi @lnk3 👋,
Thanks for opening an issue.

On which platform are you having the issue? And could you also share the snippet of your code where you are using the above code?

Thanks!

[2021-08-31 12:48] JSBmanD commented on #436
I have the same results. My doctor:

[code]

[2021-08-31 14:05] #370 closed

[2021-08-31 14:16] varunbhalerao56 commented on #344
Hey, any updates on this? I am opening another app where the user needs to press login to verify their identity (using government API). Once the user presses login it returns me back to my app. The problem is that once the user has pressed login a link should be generated but I am not able to capture the link with the auth token.

[2021-08-31 17:59] lnk3 commented on #438
I'm having the issue on android, and on AVD, I think it may be normal for the emulator but not for my real android device, isn't it?
By the way the code is:
 `main.dart`
[code]
I have a Widget which consumes the ChangeNotifierProvider and changes the opacity of it's child If I'm connected to the Wifi or not:
[code]
The connectivity package works, so I can have the status changed to `Connected` if

[2021-09-01 07:38] windows7lake opened #439 "[plugin][sensors_plus] Need to specify sensor delay level."
## Use case
In my case, I need to specify sensor delay level.
[code]

## Proposal
sensorManager.SENSOR_DELAY_GAME is also needed.

[2021-09-01 17:09] spacekestrel opened #440 "android_alarm_manager_plus 1.2.0"
Request for the functionality of opening app from background in delayed time.

[2021-09-01 17:47] waltojac opened #441 "[network_info_plus] getWifiName() returns SSID of disconnected network in Android"
## System info

Issue occurs on: Android (LG G6, V40, more on 8.0.0)
Plugin name: network_info_plus
Plugin version: 1.0.2
Flutter doctor output:

[code]

## Steps to Reproduce
1. Use Android WifiManager to add and connect to a local wifi access point
2. Turn off the access point
3. Get call NetworkInfo.getWifiName()
4. Examine that the SSID is the SSID of the now disconnected network, indefinitely

[2021-09-02 05:03] miquelbeltran commented on #344
You will have to implement this by yourself, it is not the intended functionality of the plugin.

[2021-09-02 05:03] #344 closed

[2021-09-02 05:24] AkhilSajiCodzoc commented on #409
@chazgps i dont know why this happens.may be this is due to static functionality of alaram manager.Any way, have to do some stuffs using method channel to implement this.

[2021-09-02 10:45] chazgps commented on #409
My workaround was using IsolateNameServer.registerPortWithName in main isolate to register a named port. Then, in alarm isolate, i'm using IsolateNameServer.lookupPortByName to find this port and send the results to main isolate to be saved by SharedPreferences.

[2021-09-02 20:54] WilliamHarvey97 commented on #436
Here's mine. I get the same issue.

[code]

[2021-09-03 13:48] thealteria opened #445 "[share_plus] PlatformException(file:/storage/emulated/0/Pictures/property_asa_136.jpg: open failed: ENOENT (No such file or directory), null, null, null)""
So I'm using `share_plus` library to share my image which I downloaded from the api but when I'm trying to share it it' giving me 'PlatformException' Error. Here's the code I'm using:

[code]

I'm getting the path successfully and saved image is also showing in the gallery on the exact same location but it's giving me error.

[2021-09-04 09:35] spacekestrel opened #446 "android_alarm_manager_plus 1.2.0 Unhandled Exception"
Upon adding this line:
[code]
 flutter gives this message:
[code]

[2021-09-04 10:36] tejtechtonic opened #447 "identifierForVendor is always change in ios after re-installing, i need unique id for ios device to limit Login."
## System info

Issue occurs on: iOS
Plugin name: device_info_plus
Plugin version: 2.1.0

[2021-09-04 11:43] spacekestrel opened #448 "android_intent_plus 2.0.0 launch app from background"
I need to create an alarm clock functionality that open my application from the background. It seems that there is the way to do it using android_intent and android_alarm_manager_plus. I was looking for the right way to create such functionality, but this option does not work:
[code]
[code]
Debug console gives this:
[code]

[2021-09-08 02:49] echomartha commented on #430
Solved!
plugin version : `share_plus 2.1.4`

[2021-09-08 02:49] #430 closed

[2021-09-08 18:28] msisinni commented on #263
Could you please share what that utility function looks like?

[2021-09-08 18:47] YuriHeiko commented on #263
@msisinni
Sure, it was an mvp, so don't judge the code. Basically, the app removes all files in the temp dir on some user interactions.
Here is the method itself.
[code]

[2021-09-08 18:54] msisinni commented on #263
@YuriHeiko
Ah, ok. Thanks. I thought you had a way to trigger the deletion after the user finished sharing and closed the system share dialog.

[2021-09-09 10:28] YuriHeiko commented on #263
No, I do not think that there is a way to do it, using conventional tools at least.

[2021-09-09 19:27] mhadaily commented on #435
I suspect this is related to this device info package, how you tell us how to reproduce the error?

[2021-09-10 05:53] aboutlan commented on #436
I have the same issue. only one result in Web
![image](https://user-images.githubusercontent.com/11730674/132806380-0fb0442f-6d8b-4cb2-9765-a4a2aa429063.png)

[2021-09-10 05:58] aboutlan commented on #436
I have the same problem.
![image](https://user-images.githubusercontent.com/11730674/132806846-9fe1c37c-cef7-4b0c-a865-1eea7ce4cbb8.png)

[2021-09-10 06:02] aboutlan commented on #436
I have the same problem. Just one result ConnectivityResult.mobile

[2021-09-10 07:25] niugm commented on #431
I also have this issue on Flutter 2.5.0  XCode 12.5.1

[2021-09-10 08:33] jamolina2021 opened #449 "PackageInfo.version does not work with windows desktop"
Hi,

`PackageInfo.version` does not work with **windows desktop**
In the `pubspec.yaml `file version is **1.5.0**
`version: 1.5.0`
When I run the **web** application everything works fine.
[code]
`packageInfo.version` returns **1.5.0**
However when I run the **windows desktop** application
`packageInfo.version` returns **1.0.0**

Thank you very much for the help.

Regards,
Jose A.Molina

[2021-09-10 18:39] quentinleguennec opened #450 "[network_info_plus] Get IP on Wifi hotspot network"
Is there any way, using network_info_plus, to get the IP address on the network generated by a wifi hotspot?
I'm trying to use my phone as a hotspot to connect to a raspberry Pi and when I create a wifi hotspot and call `NetworkInfo().getWifiIP()` or `NetworkInfo().getWifiBroadcast()` it returns null.

It will only return something when I connect to a classic wifi network.

[2021-09-10 22:13] phan-dev commented on #431
I got the same issue on the iOS emulator.
I fixed it and tested it #451

[2021-09-11 04:59] quachanhdung opened #452 "identifierForVendor change when remove and then reinstall app"
## System info

Issue occurs on: iOS / Android / both
Plugin name:
Plugin version:
Flutter doctor output:

[code]

## Steps to Reproduce

1. ...
2. ...
3. ...

## Logs

[code]

[code]

[code]

[2021-09-11 12:56] softplace-io opened #453 "No implementation found for method check on channel dev.fluttercommunity.plus/connectivity"
Hello,

I've already reviewed the code and I can't find an explanation for this error below.

[code]

My Code
[code]

[2021-09-11 14:40] alexlipa91 opened #454 "Share plugin doesn't await on future"
## System info

Issue occurs on: both
Plugin name: ^2.1.4
Plugin version: 2.1.4

## Steps to Reproduce

I am using the plugin when tapping an Icon and I realized that the icon can be tapped mutliple consecutive times which would trigger many dialogs for sharing to be open. For this reason I added a boolean state `active` (intitialized to `false`) to understand when the button can be pressed.

[cod

[2021-09-12 07:21] hasanm08 opened #455 "shareMedia Support"
## Use case
Messengers Like Telegram

## Proposal
In some Messengers, Media and Files are separated and have different views please add shareMedia method to share Image(s) or video(s) with better user experience
I'm currently using share_plus: ^2.1.4

[2021-09-12 23:13] Elias8 commented on #454
Hi @alexlipa91 👋

Thanks for opening an issue.

The `Share.share` method doesn't wait for the result from each platform instead, it will just tell the platform to handle the request(open the share dialog), and the future will be complete.

For now, I will close the issue in favor of #386. But feel free to reopen it if you have any questions or comments.

Hope that helps.

[2021-09-12 23:13] #454 closed

[2021-09-12 23:24] Elias8 commented on #453
Hi @softplace-io 👋

Thanks for opening an issue.

Please try running the following command inside your project directory.
[code]

Hope that helps.

[2021-09-13 05:06] varunbhalerao56 commented on #430
@echomartha can you please elaborate on how you solved it? The stream is not working on my side as well. Thank you

[2021-09-13 05:44] Chinmay-KB commented on #448
Launching an app from the background on its own was working until Android 9. There are several changes regarding this in Android 10. You can go through the changes in this page, [Background Starts](https://developer.android.com/guide/components/activities/background-starts).

[2021-09-13 13:40] Zujaj commented on #357
[code]

The error raises in C:\flutter\packages\flutter\lib\src\material\feedback.dart, in short the Feedback class .There seems to be no case defined for the web. Below is the debug console log:

[code]

[2021-09-13 14:00] ueman commented on #357
It kinda looks to me that you're trying to use dart:io's  `File` on web which will not work. Are you sure that's not the case?

[2021-09-13 14:08] Zujaj commented on #357
Yup that's it, so will I be only able to share text?

[2021-09-13 14:24] ueman commented on #357
Yes, at the moment that's the case.

[2021-09-13 14:25] Zujaj commented on #357
Any way to cover this issue?

[2021-09-14 06:38] ueman commented on #357
Dart:io will never work on web.

But there's some progress here: https://github.com/fluttercommunity/plus_plugins/pull/318

[2021-09-14 12:30] alextekartik opened #456 "[package_info_plus] Web: fail to get PackageInfo (version) offline"
This is a issue I think related to https://github.com/fluttercommunity/plus_plugins/issues/225

It only happens on the Web while offline.

I have a PWA flutter application where I call `await PackageInfo.fromPlatform()` before running the app. This is the only part that is not working offline as it tries to trick the cache to force reading the version, since there is no network, it fails. I think

[2021-09-14 12:30] alextekartik commented on #225
Now the issue is that it no longer works offline...

[2021-09-15 04:16] pszklarska commented on #347
Hey,

I get the same issue. It occurs when sharing text on iOS with the Gmail app. The subject is the same as the shared text, so for example with the following code:

[code]

The result on iOS using Gmail app is incorrect ("Shared text" is in the subject):

![IMG_0013](https://user-images.githubusercontent.com/8558760/133369653-73786fc2-6d06-4da5-b15d-35e8ecba4927.png)

The result on iOS using th

[2021-09-16 12:02] fabio21 commented on #449
![Captura de tela 2021-09-16 090202](https://user-images.githubusercontent.com/8049768/133608698-9977ad88-261c-46c4-9ba1-8bc48e7ab6c4.png)
![Captura de tela 2021-09-16 090225](https://user-images.githubusercontent.com/8049768/133608711-63569193-c4b6-4532-8b6a-3aca361de173.png)

[2021-09-17 09:57] raulmabe opened #457 "[share_plus] [iOS] Instagram story does not show up in iOS while sharing image file"
Very similar to #380. Can't share image to instagram stories on iOS, I can only see one Instagram icon and it is for sharing the video as a standard Instagram Post.
On the other hand, in Android sharing a video file shows up all 3 options:

1. Instagram Feed
2. Instagram Direct
3. Instagram Story

[2021-09-17 16:11] duzenko opened #459 "[share_plus] [iOS] Instagram does not show up in provider list for web links"
I need to share links to social platforms, such as Instagram
Tried the following code
[code]
On iOS that shows Twitter, but not Instagram
I had to spend a lot of time researching this until I realized that share_plus does not use NSURL for web links (which I think is the required operation here)
I also created a PR that shows the small code change that actually fixes Instagram sharing
https://gith

[2021-09-17 16:18] duzenko commented on #459
<img width="375" alt="PNG image 2" src="https://user-images.githubusercontent.com/1481807/133821059-ffe4512e-9cc5-41df-ba3a-b226bc00e0bd.png">
![Uploading PNG image.png…]()

[2021-09-17 18:48] hekhy opened #460 "[Suggestion] More information on all platforms"
It would be nice to add all the available information about the battery, things like the following:
Battery Capacity, Battery Level, Charging Status, Charge Time Remaining, Current Average, Current Now, Health, Plugged Status, Battery Presence, Scale, Remaining Energy, Technology, Temperature, Voltage

In general everything that can be known, since it limits enough only the battery level because i

[2021-09-17 19:09] MohammedErbia commented on #305
I have this error
`[!] No podspec found for `share_plus` in `.symlinks/plugins/share_plus/ios``

[2021-09-19 19:36] cjwhitsitt commented on #432
It looks like the code for iOS is pulling from CFBundleDisplayName but I see my app doesn't use that plist property. It only has CFBundleName. I imagine iOS uses CFBundleDisplayName if present, otherwise CFBundleName. Haven't had a chance to test this yet though.

[2021-09-19 20:47] q172107875 opened #462 "WeChat share text is invalid"
![WechatIMG72](https://user-images.githubusercontent.com/13548428/133942485-b2c51914-ca20-49cb-822c-ecfee73d8039.jpeg)

Share.share(textContent);

The version in question is
share_plus: ^2.1.4
flutter version : 2.5.1
dart version : 2.14.2

[2021-09-19 20:51] Elias8 commented on #432
@tomoyuki28jp As the package currently uses `CFBundleDisplayName` to get the app name, you probably need to add that in both your [iOS](https://github.com/tomoyuki28jp/package_info_plus_bug_sample/blob/main/ios/Runner/Info.plist) and [macOS](https://github.com/tomoyuki28jp/package_info_plus_bug_sample/blob/main/macos/Runner/Info.plist) Info.plist files, like the following example.

[code]

@cjwhit

[2021-09-19 20:55] Elias8 commented on #462
Hi @q172107875 👋

Thanks for opening an issue!

Could you please describe the issue you are having?

Thanks!

[2021-09-20 04:59] q172107875 commented on #462
As shown in the figure, the WeChat sharing text prompt does not support the sharing type. The problem occurs on IOS devices, and Android devices can share normally. As mentioned earlier, this split has not been resolved on other versions, and the same is true for Facebook.

[2021-09-20 08:36] nori-flutter opened #464 "[connectivity_plus_macos] build error"
## System info

Issue occurs on: macOS
Plugin name: connectivity_plus_macos
Plugin version: 1.1.0
Flutter doctor output: No issue
Flutter: 2.5.1

## Steps to Reproduce
Build app with connectivity_plus for macos

## Logs
[code]

[2021-09-20 09:06] nori-flutter commented on #464
Resolved by updating the macos/Podfile

[code]

Set macOS deployment target to 10.14

Found the info in connectivity_plus_macos-1.1.0/CHANGELOG.md

NOTE:
Setting the macOS deployment target to 10.14 by Xcode was not enough.

[2021-09-20 09:06] #464 closed

[2021-09-20 12:11] shubh420 commented on #447
Any update on this?
I am also facing this issue. UUID is getting reset after app update.

[2021-09-20 12:33] tejtechtonic commented on #447
Try this [https://pub.dev/packages/flutter_udid](flutter_udid), it gives accurate and static id.

[2021-09-20 18:01] alexbatalov opened #465 "Unable to bootstrap this repo with flutter 2.5+"
There is a version conflict in `integration_test` specified in example apps with the one bundled in Flutter 2.5 which prevents bootstrapping repo. Reproducible on macOS 11 and Windows 7, Flutter 2.5.0, 2.5.1.

## Steps to Reproduce

1.  Clone: `git clone https://github.com/fluttercommunity/plus_plugins.git`
2. Bootstrap: `melos bootstrap`

## Logs

[code]

[code]

[2021-09-22 09:57] Tromp6 opened #467 "android_alarm_manager_plus starts application"
## System info

Issue occurs on: iOS / Android / both
Plugin name: android_alarm_manager_plus
Plugin version: 1.2.0
Flutter doctor output:

[code]

## Steps to Reproduce
I expected that only the code passed to the AndroidAlarmManager.oneShotAt function gets executed, so that only the isolate starts but instead my whole application is launched, BUT its launched somehow in the background, its not vi

[2021-09-22 10:57] huynguyennovem opened #468 "[share_plus] Cannot share file to itself on iOS"
## System info

Issue occurs on: **iOS 14.5 (Iphone 12 Pro Emulator)**
Plugin name: **share_plus**
Plugin version: **2.1.4**
Flutter doctor output:

[code]

## Steps to Reproduce

1. Pick a file from the phone (image for eg)
2. Share the picked file. Then only see an enter text dialog appear then disappear instantly.

- Demo:

https://user-images.githubusercontent.com/29337364/134331550-cc420311-d

[2021-09-23 15:30] TomBenaiteau commented on #431
Same here

Doctor summary (to see all details, run flutter doctor -v):
[✓] Flutter (Channel stable, 2.5.1, on macOS 11.4 20F71 darwin-arm, locale fr-FR)
[✓] Android toolchain - develop for Android devices (Android SDK version 31.0.0)
[✓] Xcode - develop for iOS and macOS
[✓] Chrome - develop for the web
[✓] Android Studio (version 2020.3)
[✓] VS Code (version 1.60.0)
[✓] Connected device (2 availa

[2021-09-23 20:16] fernando-s97 commented on #430
I'm also facing the same issue on Android.

Can you clarify for us @echomartha?

[2021-09-23 20:17] fernando-s97 commented on #419
Any updates on that?

[2021-09-24 05:28] ziasultan2 opened #469 "Flutter project upgrade to 2.5.1"
I'm trying to upgrade my existing project to 2.51

## System info

Issue occurs on: iOS

[code]

## Steps to Reproduce

flutter run

## Logs

[code]

[code]

[code]

[2021-09-24 19:10] lrferreiro commented on #469
I upgrade flutter to 2.5.1 and when I execute: `flutter run -v`

<img width="1154" alt="Captura de pantalla 2021-09-24 a las 3 08 14 p  m" src="https://user-images.githubusercontent.com/23462277/134727698-29cc97cc-8437-4a24-88a5-5512b71f2028.png">

[2021-09-26 05:01] teddysbeach commented on #337
It worked for me! Thanks

[2021-09-28 04:35] mhadaily commented on #453
@softplace-io can you confirm if it works and close this issue?

[2021-09-28 04:36] mhadaily commented on #452
@quachanhdung can you elaborate more? and add step to reproduce?

[2021-09-28 06:53] juliansteenbakker opened #471 "[all] Migrate from deprecated pedantic to flutter_lints"
## Proposal
Right now, all packages use pedantic. Pedantic however is discontinued. The Google team recommends using https://pub.dev/packages/flutter_lints for flutter packages. We should migrate all packages to this linter.

[2021-09-28 11:04] adityathakurxd commented on #471
Can I work on this issue @mhadaily?
I am new to `flutter_lints` but look into it and migrate all packages to this linter.

[2021-09-28 11:07] mhadaily commented on #471
It's all yours. @adityathakurxd

[2021-09-28 11:39] daniellampl commented on #441
@mhadaily I would like to work on that

[2021-09-28 11:39] wangdenkun commented on #434
listen the status, then will be ok. I`m using 1.1.0
[code]
pathMonitor.start called until plugin be listened.

[2021-09-28 12:23] infiniteoverflow commented on #455
i would like to work on this issue @mhadaily

[2021-09-28 12:34] infiniteoverflow commented on #455
@hasanm08 So would you like to have a new method `shareMedia()`, that shows you an option to choose between Image or Video, and based on the option selected, it should open a new picker screen ?

[2021-09-28 12:42] hasanm08 commented on #455
I need just a method to share media when needed now sharefile won't work well for images for example images in telegram will compress but files wouldn't. I think no new screen is needed like share in the gallery

[2021-09-28 21:24] lucasratske commented on #431
Same error here:

[✓] Flutter (Channel stable, 2.2.3, on macOS 11.5.2 20G95 darwin-x64, locale en-BR)
[✓] Android toolchain - develop for Android devices (Android SDK version 30.0.3)
[✓] Xcode - develop for iOS and macOS
[✓] Chrome - develop for the web
[✓] Android Studio (version 4.1)
[✓] VS Code (version 1.60.2)
[✓] Connected device (2 available)

[2021-09-29 08:03] #337 closed

[2021-09-29 08:33] mhadaily commented on #441
it's all your @daniellampl

[2021-09-29 17:44] mhadaily commented on #176
go for it @Boehrsi

[2021-09-30 02:45] navczydev commented on #245
@mhadaily , I would like to work on this issue.

[2021-09-30 05:55] speedlightwp commented on #405
Try to use this instead?

image.writeAsBytesSync(bytes);

[2021-09-30 06:16] mhadaily commented on #245
@navczydev go ahead,looking forward to the PR.

[2021-09-30 13:00] rktejesh commented on #460
Can I work on this issue @hekhy

[2021-09-30 14:42] hekhy commented on #460
Gracias, lo espero con ganas! :)

[2021-09-30 14:42] hekhy commented on #460
Thank you, I look forward to it! :)

[2021-09-30 15:31] gutisalex opened #474 "Connection to mobile wifi router returns ConnectivityResult.none on windows"
### System info
Issue occurs on: Windows 10
Plugin name: connectivity_plus
Plugin version: 1.1.0

The connectivity plugin with a connection to an alcatel mobile wifi router returns ConnectivityResult.none on windows. Android and IOS working. The wifi connection on Windows also says that there is no internet, eventhough the router is connected to the internet just doesn't have datavolume available.

[2021-09-30 18:30] mhadaily commented on #460
@rktejesh please go ahead. that would be awesome.

[2021-09-30 19:07] BLKKKBVSIK commented on #457
Hi, @raulmabe.

Do you still encounter the issue?
I can't reproduce it as well as the #380.

https://user-images.githubusercontent.com/20175372/135515693-f5597891-2f01-4225-bd24-f298b6c48a48.mov

[2021-09-30 19:15] raulmabe commented on #457
You are right, I no longer encounter this issue! I honestly don't know what fixed it

[2021-09-30 19:15] #457 closed

[2021-09-30 19:24] BLKKKBVSIK commented on #380
Hi, @aytunch.

Do you still encounter the issue?
I can't reproduce.

Linked video of my try:
https://youtu.be/7y7OJsGqLG8

[2021-09-30 20:19] champ96k commented on #468
Hi @huynguyennovem   👋
Thanks for opening an issue!

@mhadaily can you please assign me this issue, I would love to take it.
Thanks!

[2021-09-30 20:24] champ96k commented on #459
Can I work on this issue @mhadaily

Thanks :)

[2021-09-30 20:29] champ96k commented on #386
@mhadaily can you please assign me this issue I would love to take it.

Thanks

[2021-09-30 21:12] Vikkybliz commented on #469
Upgrade your gradle @lrferreiro @mhadaily

[2021-09-30 23:07] lkmandy commented on #437
Hi @mhadaily
I'll like to work on this issue

[2021-10-01 01:51] ShrutiJ-01 commented on #474
@mhadaily May I work on this issue? I am new to such issues but I'd like to try it!

[2021-10-01 03:19] mhadaily commented on #468
done and thanks @champ96k

[2021-10-01 03:19] mhadaily commented on #459
go ahead @champ96k

[2021-10-01 03:27] mhadaily commented on #437
Go ahead @lkmandy

[2021-10-01 03:32] mhadaily commented on #474
give it try @ShrutiJ-01

[2021-10-01 05:34] thisisamank commented on #471
Hi @adityathakurxd are you currently working on this issue? I would like to assist :)

[2021-10-01 06:57] adityathakurxd commented on #471
Hey @thisisamank, Yes I am working on the issue.
I yesterday setup the local environment. And, was looking into `flutter_lints` documentation. I'll make the PR soon.

[2021-10-01 07:01] juliansteenbakker opened #475 "Who is merging open PR's?"
Right now there are 12 open PR's, with some blocking others. For instance, my pr about deprecation #442 is blocked #466. The last merged PR was on 24 of August. Is anyone looking into this?

[2021-10-01 08:46] gutisalex commented on #474
I can confirm that it has to do with the internet connection. I just topped the datavolume on the sim card in the device and all of the sudden it shows Connectivity.wifi...

[2021-10-01 12:48] aytunch commented on #380
Hi @BLKKKBVSIK thanks for the great yt video you provided. Looking at it, I guess `share_plus` implemented this feature for iOS.
I implemented my own plugin for iOS and I am using it currently.
https://github.com/aytunch/instagram_video_story_share

[2021-10-01 12:48] #380 closed

[2021-10-01 13:44] BLKKKBVSIK commented on #375
@jackmchristie Are you still running into this issue?
It seems that I can't reproduce it.

[2021-10-01 14:14] BLKKKBVSIK commented on #375
@jackmchristie Hi.
Do you still encounter this issue?
I can't reproduce it.

[2021-10-01 15:18] JamiuJimoh commented on #446
Can I work on this? @mhadaily

[2021-10-01 15:44] squallsama opened #477 "App crashes when targeting API 31"
## System info

Issue occurs on: iOS / Android / both
Plugin name: android_alarm_manager_plus
Plugin version: 1.2.0
Flutter doctor output:

[code]

## Steps to Reproduce
1. Put 31 version into android\app\build.gradle
2. compileSdkVersion 31
3. targetSdkVersion 31

## Logs
[code]

Looks like PendingIntent should use FLAG_MUTABLE or FLAG_IMMUTABLE in android_alarm_manager_plus

[2021-10-01 15:53] ScottishRoss commented on #446
@mhadaily I may have a solution for this. There was another issue that I can no longer find that was related to this. All I need is some advice on how to set get everything set up so I can package the PR together.

[2021-10-01 17:57] mhadaily commented on #446
@JamiuJimoh  and @ScottishRoss  can you both work on this and see if you have a similar solution ? you may continue here in the comments.

[2021-10-01 18:04] mhadaily commented on #475
@juliansteenbakker  please be patient. with each PR we are communicating to resolve the issues. Most of the PRs were not ready for merging.

I'll get to all of them one by one within the next few days.

But I appreciate your feedback. we must be faster we are working to be better.

[2021-10-01 18:04] #475 closed

[2021-10-01 18:17] mhadaily commented on #459
release new version 2.1.5

[2021-10-01 18:18] #459 closed

[2021-10-01 18:35] mhadaily commented on #465
thanks,
PR is merged.

[2021-10-01 18:35] #465 closed

[2021-10-01 18:37] champ96k commented on #459
@mhadaily  have you fix this issue, or else I can raise PR?

[2021-10-01 18:39] mhadaily commented on #459
@champ96k it seems @duzenko has fixed this issue we had it in our PRs and I just merged it. it's working now. but I'd say you go ahead and test the latest version and if it works, then fine, if not send another PR for edge cases.

[2021-10-01 19:23] theiskaa opened #479 "[connectivity_plus] "onConnectivityChanged" having troubles on receiving results"
Hi, first of all, sorry if it isn't a bug and my problem.

I have problems with listening to the connectivity state changing.

### Steps to reproduce issue:
 - Open the app with wifi network
 - Then turn off wifi (Stream will receive the connectivity result)
 - And then turn on the wifi app won't receive the connectivity result again.

And I tried just printing the results. But also it wasn't rece

[2021-10-01 19:36] juliansteenbakker commented on #475
Ofcourse, it's good to hear people are working on it! If you guys need any help i'd be happy to.

[2021-10-01 19:38] mhadaily commented on #475
Thanks,
You send PRs and review other PRs. it's always great to have more eyes on a PR.

[2021-10-01 19:56] Ravi-lk commented on #401
Hello @mhadaily I will look into this and work on it 😊

[2021-10-01 20:54] lrferreiro commented on #469
Hi @Vikkybliz, my gradle version is 7.2 and my version kotlin version is 1.5.31, only work when update kotlin version to 1.5.21 and the API Android of 31 to 30

[2021-10-01 21:40] JamiuJimoh commented on #446
Alright. @ScottishRoss let's do this

[2021-10-02 07:52] P-B1101 opened #487 "Alarm manager is inexact in periodic method (exact= true is not working)."
## System info

Issue occurs on:Android
Plugin name: Alarm Manager Plus
Plugin version: 1.2.0
Flutter doctor output:

[code]

## Steps to Reproduce

[code]

[code]
## Logs

[code]

The Problem is when I set alarm like the one in above, it maybe work for first or second time but it would be trigger with 3 minute delay or skip a day or once I get reminder with 12 hours delay!!!!
There is this note i

[2021-10-02 10:42] mhadaily commented on #401
@Ravi-lk go for it

[2021-10-02 11:13] ScottishRoss commented on #446
@JamiuJimoh Awesome! So what I did is I made all instances of BinaryMessenger nullable, then in platform_channel.dart (line 150) I modified _invokeMethod to check if binaryMessenger is null:

`Future<T?> _invokeMethod<T>(String method,
      {required bool missingOk, dynamic arguments}) async {
    assert(method != null);
    if (binaryMessenger != null) {
      final ByteData? result = await bina

[2021-10-02 12:54] mhadaily opened #488 "[all]] Transition of platform channel test interfaces to flutter_test package"
We need to take care of this change: https://flutter.dev/docs/release/breaking-changes/mock-platform-channels

[2021-10-02 13:41] Boehrsi commented on #176
@mhadaily I investigated the problem and the fix is actually quite easy, but it comes with a huge draw back (see below). In general the question is should we change something or should we change nothing. A bonus question is if I should at least add a PR with code comments explaining the situation.

**TLDR**
We should probably change nothing and just live with the exception.

**Actual problem:**
If

[2021-10-02 13:53] mhadaily commented on #176
alright, do you mean that `ArrayList<String>` is not supported in any versions on Android?

it seems there are suggestion related to this for example https://stackoverflow.com/a/15577579/1921541

[2021-10-02 14:00] Boehrsi commented on #176
It's supported and it compiles fine. Code and Android wise everything is okay.

The problem is:
We are preparing the Intent and then it's delivered to other apps on the device. The user chooses one app and this external app then parses the Intent. Those receiving apps seem not to implement handling for a list of message strings for the `EXTRA_TEXT` field. They only handle the case with one String.

[2021-10-02 14:03] mhadaily commented on #176
alright, then what we can do is to release a new Major version (breaking change) and explain the new requirement. what do you think?

[2021-10-02 14:14] Boehrsi commented on #176
Yeah this is an option, but I think it could be a better idea to live with the currently working setup and keep the invisible and non-breaking exception.
In general I would always favor a clean, exception free and structured solution, but in this case I would rather keep the current setup.
The reason is that we currently have a working setup, which isn't beautiful, but it fits the real world requi

[2021-10-02 14:16] mhadaily commented on #176
Makes sense.
However, how can people now share multiple files? that's actually an issue right now I believe we have several open issues related to this.

[2021-10-02 14:23] Boehrsi commented on #176
The sharing works completely fine right now, e.g. with the example app. The subject, text and all files are successfully shared with most other apps. The exception is thrown but doesn't crash anything.

There are other issues related to sharing but those aren't directly related to this problem. I saw some of the other issues where sharing with specific apps weren't possible. Those apps probably im

[2021-10-02 14:28] mhadaily commented on #176
I think I would agree with you at the moment.

let's keep it as is for now until we find a better solution.

thanks for debugging.

[2021-10-02 14:42] Boehrsi commented on #176
Sure thing, planned to help here a long time ago and finally found the trigger with the Hacktoberfest. I will have a look for some other issues and if I find some Android related sharing ones where I can help, I happly will.
If I encounter Android news in regards to this topic I will contact you if some sharing rewrites could be feasible in the future.

[2021-10-02 14:57] Boehrsi commented on #362
@mchlsndrn does the actual sharing works beside the thrown exception? I just tested it with the same emulator configuration and I can confirm the exception, but it's silent and the sharing itself works fine for me. More context can be found here https://github.com/fluttercommunity/plus_plugins/issues/176

[2021-10-02 15:04] Boehrsi commented on #455
@hasanm08 do you know any app capable of doing that, so we can have look how other developers approaching this?
Even though I like the idea, I'm quite unsure if this is possible with the share / Intent setup the Android system provides. I just tested my default file explorers and Google Photos and those for example aren't providing such a feature.

[2021-10-02 19:11] loud-at-heart commented on #479
@theiskaa can I take up this task

[2021-10-02 19:14] loud-at-heart commented on #445
@mhadaily @thealteria can I take up this task?
I would love to fix it

[2021-10-02 19:16] loud-at-heart commented on #406
@mhadaily can I work on this task?

[2021-10-02 19:26] theiskaa commented on #479
@loud-at-heart Sure thing.

[2021-10-02 20:31] Boehrsi commented on #413
I did some research regarding this topic (if someone knows other / more information please correct me) and it seems like it's not working with this plugin (or with the whole native Android sharing concept in general) as Facebook decided to not implement / block the normal sharing flow. Keeping this in mind it's actually hilarious that Facebook is blaming you that stuff is not working.

My findings

[2021-10-02 20:42] vbuberen commented on #487
@mhadaily Would like to pick it up and work on it

[2021-10-02 21:45] JamiuJimoh commented on #446
@ScottishRoss i'm sorry for the late reply. I just got everything setup on my PC. I can't find the platform_channel.dart file.

[2021-10-03 04:42] ralphvmo commented on #479
Sometime it happens. But the problem that I face is that when I turn on the wifi then the connectivity result is none and vice versa when I turn off the wifi, the connectivity result is wifi. Does that library work like this or this is a bug ?

[2021-10-03 08:53] LukaGiorgadze commented on #479
@theiskaa I think it would be nice if you post the code so everyone can reproduce this bug.

[2021-10-03 09:40] mhadaily commented on #487
go ahead @vbuberen

[2021-10-03 09:42] mhadaily commented on #406
sure, @loud-at-heart

[2021-10-03 09:43] mhadaily commented on #406
@loud-at-heart it seems we have a solution for this already, @tarektaamali can you confirm if the proposed solution works for you? and if so, please close this issue, if not, let @loud-at-heart know

[2021-10-03 09:44] mhadaily commented on #445
sure, waiting for your Pr @loud-at-heart

[2021-10-03 10:22] theiskaa commented on #479
@LukaGiorgadze I copied it from the documentation, so I didn't write anything with myself. But, anyway I'll:

<details>
  <summary>Code </summary>

[code]

[2021-10-03 17:03] ScottishRoss commented on #446
@JamiuJimoh Yeah, it's a Flutter file, so let's not do that! My bad.

[2021-10-03 17:30] JamiuJimoh commented on #446
Alright. I'll keep on debugging. I'll let you know when I find something. I'm checking where the error is coming from and then i'll check what's causing it.

[2021-10-03 19:00] #477 closed

[2021-10-03 19:02] mhadaily commented on #477
ner version released thank to @ThexXTURBOXx

[2021-10-03 19:17] mhadaily commented on #240
version 1.3.0 published

[2021-10-03 19:17] #240 closed

[2021-10-03 20:21] hasanm08 commented on #455
As I mentioned before telegram messenger is a good example of share pictures in file or media mode

[2021-10-03 20:24] Boehrsi commented on #455
Sorry for the misunderstanding I meant the sending, not the receiving part. So an app that provides e.g. an image in the special format / style Telegram requires to handle it as media data and not as file. I'm using Telegram myself so I'm totally aware of the functionality itself. But I was only able to trigger this from inside Telegram, never from any external app via the sharing functionality.

[2021-10-03 20:27] hasanm08 commented on #455
https://pub.dev/packages/akvelon_flutter_share_plugin you can check this package too due to its metadata it can share text files and medias

[2021-10-03 20:31] Boehrsi commented on #455
Thanks for the hint 👍. So this plugin can actually share an image from my app XYZ to for example Telegram and Telegram is then able to handle it as media data or normal file? If so I will have a look how it's done and if it's adaptable to share_plus.

[2021-10-03 21:53] squallsama opened #493 "Build failed with android_alarm_manager_plus:1.3.1"
## System info

Issue occurs on: Android
Plugin name: android_alarm_manager_plus
Plugin version: 1.3.1
Flutter doctor output:

[code]

## Steps to Reproduce

1. add `  android_alarm_manager_plus: ^1.3.1` to dependencies:
2. flutter pub get
3. flutter run

## Logs

[code]

[2021-10-03 22:14] JamiuJimoh commented on #446
@mhadaily I was able to run the example in the android_alarm_manager_plus yesterday.  Today I'm getting this error:
`C:\Users\hyper\Development\plus_plugins\packages\android_alarm_manager_plus\android\src\main\java\dev\fluttercommunity\plus\androidalarmmanager\AlarmService.java:139: error: cannot find symbol
            (Build.VERSION >= 23 ? PendingIntent.FLAG_IMMUTABLE : 0)
             ^
  symb

[2021-10-03 22:23] JamiuJimoh commented on #446
@mhadaily I was able to run the example in the android_alarm_manager_plus yesterday. Today, I'm getting a compliation error:

` error: cannot find symbol
            (Build.VERSION >= 23 ? PendingIntent.FLAG_IMMUTABLE : 0)
             ^
  symbol:   variable Build
  location: class AlarmService`

[2021-10-04 07:24] qcuong97 commented on #493
i also have the same problem

[2021-10-04 09:15] squallsama commented on #493
Folks, do you have any CI to check build success before merging Pull Request ? This bug was introduced in https://github.com/fluttercommunity/plus_plugins/pull/486

There should be additional import line:
`
import android.os.Build
`

[2021-10-04 10:10] ScottishRoss commented on #446
@mhadaily This appears to be an issue with Flutter. The only solution I can see is to use WidgetsFlutterBinding.ensureInitialized(), which is what is used in the example.

I don't think there can be a fix for this.

[2021-10-04 10:27] vbuberen commented on #493
Also found this issue and fixed it in my fork. Going to open a PR in ~20 minutes. There is not only missing import, but also wrong variable used to get Android version.

[2021-10-04 11:50] miquelbeltran commented on #446
Since the issue is unrelated to the package, is it fine to close this issue?

[2021-10-04 12:28] JamiuJimoh commented on #446
@miquelbeltran i think so

[2021-10-04 12:38] ScottishRoss commented on #446
@miquelbeltran I would say so. I would suggest adding my suggestion of WidgetsFlutterBinding.ensureInitialized() into the ReadMe.

[2021-10-04 17:15] Boehrsi commented on #455
I have had a look into the mentioned library and can conclude the following findings:

- flutter-share-plugin uses the same approach as share_plus, just the exposed Dart / Flutter API differs
  - flutter-share-plugin provides e.g. the `shareImage` and `sharePdfs` methods to share specific data
  - share_plus uses the more generic approach of one `shareFiles` method, but allows via the `mimeTypes`

[2021-10-04 20:00] vbuberen commented on #487
@P-B1101 I believe that #496 fixes the issue, so I would like to ask you to test your app using version from PR in same conditions, but with additional `allowWhileIdle` parameter.

[2021-10-05 01:30] #488 closed

[2021-10-05 01:56] #493 closed

[2021-10-05 08:58] miquelbeltran opened #498 "[network_info_plus] Missing method wifiIPv6Address on MacOS implementation"
Calling to `getWifiIPv6` will cause an error on MacOS.

The platform channel method is missing here:

https://github.com/fluttercommunity/plus_plugins/blob/fc4ea218e46f4fe5b6e24cf316a8e05991107919/packages/network_info_plus/network_info_plus_macos/macos/Classes/NetworkInfoPlusPlugin.swift#L36

[2021-10-05 10:00] #498 closed

[2021-10-05 10:02] miquelbeltran opened #501 "[network_info_plus] Implement Submask, Broadcast and Gateway Address on MacOS"
Currently the plugin returns empty strings, the implementation is missing.

The iOS implementation can be used for this.

[2021-10-05 10:02] #487 closed

[2021-10-05 10:45] Shiba-Kar opened #503 "[android intend] how to open google lense !!"
how to launch ``` com.google.android.google.lequicksearchbox ``` or ```com.google.ar.lens```

[2021-10-05 11:17] miquelbeltran opened #504 "Add Code of Conduct"
Can be done here: https://github.com/fluttercommunity/plus_plugins/community/code-of-conduct/new?template=contributor-covenant

Assigning to Majid ;)

It is a nice to have, just two clicks to add, but I didn't know which contact email to give, so I leave that to you.

[2021-10-05 11:37] juliansteenbakker opened #505 "[all] Upgrade to latest gradle versions"
Right now most of the packages use old versions of Gradle like 3.5.0.

The latest version of the Gradle plugin is 7.0.2 however this requires Java 11 instead of 8.
This will require the CI street to also upgrade to Java 11 [and can be done with the following action](https://github.com/actions/setup-java#setup-java).

[2021-10-05 11:41] vbuberen commented on #505
I am already updating some of packages along with dependencies.

As to Java 11 - it is available by default on runners:
https://github.com/actions/virtual-environments/blob/main/images/macos/macos-11-Readme.md#java
https://github.com/actions/virtual-environments/blob/main/images/linux/Ubuntu2004-README.md#java

[2021-10-05 11:58] vbuberen opened #506 "CI doesn't check if plugins build properly"
It seems that job `build_examples_dart` is configured in a wrong way, so build fails on individual platforms aren't breaking builds and show step as successful in any case. For example, due to this configuration issue it is not detected that #495 broke examples on Android (see the attached screenshot).

<img width="1645" alt="Screenshot 2021-10-05 at 14 53 53" src="https://user-images.githubuserco

[2021-10-05 14:09] juliansteenbakker commented on #505
I have made a PR for every package that upgrades to the latest version of gradle, android and updated other dependencies if present. Besides that i also applied some code improvements if possible.

[2021-10-05 15:33] miquelbeltran commented on #505
Thanks you both for these contributions. I am reviewing the changes and will release the updated packages at once soon. Please let me know when this issue can be closed.

[2021-10-05 15:37] rgisi opened #514 "PackageInfo.version is wrong when app is upgraded via Play Store"
PackageInfo.version is wrong when app is upgraded via Play Store, but is correct again after re-installing the app.
(Most recent app version is 2.3.0; displayed 2.0.0 after upgrading, displays 2.3.0 correctly after re-install.)

## System info

Issue occurs on: Android
Plugin name: package_info_plus
Plugin version: 1.2.1
Flutter doctor -v output:

[√] Flutter (Channel stable, 2.5.2, on Microsoft W

[2021-10-05 15:43] mhadaily commented on #506
That's a good catch, are you up for a PR to fix it? or should I do that?

[2021-10-05 17:05] juliansteenbakker commented on #505
@miquelbeltran thanks for reviewing! Is there any reason as why #442 isn't merged?

[2021-10-05 20:49] mzkai opened #516 "[connectivity_plus] Upgrading to version 2.0.1 causes 'error: lambda expressions are not supported in -source 7'"
## System info

Issue occurs on: Android
Plugin name: connectivity_plus
Plugin version: 2.0.1

Flutter doctor output:

[code]

## Steps to Reproduce
Installing version 2.0.1 gives me the following error when running 'flutter build appbundle --release':

[code]

## Steps taken
The following steps have been taken before running the build command:
1) flutter clean
2) rm -rf .pub-cache/
3) flutter pub

[2021-10-05 21:31] jasonJamEther commented on #413
I am getting the same result on ios when sharing to facebook messenger. `Share.shareFiles([file.path], text: 'share text goes here');`
results in the image appearing as expected in messenger but the message text is empty.

[2021-10-06 06:25] #301 closed

[2021-10-06 06:26] miquelbeltran commented on #505
no particular reason, we are just a bit overwhelmed at the moment, but I am trying to get as much PRs merged as possible

[2021-10-06 06:36] #504 closed

[2021-10-06 07:49] #516 closed

[2021-10-06 08:22] tejtechtonic opened #523 "lambda expressions are not supported in -source 1.7"
## System info

Issue occurs on: iOS / Android / both
Plugin name: Connectivity Plus
Plugin version: 2.0.1

## Logs

[code]

[code]

[code]

[2021-10-06 10:15] TheGlorySaint opened #524 "Null check operator used on a null value _CastError"
I want to implement, that when the User has no Internet Connection(Not Connected to Wlan, Ethernet or Cellular) to display a separate Page. For that I use the connectivity_plus Plugin in Version 2.0.1, Flutter 2.5.2 and **NO** Null-Sound-Safety.

Switching the Smartphone to Airplane mode from Wlan or Cellular Connection the InternetConnection Page is displayed but disabling Airplanemode and having

[2021-10-06 10:27] #446 closed

[2021-10-06 12:59] miquelbeltran commented on #523
Seems that the issue was introduced recently in 2.0.0. In the meanwhile please use 1.0.0 I will take a look at this.

[2021-10-06 13:20] miquelbeltran commented on #523
I can't reproduce the issue with the example project shipped in the plugin, running it for Android.

Can you provide the `build.gradle` files of your project?

The Android `build.gradle` files probably need an upgrade, check the ones in the example project, like here: https://github.com/fluttercommunity/plus_plugins/blob/main/packages/connectivity_plus/connectivity_plus/example/android/build.gradl

[2021-10-06 13:21] miquelbeltran commented on #523
also paging @juliansteenbakker who worked on those changes recently

[2021-10-06 13:23] juliansteenbakker commented on #523
This is already fixed in #521

[2021-10-06 13:26] #523 closed

[2021-10-06 13:28] tejtechtonic commented on #523
okay thanks @miquelbeltran

[2021-10-06 14:09] MrCube72 opened #525 "android_intent_plus returning value"
Hi!

I try to use android_intent_plus plugin to start an another android application that made bankcard operations (pay with bankcard). How can i get the returning value of this another application? (paying is successful or not - if not, i will show an error message in my application)
Thanks for your answer

## Use case

## Proposal

[2021-10-06 14:55] Boehrsi commented on #413
You are welcome @Ciock I'm happy I could provide some information and I'm sorry that the other libraries aren't helpful.

@mhadaily Could it be a good idea to document this topic? I could provide a PR to avoid more confusion in this area.

[2021-10-06 15:20] gutisalex commented on #474
any news on this?

[2021-10-06 17:40] Tromp6 commented on #467
Yes sorry, I was expecting that only the isolated is launched independent from the Main application.

[2021-10-06 19:09] vbuberen commented on #506
I will give it a try and write back in case I have issues fixing it.

[2021-10-06 19:50] SalishKumar opened #526 "PlatformException(error, Missing type parameter., null, java.lang.RuntimeException: Missing type parameter."
## System info

Issue occurs on:Android
android_alarm_manager_plus:
1.3.1:
Flutter doctor output:

salishkumar@Salishs-MacBook-Pro Say-thankyou-dev % flutter doctor
Doctor summary (to see all details, run flutter doctor -v):
[✓] Flutter (Channel stable, 2.5.2, on macOS 11.4 20F71 darwin-arm, locale en-PK)
[!] Android toolchain - develop for Android devices (Android SDK version 30.0.3)
    ✗ Androi

[2021-10-07 04:40] varunbhalerao56 commented on #198
Hey, I am running into the same problem, it works perfectly on android, but when using a stream it does not work on iOS. Using iPhone 12 simulator with iOS version 14.5. My build target for ios is 11.0.

@DotSyndicate is the method you are using working for iOS?

[2021-10-07 06:13] alexbatalov commented on #479
This is a pretty old bug that only affects simulator. See ashleymills/Reachability.swift#151. I have tested both `Reachability.swift` and `NWPathMonitor` and they both report changes in host Wi-Fi incorrectly. Both work fine on physical devices. Guess we should note that in docs.

[2021-10-07 08:44] vbuberen commented on #506
Please note that I am already working on updating this workflow

[2021-10-07 11:06] aatikakhan opened #528 "android:exported needs to be explicitly specified for <receiver>. Apps targeting Android 12 and higher are required to specify an explicit value for `android:exported` when the corresponding component has an intent filter defined."
getting this issue after latest update while using alarm manager.
Flutter doctor summary is here:

And here is AndroidManifest.xml file:
[code]

[2021-10-07 12:53] #528 closed, assigned to nobody

[2021-10-07 16:16] justacid opened #531 "[share_plus] crashes on iOS when a share text starts with https://"
The recently added URL detection on iOS crashes if a share text starts with `https://` followed by some other text. Presumably because the NSURL object is nil if an invalid url is encountered. This was introduced with commit 4ede365b696b6245e346b8c50cf9b620961e344c.

## System info

Issue occurs on: iOS
Plugin name: share_plus
Plugin version: 2.1.5+

## Steps to Reproduce

Simply call share with a

[2021-10-07 20:34] jasonJamEther opened #532 "[share_plus] Instagram caption blank"
I am using this plugin to post an image and text to social media platforms. There are a few limitation I am encountering on a few Social platforms:

share_plus: ^3.0.2

`Share.shareFiles(
        [file.path],
        mimeTypes: ['image/png'],
        text: shareText,
      );`

Instagram (iOS and Android) - Image posts but caption is empty. Does not populate with text value.
Facebook (iOS and Andr

[2021-10-08 05:45] aatikakhan opened #534 "Manifest merger failed : android:exported needs to be explicitly specified for <receiver>. Apps targeting Android 12 and higher are required to specify an explicit value for `android:exported` when the corresponding component has an intent filter defined."
AndroidManifest.xml here:
[code]

Flutter doctor summary here:

[code]
build.gradle(:app) here:
[code]

[2021-10-09 06:30] HosseinAsadi opened #539 "Error: Unsupported operation: Platform._operatingSystem"

[2021-10-09 07:11] #539 closed

[2021-10-09 09:21] hasanm08 opened #540 "Android 12"
## System info

The issue occurs on Android 12
Plugin name: connectivity_plus
Plugin version: 2.0.2

Hi, I tried this package on the android 12 emulator and it couldn't detect the connection please check and fix this issue

[2021-10-09 11:24] chetan-AD commented on #436
Thanks @mark-kascheev. It worked tested on edge, chrome and Safari on Mac & Windows both.

Even-though in my official windows laptops **html.window.navigator.onLine** always return true even when wifi is off. Not sure about reasons.

[2021-10-09 14:57] Boehrsi commented on #455
During the last days I tried to investigate the situation from the other side, so not the "share something from this plugin", but the "what does eg. Telegram actually support / require to have media and file sharing" part.
I was hoping to find some specific information which can be generalized and added to the library, but sadly I found nothing. Except for other users trying to achieve more or les

[2021-10-10 01:52] lkmandy commented on #428
I will like to work on this issue

[2021-10-10 05:59] hasanm08 commented on #540
it was my emulator issue, I fixed it now thanks for your time :)

[2021-10-10 05:59] #540 closed

[2021-10-10 08:59] hasanm08 commented on #455
this is my share method
[code]
I Hope it helps you

[2021-10-10 11:54] Shiba-Kar commented on #503
@alexbatalov  working perfectly !!

[2021-10-11 06:27] #437 closed

[2021-10-11 06:52] archercod opened #542 "Multiple targets match implicit dependency for linker flags '-framework Reachability'."
Hello,
When I add network_info_plus and connectivity_plus I got this this error when I try to archive app, do You have some ideas how to solve this?

: Multiple targets match implicit dependency for linker flags '-framework Reachability'. Consider adding an explicit dependency on the intended target to resolve this ambiguity. (in target 'Flutter Assemble' from project 'Runner')
    note: Target 'R

[2021-10-11 09:44] archercod commented on #542
@alexbatalov is there any chance to push this pr with fix?

[2021-10-11 16:06] shessafridi opened #544 "Can't find a way to run ACTION_MANAGE_ALL_FILES_ACCESS_PERMISSION"
How can I run e` ACTION_MANAGE_ALL_FILES_ACCESS_PERMISSION` intent

I checked out this page https://developer.android.com/reference/android/content/Intent#intent-structure but can't find it.

I need to figure out what to put as the action argument

I tried
`android.settings.MANAGE_APP_ALL_FILES_ACCESS_PERMISSION`
`ACTION_MANAGE_ALL_FILES_ACCESS_PERMISSION`
`action_manage_all_files_access_permissio

[2021-10-11 17:15] Boehrsi opened #545 "[share_plus] mimeTypes parameter of shareFiles method is missing documentation"
## System info

Issue occurs on: both
Plugin name: share_plus
Plugin version: 3.0.2

## Steps to Reproduce

1. Open https://pub.dev/documentation/share_plus/latest/share_plus/Share/shareFiles.html or view the in-code documentation while developing
2. The `mimeTypes` parameter of the `shareFiles` method is missing documentation.

## More information

Already prepared a hopefully fitting PR.

[2021-10-12 00:33] kyle-seongwoo-jun commented on #542
same problem here

[2021-10-12 04:37] Shiba-Kar opened #548 "[android_intend_plus] how to launch componets in com.google.android.googlequicksearchbox"
**I want to access the google lens activity  which is present in the google Quick Search bar _(com.google.android.googlequicksearchbox)_**

#503 shows how can you launch if the google lens APP is install . Searching a way to launch the inbuild google lens activity which is shipped with google quick search.

So, coded the below no luck.

[code]

Am I missing something here !!

[2021-10-12 05:15] kyle-seongwoo-jun opened #549 "[network_info_plus] Build Failed on 1.1.0 or later version"
## Steps to Reproduce

1. (before 1.1.0 is released) Use the 1.0.2 or older version.
2. `network_info_plus_platform_interface` will be restored with 1.0.1 version.
3. (after 1.1.0 is released) Update version to 1.1.0 or later version.
4. `network_info_plus_platform_interface` should be 1.1.0, but it's still 1.0.1 version, so it always fails to build.

## Logs

#### iOS build
[code]

#### Android B

[2021-10-12 09:14] jjvu-xiao opened #551 "In Flutter 2.0, package_info_plus conflicts with Flutter_keyboard_visibility"
Because flutter_keyboard_visibility >=5.0.0 depends on flutter_keyboard_visibility_platform_interface ^2.0.0 which depends on plugin_platform_interface ^2.0.0, flutter_keyboard_visibility >=5.0.0 requires plugin_platform_interface ^2.0.0.
And because url_launcher_platform_interface 1.0.9 depends on plugin_platform_interface ^1.0.1 and no versions of url_launcher_platform_interface match >1.0.9 <2.

[2021-10-12 11:20] #506 closed, assigned to nobody

[2021-10-12 11:21] #549 closed, assigned to nobody

[2021-10-12 12:31] #505 closed

[2021-10-12 12:46] JigneshPatel23 commented on #432
@mhadaily seems like it is fixed with last merged PR or not yet?

[2021-10-12 23:25] #432 closed, assigned to nobody

[2021-10-13 06:52] #545 closed, assigned to nobody

[2021-10-13 09:15] venzeo opened #560 "Return Human Readable Name of the device (Commercial name)"
## Use case
Users are confused it they see name of their device is "iPhone 14,5" or "Samsung SM-G991".

## Proposal
Instead of

- iPhone 14,5 we can show human readable name: "iPhone 13"
- Samsung SM-G991 we can get "Samsung S21"

Plugin should still return iPhone 14,5 to not create any compatibility issues. But new parameter would be great to add "commercialName" or something similar...

**DATABA

[2021-10-13 09:33] #531 closed, assigned to nobody

[2021-10-14 04:10] wangmir opened #562 "Change Android intent to use list of categories."
## Use case

Android can hold multiple category with arraySet,

[code]

but, current version of intent plugin only support single category for that,

https://github.com/fluttercommunity/plus_plugins/blob/6878525d325d974be852accb2e0d7eebc80563ab/packages/android_intent_plus/android/src/main/java/dev/fluttercommunity/plus/androidintent/MethodCallHandlerImpl.java#L77

https://github.com/fluttercommun

[2021-10-14 04:11] wangmir commented on #562
If u want, I can make a PR for this.

[2021-10-14 07:52] tengyeekong opened #563 "Conflicts between connectivity_plus and Reachability on iOS"
## System info

Issue occurs on: iOS
Plugin name: connectivity_plus
Plugin version: ^2.0.2

## Steps to Reproduce

App launched and stuck at splash screen.

## Logs

<img width="607" alt="Screenshot 2021-10-14 at 3 48 39 PM" src="https://user-images.githubusercontent.com/19898540/137274253-158dfd28-74b3-4a73-83b3-33f56178cb15.png">

<img width="779" alt="Screenshot 2021-10-14 at 3 47 29 PM" src="h

[2021-10-14 08:51] archercod commented on #542
After this changes, connectivity always return wifi connection on, even when turned off

[2021-10-14 09:24] archercod opened #564 "[connectivity_plus] MacOS wrong connection result"
Even if I have wifi off connectivity_plus give me wifi in result

[2021-10-14 15:58] davejlin opened #565 "Android: Execution failed for task ':connectivity_plus:compileReleaseJavaWithJavac' with 2.0.2, compileSdkVersion 31"
## 🐛 Bug Report

Android build fails with:

[code]
[code]

The latest I can successfully build with:

[code]

<details>
  <summary>flutter doctor -v</summary>

[code]
</details>

<details>
  <summary>console output</summary>

[code]
</details>

<details>
  <summary>app/android/app/build.gradle</summary>

[code]
</details>

<details>
  <summary>app/android/gradle.properties</summary>

[code]
</deta

[2021-10-15 07:34] TheCarpetMerchant opened #566 "[android_alarm_manager_plus] Send objects with an Isolate spawned by the app."
## System info

Issue occurs on:  Android
Plugin name: android_alarm_manager_plus
Plugin version: 2.0.2
Flutter doctor output:

[code]

## Steps to Reproduce

As you can see in the output below, the error is
[code]
From an Isolate I spawned myself (see attach main.dart).

The trouble I'm running into is that I spawn an Isolate that needs to be accessed by the app and by the Alarm Manager Isolate (

[2021-10-15 16:00] #565 closed, assigned to nobody

[2021-10-16 08:49] sudo-saksham commented on #228
Hey, here I tried to do this but the code is getting only activeNetworkInfo() (so even if both WiFi and Mobile Network is connected, then only the one through which we browse will return). Is there any method from which we can access all the network connections the device currently has. I looked in the docs and found out that **[getAllNetworks](https://developer.android.com/reference/android/net/C

[2021-10-16 15:54] anaurelian commented on #282
I'm having the same issue.

When I use `android_intent_plus: ^3.0.1`, the `android/app/build/` directory is created, with dozens (hundreds?) of files. This directory is not in any `.gitignore`, so Android Studio asks to add all those files to the git commit.

I also tried with the now deprecated `android_intent: ^2.0.2` plugin, and the same thing happens.

@jongkb's workaround works.

I didn't enc

[2021-10-17 06:13] aatikakhan commented on #534
Changing `compileSdkVersion` and `targetSdkVersion` to 30 in `build.gradle(:app)` worked. Not working with 31.

[2021-10-17 09:27] Boehrsi commented on #551
@jjva-xiao Thanks for your report. For me this error message looks like a problem between url_launcher and flutter_keyboard_visibility. I don't see any mention of package_info_plus in the error message.
The error message itself should be easily solvable by updating url_launcher to the latest version (6.0.12) as this version uses `plugin_platform_interface: ^2.0.0` which actually leads to the confl

[2021-10-17 12:44] Boehrsi commented on #455
No problem and sorry that I couldn't really help you with the actual problem. I will keep monitoring the sharing area in regards to handling special cases like this and if something new comes up I will try to give new insights or in the best case implementations.

[2021-10-17 15:08] venzeo commented on #560
Maybe it can be an additional optional extension of this library, something what extends the plugin and includes either iOS library or Android Library. So only people who needs it would extend it to save storage within the app.

[2021-10-17 18:45] Boehrsi commented on #560
I really like this idea, as it combines the best of the online and offline approach. But I wouldn’t implement a native iOS / Android part, I would provide just one additional extension library. This library then contains the new call for all platforms and the lookup data (everything handled on the Dart layer, without other native calls than performed by the “normal” device_info_plus plugin).
I wou

[2021-10-18 07:59] venzeo commented on #560
I just checked the size of all Android devices in zipped format 341Kb, unzipped 2.6MB.
@Boehrsi we like your proposal.

[2021-10-18 19:37] fdastgir commented on #563
Getting same issue

[2021-10-19 07:58] comatory opened #567 "[connectivity_plus] `onConnectivityChanged` stream fires result when callback is added on Android"
## System info

Issue occurs on: ~~iOS~~ / Android / ~~both~~
Plugin name: connectivity_plus
Plugin version: 2.0.2
Flutter doctor output:

[code]

## Steps to Reproduce

See reproducible example: [https://gist.github.com/comatory/e682ae5141812e2380fe54561d642b5c](https://gist.github.com/comatory/e682ae5141812e2380fe54561d642b5c)

1. Add `connectivity_plus` as dependency
2. Use `onConnectivityChang

[2021-10-19 08:50] alexbatalov commented on #548
**tl;dr** You can't

---

You can open the search itself, the component name is `com.google.android.googlequicksearchbox.SearchActivity`, which is pretty useless because you can't get any result:
[code]

There are many other activities in the package, including `com.google.android.apps.lens.MainActivity` which is an alias for `com.google.android.apps.search.lens.LensExportedActivity`. If you try t

[2021-10-19 09:54] albatrosify opened #568 "[share_plus] First Share on iPad: very long delay"
## System info

Issue occurs on: iOS
Plugin name: share_plus
Plugin version: 3.0.4

## Logs

[code]

[2021-10-20 06:34] tengyeekong commented on #563
Same result.
If run from Android Studio then the app closed after the splash screen, no error in the log.
If run from Xcode then the app stuck at the splash screen and show "Symbol not found: _OBJC_CLASS_$_Reachability" error in Xcode log.
This issue should be causing by using different Reachability classes. "connectivity_plus" using Reachability, and the native iOS using ReachabilitySwift.

[2021-10-20 15:17] ekuleshov opened #569 "device_info_plus plugin is producing build warnings on macos"
## System info

Issue occurs on: macos
Plugin name: device_info_plus
Plugin version: 3.1.0
Flutter doctor output:

[code]

## Steps to Reproduce

When `device_info_plus` plugin is used in the application, build on macos prodices the following warnings when compiling Swift code:

[code]

## Logs

[code]

[code]

[code]

[2021-10-20 15:26] ekuleshov commented on #273
This is also related to package_info_plus when installer info on ios could be a simulator. See #78

[2021-10-20 17:41] ekuleshov opened #570 "extend package_info_plus plugin to return installer info"
## Use case

In some cases an app or plugin need to know where the package was installed from, e.g. to use correct services for given marketplace (in-app purchases, maps, push, etc). For example Google Play vs Amazon vs Samsung vs Huawei for Android, or Appstore vs TestFlight for iOS and Macos, local vs Microsoft appstore for Windows, etc.

## Proposal

The package_info plugin already returns a lo

[2021-10-21 14:42] sanketwarule opened #572 "Unable to import package_info_plus.dart package/file even after running flutter pub get command"
## System info

Issue occurs on: iOS / Android / both
Plugin name: package_info_plus
Plugin version: 1.0.6
Flutter doctor output:
Doctor summary (to see all details, run flutter doctor -v):
[√] Flutter (Channel beta, 2.3.0-24.1.pre, on Microsoft Windows [Version 10.0.19042.1237], locale en-US)
[!] Android toolchain - develop for Android devices (Android SDK version 30.0.3)
    ! Some Android licen

[2021-10-21 15:26] morio77 opened #573 "[share_plus][iOS]Tap "Save Image" and the app will crash."
* share_plus 3.0.4

sample code:

[code]

Pass the path of Assets to `filePaths`

[2021-10-22 07:33] HakkyuKim opened #575 "[share_plus] Format bug in CHANGELOG.md"
See 2.1.2 and 2.1.3 in https://pub.dev/packages/share_plus/changelog#300.

[2021-10-22 13:21] #534 closed, assigned to nobody

[2021-10-22 16:03] cedvdb opened #576 "[device_info_plus] machineId returns null on WSL"
machineId returns null on my linux WSL.

[code]

Ultimately flutter apps are not likely to find their way onto WSL though

[2021-10-22 18:09] TheCarpetMerchant opened #577 "[android_alarm_manager_plus] cancel: broadcast receiver not found"
Issue occurs on: Android
Plugin name: android_alarm_manager_plus
Plugin version: 2.0.2
Android SDK : 30

I am getting a message "cancel: broadcast receiver not found" when using `AndroidAlarmManager.cancel` after the alarm has gone off once.
What's more, my alarm set with `AndroidAlarmManager.periodic` runs only once. `AndroidAlarmManager.periodic` returns true.

I don't suppose this is normal, bu

[2021-10-24 21:18] mdridley opened #579 "FBSDKShareKit.ShareDialog:4:12: note: 'init()' has been explicitly marked unavailable here"
## System info

Issue occurs on: iOS
Plugin name: share_plus
Plugin version: 3.0.4
Flutter doctor output:

[code]

## Steps to Reproduce

XCode 13 - Getting this on build now

[2021-10-25 17:49] Slackgate opened #581 "XCode get error: Module 'device_info' not found"
When I try to build my app with XCode, get error: Module 'device_info' not found
it's work fine on android
in mac I try commands:
flutter clean & flutter pub get
flutter pub add device_info (show it's already in dependencies)
and flutter pub upgrade device_info
still get same error

[2021-10-26 11:11] Fethi-Hamdani opened #582 "Connectivity Plus check if source has network or not"
how do I know if the wifi or mobile data I'm using has an internet connection or not?

[2021-10-27 07:45] #575 closed, assigned to nobody

[2021-10-27 21:13] VladanRandjelovic opened #584 "Connectivity plus not responding in real time"
I have implemented connectivity plus plugin to track connection status on my application, and I found out that it has some kind of latency when checking or even maybe not listening  to changes actively on real devices, any suggestions on how to solve it? Since it causes a lot of problems throughout the app overall performance and user experience...

Here is the part of the code that I use in my ma

[2021-10-29 11:43] sc00n opened #591 "What is the output when the phone is connected to both WIFI and mobile?"
See title. I want to make sure my participants are connected to wifi (to upload a big chunk of data), but mobile AND wifi at the same time is also fine.

Thank you!

[2021-10-29 18:57] alexbatalov commented on #581
For plus plugins the name is `device_info_plus`, so you have to:

[code]

[2021-10-29 19:06] marcossevilla opened #592 "feat(device_info_plus): add toMap method to WebBrowserInfo model"
## Use case

I wanted to use a `toMap` method to serialize the web browser information and use it as a Map in my Flutter app.

## Proposal

Add a method equivalent to the toMap found on AndroidDeviceInfo or IosDeviceInfo to the WebBrowserInfo.

[2021-10-30 18:55] pinkasey commented on #214
I'm still getting this in package_info_plus: `1.3.0`, when I run widfet-tests:
[code]

I've checked in `FLTPackageInfoPlusPlugin.h` in the package's source -
I see:
[code]
So I believe I have the fix in @GyuriMajercsik 's PR.
Also, I've checked my `pubspec.lock` - I don't have a dependency on `package_info` (not even transitive).

flutter doctor:
[code]

help?

[2021-10-31 20:46] #579 closed

[2021-10-31 21:02] mhadaily commented on #560
Thanks for your effort, @Boehrsi  this is creat add-on, although I think this should somehow be the dev's responsibility in their application to take care of the human readability of the device.

Since you have done a great job so far, let's discuss this with other core team members to see which option is better.

I think it's ok to add this to our main package; I am not sure if we want another pa

[2021-10-31 21:09] Boehrsi commented on #560
No problem I'm happy to help this project as nearly all my own apps depend on at least one *_plus package. I'm open for all possible solutions. Even if decision is to not add it to the device_info_plus package nor to create e.g. device_info_plus_extended, I would at least create a package on my own, so devs who need such a feature could use it. But I would think this would be a helpful addition fo

[2021-11-01 05:19] miquelbeltran commented on #560
I agree with that. I think this functionality should be delivered in an independent plugin (that uses device_info as dependency).

[2021-11-01 12:31] miquelbeltran commented on #245
It can be closed, I will prepare the release in a moment

[2021-11-01 12:31] #245 closed

[2021-11-01 12:34] navczydev commented on #245
Thank you, It was a great experience to contribute to the community.

[2021-11-01 18:47] jaibyron commented on #305
Also experiencing the same issue on iPad on iOS 15.0.1.

The app hangs for a few seconds then I see this in the console:

[LayoutConstraints] Unable to simultaneously satisfy constraints.
	Probably at least one of the constraints in the following list is one you don't want.
	Try this:
		(1) look at each constraint and try to figure out which you don't expect;
		(2) find the code that added the unw

[2021-11-02 08:30] Boehrsi commented on #560
@miquelbeltran Thanks for the input. Would "independent plugin" for you mean within the `plus_plugins` world or one I publish separately by myself?

[2021-11-02 08:41] miquelbeltran commented on #560
Outside of the plus_plugins repo, because it is already unmanageable for us the amount of plugins in this repo. But you could talk to people on the 'fluttercommunity' see if they want to host the plugin on their github organization.

[2021-11-02 08:50] Boehrsi commented on #560
Thanks for clarification. I already thought so and this is totally understandable. Wouldn't be a problem for me to publish it myself, but having a further look around could also be an idea. Thanks for the input.

I would suggest I just prepare the repo & plugin release own my own right now, so the actual functionality will be available and @venzeo and others can use it. This way we didn't overload

[2021-11-02 10:08] Grrravity opened #594 "ConnectivityResult.none when using reverse tethering on mobile devices"
Issue occurs on: Android mobile / tablet
Plugin name: connectivity_plus
Plugin version:  2.0.2
Flutter doctor output:

[code]
Context :
We have databases and api's in dockers/minios reachable from computer's localhost only (for security purpose).
To make it possible for real devices to reach them for development purpose we need to use [reverse tethering](https://github.com/Genymobile/gnirehtet) so

[2021-11-03 02:42] kuyazee commented on #568
Experiencing this as well

[2021-11-03 10:20] #569 closed

[2021-11-03 13:28] #592 closed

[2021-11-03 16:06] Boehrsi commented on #560
Here we go https://pub.dev/packages/device_marketing_names the package is released in a first version. I'm currently adjusting some small stuff / the pub.dev score and similar stuff, but in general it's ready to use. Therefore and if this is okay for @venzeo I think this issue can be closed.

[2021-11-03 20:02] Wolfteam opened #600 "[package_info_plus] Crashes on windows"
## System info

Issue occurs on: iOS / Android / both
Plugin name: package_info_plus
Plugin version: 3.1.1
Flutter doctor output:
[code]

## Steps to Reproduce

1. Call the `DeviceInfoPlugin().windowsInfo`
2. Crashes with the following message: `windowsInfo() has not been implemented.`

This seems to happen starting from version 3.0.0.
If I use the windows implementation directly it seems to work

[2021-11-04 06:42] persec10000 commented on #579
I met a similar issue using the other flutter package : [flutter_share_me](https://pub.dev/packages/flutter_share_me), and fixed it.
Please check the following article.
[](https://stackoverflow.com/questions/69835123/flutter-share-facebook-init-has-been-explicitly-marked-unavailable-here-f/69835261#69835261)

[2021-11-04 11:18] venzeo commented on #560
@Boehrsi superb! you rock! thank you so much on behalf of all flutter developers and open source world.

[2021-11-04 15:33] #560 closed

[2021-11-04 15:33] miquelbeltran commented on #560
Thank you @Boehrsi for all the work!

[2021-11-04 18:16] Boehrsi commented on #560
@venzeo @miquelbeltran thanks for the super positive words, this really levels up my open source motivation.

[2021-11-05 11:26] boldt opened #602 "[connectivity_plus] No such file or directory - /var/run/dbus/system_bus_socket - on docker"
## System info

Issue occurs on: Linux (Docker)
Plugin name: connectivity_plus
Plugin version: 2.0.2

## Steps to Reproduce

We're trying to migrate from the depricated **connectivity 3.0.6** to the newest **connectivity_plus 2.0.2**.

### Case 1: Android App

Within the Android app, the plugin works as expected.

### Case 2: "flutter test" on Windows

One of our widgest includes the following:

[

[2021-11-05 22:37] lovelessX commented on #305
For what it's worth, I also see the same problem if I go back to share 2.0.4 on iPadOS 15. I'm wondering if iPad OS changed something and broke a bunch of stuff.

[2021-11-06 11:13] jigarfumakiya commented on #584
I have the same issue.
Disconnecting and connecting ethernet did not trigger **onConnectivityChanged**  stream.

[2021-11-06 16:18] Albertbol commented on #305
I have the same issue with iPad, share_plus 3.0.4

[2021-11-07 12:17] pouria-z opened #603 "[android_alarm_manager_plus]: callback function doesn't work!"
## System info

Issue occurs on: Android /
Plugin name: android_alarm_manager_plus
Plugin version: 2.0.3
Flutter doctor output:

[code]

## Steps to Reproduce
The function in `AndroidAlarmManager` doesn't work. I tried everything, and nothing worked. `.oneShot` and `.periodic`'s function doesn't fire.
My `AndroidManifest.xml` file:

[code]

My `main.dart` file:

[code]

And this is `home.dart` fil

[2021-11-07 13:24] jaibyron commented on #305
Thanks, I've adopted this approach, and it seems to resolve the issue for me.

[2021-11-07 18:42] MCYBA opened #604 "iosInfo return value samples"
Hello, I'm trying to test my app without Ios Emulator. Could anyone share `DeviceInfoPlugin().iosInfo` value logs with using any Iphone Device?

Log of data that I want is like below:

[code]

[2021-11-07 22:07] MCYBA commented on #604
I found exactly what I want [here](https://www.youtube.com/watch?v=4Bvy9whc3ZA). For both Ios and Android.

[2021-11-07 22:07] #604 closed

[2021-11-08 17:18] flutter-painter commented on #600
@Wolfteam dunno what you need exactly but for UUID,
This worked out for me : https://pub.dev/packages/platform_device_id/example

Tim Sneath's https://github.com/timsneath/device_info_windows
also provided all the running processes .exe

[2021-11-08 18:54] The-Redhat commented on #386
Hey @champ96k are you currently working on this? If not can somebody maybe share her/his thoughts about how this should be integrated with the current methods.

One solution would be to add a parameter to the share method: `waitForCompletion` and return the results to make it a non-breaking change.

[2021-11-08 19:00] mhadaily opened #606 "Announcing Hacktoberfest contributors and winners"
We have so many great contributors with lots of improvements coming as PRs and closing Issues.
I will ping all GitHub usernames in this issue and send them all swags and stickers + to the top contributed a Dash!

## We had 65 PRs by 20 amazing contributors. 59 PRs were merged, and six were closed. ##

# Amazing contributors

1- @marcossevilla
- https://github.com/fluttercommunity/plus_plugins/pull

[2021-11-11 09:49] Naimehossein77 opened #607 "Share_plus plugin not sharing text in Facebook NewsFeed and Instagram. Working other platforms fine."
Am using latest Share_plus package which is used to share files or text from my application to other appliations.
I am able to share my files and text in other platforms. But I am unable to share text in Facebook NewsFeed and Instagram.
I repeat only sharing the text is not working only on Facebook NewsFeed and Instagram.
Sample code:

Share.share('text');
OR

    Share.shareFiles(
      [path!],

[2021-11-12 11:05] himCustomerGlu opened #608 "How to directly open WhatsApp using share_plus"
hey guys,
I want to directly open WhatsApp how can i achieve this

[2021-11-13 08:41] Somtobro opened #611 "Open vcf file with Intent"
The examples you guys gave are poor, very poor...how to open a vcf file from storage??... I'm trying to open a vcf file in storage so I can import it

[2021-11-13 12:14] Boehrsi commented on #607
I sadly think this relates to https://github.com/fluttercommunity/plus_plugins/issues/413. The problem is the way Facebook related apps are handling the content that’s shared with them.
As noted here https://github.com/fluttercommunity/plus_plugins/tree/main/packages/share_plus/share_plus#known-issues not all sharing options are working with Facebook related apps.
You could check for other package

[2021-11-13 13:36] Naimehossein77 commented on #607
Thanks

On Sat, 13 Nov 2021, 6:14 pm Daniel, ***@***.***> wrote:

[2021-11-14 23:34] PeterNjeim opened #612 "[connectivity_plus] How to check for metered connection"
Is there a way to check for a metered connection (**_not_** simply wifi vs. cellular). Android and Windows differentiate between metered and unmetered connections, and it is user-changeable. I'm unsure if GNU/Linux, macOS, iOS, and Web do so though.

[2021-11-15 03:58] fidelisakilan opened #613 "Cannot share text to whatsapp and instagram from flutter app"
## System info

Issue occurs on: Android
Plugin name: android_intent_plus
Plugin version: 3.0.2
Flutter doctor output:

[code]

## Steps to Reproduce

1. Added android intent plus plugin to the project
2. called AndroidIntent to share to whatsapp
3. failing and showing error in log

## Logs

[code]

[code]

code snippet i used:
[code]

[2021-11-15 09:05] vbuberen commented on #613
The error says that there is no app with such package name. Are you sure that the device you use has Whatsapp installed?
Also, note that sharing won't work properly due to https://github.com/fluttercommunity/plus_plugins/tree/main/packages/share_plus/share_plus#known-issues

[2021-11-15 13:15] Slexom commented on #584
So I'm not the only with similar issues.
Basically when turn **off** WiFi/mobile data, nothing happen on the **onConnectivityChanged** subscription. But, sometimes, when I turn WiFi **on** again, the **ConnectivityResult** value is _**ConnectivityResult.none**_. After that, turning on/off connection print nothing

[2021-11-16 07:14] gupta-shrinath opened #614 "network_info_plus not working correctly in release version of the app"
## System info

Issue occurs on: Android
Plugin name: network_info_plus
Plugin version: ^2.1.1
Flutter doctor output:

[code]

## Steps to Reproduce

The name, bssid, broadcast, ipv4, ipv6, subnet mask, and gateway for wifi are correct in the debug version of the app.
In the release version of the app the following issues arise:
1. The name is same as the bssid
2. The broadcast is null
3. The IPv6

[2021-11-16 20:26] VladanRandjelovic commented on #584
Any updates on this issue? Anybody got at least temporary solution/workaround?

[2021-11-17 20:02] ueman opened #615 "[device_info_plus] Get current device information as map"
## Use case

The `device_info_plus` plugin is often used to get more device information for crash reports or similar reasons.
In this use-case it's really cumbersome to use because you first have to detect the platform and then use the correct getter for the current device information. Therefor, it would be really useful if there's a method which gets the current device information.

## Proposal
I

[2021-11-18 10:37] hieugia3030 commented on #579
I tried that but it lead me to another problem.
This is its console logs:
l```
d: warning: Could not find or use auto-linked framework 'DataDetection'
    Undefined symbols for architecture x86_64:
      "__swift_FORCE_LOAD_$_swiftDataDetection", referenced from:
          __swift_FORCE_LOAD_$_swiftDataDetection_$_FBAudienceNetwork in FBAudienceNetwork(FBAudienceNetwork.o)
         (maybe you mean

[2021-11-19 01:33] RuzenDev commented on #615
Yes I agree on that too..

[2021-11-19 12:56] mhadaily commented on #606
Congrats to all of you for doing a fantastic job for the community. Keep rocking.

All of our contributors above (20 in total) will receive swags, and I decided to send a Dash to @juliansteenbakker @alexbatalov and @vbuberen  because of the fantastic efforts that they have made. All you need to do is create a PRIVATE repo under your Github account and share it with me to find your address and phon

[2021-11-19 13:08] juliansteenbakker commented on #606
Thanks for the rewards ! It was fun helping the plus community and improving the packages 😄. I hope I can also help maintain these packages in the future and make the community even better.

[2021-11-19 13:11] mhadaily commented on #606
Fantastic, If you'd like to can join our team. DM me on Twitter or send me an email to discuss more.

[2021-11-20 16:51] Boehrsi commented on #615
I also like the idea to have one generic call to obtain the data. I would add the missing `toMap` calls for the platform specific objects (`LinuxDeviceInfo`, `WindowsDeviceInfo`) and would propose to add https://pub.dev/packages/universal_platform as dependency to create one info call which can deliver data without information regarding the platform.
I will prepare a PR.

[2021-11-20 17:05] ueman commented on #615
You don't need to do that. Each platform package needs to provide the generic method. The `device_info_plus` package (not the platform) can simply delegate to the platform package.

Awesome, I very much appreciate it.

[2021-11-20 17:34] Boehrsi commented on #615
Thanks for the hint, this makes absolutely sense. 👍

[2021-11-21 18:56] RhinoInani opened #619 "Sharing audio files through share_plus not working"
Hello,

System info: Testing on iOS Emulator and physical iPhone 13 both running iOS 15.0+.

Issue occurs on: iOS
Plugin name: share_plus
Plugin version: 3.0.4
Flutter doctor output:

[code]

## Steps to Reproduce
* Download or save any .wav, or .aac file (any audio files).
* Try to access it through path_provider and use Share.shareFiles to share it.

Here is a snippet of my code:
[code]

When I

[2021-11-22 03:59] Agondev commented on #449
This mean modifying the value separately from that of the one in the yaml file.

[2021-11-22 10:02] jk2pr opened #620 "Recipient list is empty Android_Intent_Plus 'android.intent.extra.EMAIL'"
I tried to use this plugin to send email

[code]

but I can see empty list in recipient box of email client (outlook and gmail)

[2021-11-23 00:27] OHeroJ opened #621 "[device_info_plus] crash"
Fatal Exception: NSInvalidArgumentException
*** -[__NSPlaceholderDictionary initWithObjects:forKeys:count:]: attempt to insert nil object from objects[5]

[code]

[2021-11-24 04:02] jsaberon opened #622 "Flutter Migration Error"
I use flutter 1.22.6 and migrate to 2.0.0

I upgrade my package to resolvable and safe version.

Then when I run flutter I encountered this error.

[code]
So I search for a work around and find to change the ff:

`compileSdkVersion` from `30` to `31`
`targetSdkVersion` from `30` to `31`

also tried this: [Workaround](https://stackoverflow.com/questions/69034879/how-to-resolve-this-error-the-mincom

[2021-11-24 15:49] Boehrsi commented on #615
I think my PR isn't needed anymore as @alexbatalov PR already covers the required use case, right?

[2021-11-24 15:55] omerdotdev opened #624 "[android_alarm_manager_plus] Failed to build app with latest version of alarm_manager .[ error: cannot find symbol ]"
## System info

Issue occurs on:  Android
Plugin name: android_alarm_manager_plus: ^2.0.3
Plugin version: ^2.0.3
Flutter doctor output:
[code]

## Steps to Reproduce

I started the new project with gradle config as follows:

[code]
[code]

## Logs

[code]

[2021-11-24 17:21] ueman commented on #615
Yeah, I think so too. You could review it.

[2021-11-24 17:47] Boehrsi commented on #615
Already had a brief look and it looks pretty good. If time allows I will have another in depth look.

[2021-11-25 10:11] vbuberen commented on #622
Hello. It looks like you opened this issue in wrong repo, since it seems that building issue you have is with `cloud_firestore`:

But, anyway, be sure to add `exported=true` to the `MainActivity` (and other activities if you have any other with `intent-filters` defined) to your app's Manifest, not to merged Manifest file.

[2021-11-25 19:38] harysdenym commented on #603
i face this issue too, there is someone tell why the callback doesnt fire?

[2021-11-25 19:45] harysdenym commented on #577
yes it happen to my application too, and also my periodic callback didnt fired.

[2021-11-26 02:59] navczydev commented on #606
Hi Majid, Can you update once you have the information so we can delete
this repo.

Thanks

On Fri., Nov. 19, 2021, 7:56 a.m. Majid Hajian, ***@***.***>
wrote:

[2021-11-26 07:25] Silfalion opened #626 "Connectivity plus not working with Linux"
## System info

Issue occurs on: Linux
Plugin name: connectivity_plus
Plugin version: 2.0.3
Flutter doctor output:

all good

## Steps to Reproduce

1. create a flutter app with the connectivity_plus plugin
2. run the app

## Logs

Unhandled Exception: MissingPluginException(No implementation found for method check on channel dev.fluttercommunity.plus/connectivity)

All the errors are about unused

[2021-11-26 11:14] tp-coderbabu commented on #608
use Url Launcher plug-in instead.

[2021-11-26 18:10] cr34t1ve opened #627 "[sensors_plus]accelerometer readings not working on web mobile"
## System info

Issue occurs on: Web
Plugin name: sensors_plus
Plugin version: 1.2.1
Flutter doctor output:

[code]

## Steps to Reproduce

1. ...
2. ...
3. ...

## Logs

[code]

[code]

[code]

[2021-11-28 06:32] insidewhy opened #628 "[package_info_plus] Logs an exception at startup on android"
I get the following exception logged every time I call `await PackageInfo.fromPlatform()` and then I get no response.

[code]

## System info

Issue occurs on: Android
Plugin name: package_info_plus
Plugin version: 1.3.0
Flutter doctor output:

[code]

[2021-11-28 06:48] insidewhy commented on #628
It looks like the android code has not been built, I've done `flutter clean` followed by `flutter run` many times but it doesn't fix it.

[2021-11-28 07:06] insidewhy commented on #628
Ah had to add `super.configureFlutterEngine(flutterEngine);` to my `configureFlutterEngine` call, the examples I found online didn't include this.

[2021-11-28 07:06] #628 closed

[2021-11-28 13:43] ConstGD opened #629 "Tried to send a platform message to Flutter, but FlutterJNI was detached from native C++. Could not send. Channel: dev.fluttercommunity.plus/sensors/accelerometer. Response ID: 0"
When close app with botton "back"

[2021-11-28 20:51] KANekT commented on #305
// A builder is used to retrieve the context immediately
    // surrounding the ElevatedButton.
    //
    // The context's `findRenderObject` returns the first
    // RenderObject in its descendent tree when it's not
    // a RenderObjectWidget. The ElevatedButton's RenderObject
    // has its position and size after it's built.
    final box = context.findRenderObject() as RenderBox?;

`sharePos

[2021-11-29 02:19] fg2q1q3q opened #630 "[android_intent_plus] will cause the js method of [webview_flutter] to not work in release mode"
Once you rely on both `webview_flutter` and `android_intent_plus` in the project, the `JSChannel` of webview will not work in release mode. Please see for details in [this issue](https://github.com/flutter/flutter/issues/92548#issuecomment-979728046)

[2021-11-29 12:54] X0Rz1st opened #632 "[connectivity_plus] can't check wifi connection without internet access"
Thank you for providing this plugin!

# System info

Issue occurs on: iOS
Plugin name: connectivity_plus
Plugin version: 2.0.3
Flutter doctor output:

[code]

## Steps to Reproduce
I need to figure out whether the device is connected to a wifi access point (that has no internet connection) or not.

1. subscribe to onConnectivityChanged
2. Establish connection to wifi access point _without_ interne

[2021-11-29 13:29] miquelbeltran commented on #563
Weird enough, I also got this error today for a project that simply worked like a week ago. Similar issue as reported originally, same error, clean didn't do anything.

Error:
[code]

the used version of `connectivity_plus` is 1.4.0, because it is a dependency from another package.

Relevant part of my doctor:

[code]

The minimal example from @alexbatalov worked for me so I could not reproduce th

[2021-11-29 15:49] LauDijksterhuis opened #633 "webBrowserInfo() has not been implemented"
Hi there,
I'm trying to get information from the browser my app is running in. However, when I tried, I got an error.
I thought I made a misstake in my code, so I tried the example from https://pub.dev/packages/device_info_plus/example .
But here I get the same error see below.

## System info

Issue occurs on: web
Plugin name: device_info_plus
Plugin version: ^3.1.1.
Flutter doctor output:

[code

[2021-11-30 09:54] miquelbeltran commented on #563
I think I got a solution.

The problem is when you have both the cocoa pods Reachability and ReachabilitySwift in the same project.

In my case I was suing PusherSwift v8.0.0 which depends on ReachabilitySwift 5.0, this causes a problem with connectivitu_plus which uses Reachability 3.2.

Thankfuly PusherSwift no longer uses ReachabilitySwift so this issue is now gone for me.

Since Reachability i

[2021-11-30 12:49] #563 closed

[2021-11-30 12:50] miquelbeltran commented on #563
hey all, I was able to migrate the iOS plugin from Reachability to ReachabilitySwift, which got rid of the incompatibilities with other plugins. We also have now a shinny swift implementation (shamelessly stolen from the MacOS implementation). I tested this on my project and the solution works.

You can try the version 2.1.0 or just grab it with flutter pub upgrade.

[2021-12-01 06:31] negu63 commented on #624
I could solved this that upgrade the compieSdkVersion and targetSdkVersion to 31 in android/app/build.gradle file.

[2021-12-01 07:18] ggdream opened #635 "[Proposal] Apps filtering and custom UI (share_plus)"
Mainly for mobile:

## Problem
1. In many cases, it is just for sharing to a part of the application. It’s inconvenient for users to find out if all are displayed directly.
2. When sharing, existing native applications often include functions such as copying links. But the package calls the system's native dialog, which makes the flutter layer unable to implement this function.

## Solution
1. Add

[2021-12-01 19:32] saibotma opened #636 "[share_plus] How to handle device rotation? (iPad)"
Currently, the share sheet keeps its origin where it was set using the `sharePositionOrigin` parameter, when the device gets rotated. However, this position is wrong in most cases after a rotation, as it often is the position of a button on screen, which will have a different position when rotated.

Is there a way to update the position after rotation?

[2021-12-01 20:23] saibotma opened #637 "[share_plus] Huge shadow in background when opening share sheet on iPad"
Had to take a photo as the screenshot processing would minify the shadow.
The photo is self-explanatory. Sharing with Telegram in this example:

![IMG_20211201_211641__01](https://user-images.githubusercontent.com/26022902/144307846-972d9c3e-4b62-4243-b50d-5b47aa920625.jpg)

## System info

Issue occurs on: iOS 14.8.1 (iPad; did not test other OS versions)
Plugin name: share_plus
Plugin version: 3

[2021-12-01 21:52] omerdotdev commented on #622
If your issue still open then try following hints else you can close the issue with comments.

To Resolve this error you can try these props under `android/gradle.properties`.  (Remove If  issue not solved using these)

[code]

------

To Solve this make sure your main activity has following attribute
[code]
See [example app here.](https://github.com/fluttercommunity/plus_plugins/blob/main/package

[2021-12-01 21:56] omerdotdev commented on #624
Thanks. Had to upgrade to java 11 and its supported gradle, build tools and kotlin versions.
ref: [Example App](https://github.com/fluttercommunity/plus_plugins/tree/main/packages/android_alarm_manager_plus/example)

[2021-12-01 21:56] #624 closed

[2021-12-02 08:45] matthias-steinkamp commented on #632
thanks for the ticket. in our project, we are struggling with this issue, too. would be great, if this would be fixed, soon.

[2021-12-02 11:23] huangyanxiong01 commented on #614
I get bssid also too 02:00:00:00:00:00 from Pixel 4A Android 12

[2021-12-03 08:10] gupta-shrinath commented on #614
@huangyanxiong01
Have the read the following in the package description?

For me, it works in the debug version but for some reason, in the release version the details are showing up as null.

[2021-12-03 08:15] huangyanxiong01 commented on #614
Thank you. I resolved this.

[2021-12-03 08:20] gupta-shrinath commented on #614
@huangyanxiong01 Does this work for you in the release version of the app? If so could you please share your source code for me to know what I'm doing wrong.

[2021-12-03 08:40] huangyanxiong01 commented on #614
in app `build.gradle`
[code]
in project `gradle.properties`
[code]
Add permission to AndroidManifest.xml
[code]
In your class add function
[code]
@gupta-shrinath It work fine in my release app. Good luck

[2021-12-03 12:22] dheerajHipster opened #638 "Unable to create ipa for iOS app + Reachability issue"
I'm able to run project in Simulators and real device but not able to create ipa for productions

## System info

Issue occurs on: iOS
Plugin name: connectivity_plus
Plugin version: 2.1.0
Flutter doctor output:

hipster@Hipsters-MacBook-Air barePack_flutter % flutter doctor
Doctor summary (to see all details, run flutter doctor -v):
[✓] Flutter (Channel stable, 2.5.3, on macOS 11.6.1 20G224 darwin

[2021-12-05 11:05] thomassth commented on #409
At the very least, we need better documentation for applying isolate in this situation.

[2021-12-06 03:38] sgehrman commented on #434
I'm on web and aways get ConnectivityResult.mobile.  On Chrome.

[2021-12-06 04:01] sgehrman opened #639 "[connectivity_plus] always returns ConnectivityResult.mobile on Web"
If I turn off my wifi or ethernet, I get an event, but it's always ConnectivityResult.mobile.

on or off doesn't matter.
effectiveType is always 4g.

[2021-12-06 04:40] sgehrman commented on #436
same issue. why being ignored?

[2021-12-06 04:45] armandojimenez commented on #603
Same issue here, does this even work?

[2021-12-06 06:31] PoojaSensussoft opened #640 "Wifi connectivity in Android."
#

## System info

Issue occurs on: Android
Plugin name:
Plugin version:
Flutter doctor output:

[code]

In android, After 10 times on and off wifi or mobile network it is not showing network issue.

## Steps to Reproduce

1. ...
2. ...
3. ...

## Logs

[code]

[code]

[code]

[2021-12-06 06:31] PoojaSensussoft commented on #640
In android, After 10 times on and off wifi or mobile network it is not showing network issue.

[2021-12-06 06:31] #640 closed

[2021-12-06 06:56] sleepreading commented on #600
Same problem!

[2021-12-06 09:58] gupta-shrinath commented on #614
@huangyanxiong01 Do you get **/** in front of the broadcast ip address? As shown in  the following
`/192.168.0.255`

[2021-12-06 11:06] sgsm74 commented on #343
same issue, any solution?

[2021-12-07 01:04] huangyanxiong01 commented on #614
@gupta-shrinath Same to you.

[2021-12-07 11:50] shailu95 opened #641 "[connectivity_plus] Connectivity changes to mobile even when connected to wifi"
Connectivity listener changes the connection to mobile when wifi signal strength changes on iOS not tested on Android.

[2021-12-07 18:58] atultiwari commented on #639
yes me too facing the same issue

[2021-12-07 21:20] harriseldon commented on #626
Can you provide more details? For example, what distribution and desktop environment are you using? Are you using NetworkManager to manage your network? If you do not know the answer to this last question, the answer to the first might help.
I just created a simple app at https://gitlab.com/dgreengas/flutter_connectivity_test_linux
It just listens to the stream of network changes and shows it on t

[2021-12-08 10:21] Silfalion commented on #626
Sure. I'm using Ubuntu mint so mint desktop and the error happens at this exact line:

[code]

Flutter version is 2.5.3.

Will test the app you provided very soon and report back.

[2021-12-08 15:22] harriseldon commented on #639
This appears to be the way that dart:html returns type or effectiveType
I created this gist against the dart:html package directly.
https://dartpad.dev/59e206f757d7fe1beb77633038924da4

It only works in Blink-based browsers (Chrome, Vivaldi, Edge). I tried in Firefox and did not get a result.

It does not appear that any of the other properties of html.NetworkInformation would suffice. Is this a d

[2021-12-08 17:06] woprandi commented on #602
@boldt it's a regression from the old plugin ?

[2021-12-09 06:34] geekhenno opened #642 "[share_plus] sharing takes long time to open"
Hi
I am using share_plus package, when I tried to share text for the first time the share dialog system takes long time to appear.
is there any solution for that?

[2021-12-09 10:02] Silfalion commented on #626
upgraded to flutter 2.8 and tested with the connectivity plus linux 1.1.1 version. Everything works great now. Thank you!

[2021-12-09 15:59] Noviko777 opened #643 "[share_plus] Android 11 not working"
Hi!
I can not share the file on Android 11, I suspect that it does not work due to Scoped storage. Please fix it as soon as possible.

[2021-12-09 16:18] ragokan opened #644 "[device_info_plus] Not working with Flutter 2.8.0 on M1 Mac"
## System info

Issue occurs on: iOS (M1 Mac)
Plugin name: device_info_plus
Plugin version: ^3.1.0
Flutter doctor output:

[code]

## Steps to Reproduce
1. Just upgraded Flutter and I got that error. I did all the clean, pod install, update things, nothing worked.
2. Error:
[code]

## Logs

[code]

[code]

[code]

[2021-12-10 06:56] gupta-shrinath commented on #614
@huangyanxiong01 I'm afraid I didn't get you.

[2021-12-10 07:07] huangyanxiong01 commented on #614
Sry. my spelling error

[2021-12-10 07:34] gupta-shrinath commented on #614
@huangyanxiong01 Oh it's ok.
So we can agree that in broadcast address provided by the package the output is / and then the IP address. Although this issue can be resolved by just replacing the / with space. This still remains a issue.

[2021-12-10 09:40] Noviko777 commented on #643
E/ActivityThread: Failed to find provider info for {applicationId}.flutter.share_provider

[2021-12-10 13:01] thor-jc commented on #309
Is there any way to include this package as part of a test?  It seems to work fine when I run an app in a web app.

[code]
Results in: MissingPluginException(No implementation found for method getAll on channel dev.fluttercommunity.plus/package_info)

Adding WidgetsFlutterBinding.ensureInitialized(); didn't make sense but also didn't help.

I assume that generally plugins are not loaded during tes

[2021-12-10 13:52] miquelbeltran commented on #309
In general, you shouldn't call into native plugins through tests, except in e2e integration tests. Your code should wrap the plugin functionality, and you should inject that functionality/mock it when running tests.

[2021-12-10 16:35] thor-jc commented on #309
Great just making sure.  Thanks for your time and this package.

[2021-12-11 01:18] uchidacode opened #645 "[share_plus] Save to Files on iOS results in an error"
## System info

Issue occurs on: iOS
Plugin name: share_plus
Plugin version: 3.0.4
Flutter doctor output:
Doctor summary (to see all details, run flutter doctor -v):
[✓] Flutter (Channel stable, 2.8.0, on macOS 12.0.1 21A559 darwin-arm, locale en)
[✓] Android toolchain - develop for Android devices (Android SDK version 31.0.0)
[✓] Xcode - develop for iOS and macOS (Xcode 13.1)
[✓] Chrome - develop

[2021-12-11 02:04] harriseldon commented on #620
I did some testing on this on a way to get it to work. It may not be optimal for you, but the data is expected to be a Uri. I was able to get it to work by passing the emails in the data link as follows:
For a single:
[code]
For multiple:
[code]

I have gone too far into the detail of the how the intent is passed to the android layer, but at least this is a working solution.

*Note: I also tried w

[2021-12-11 08:08] cachapa opened #646 "[device_info_plus] UnimplementedError when fetching info on Linux"
I started getting the following exception after updating `device_info_plus` from `2.0.0` to `3.1.1`:

[code]

It seems to be a regression since downgrading to `2.0.0` works as expected.

## System info

Issue occurs on: Linux
Plugin name: device_info_plus
Plugin version: 3.1.1
Flutter doctor output:

[code]

[2021-12-11 09:10] YazeedAlKhalaf opened #647 "[share_plus] Phone number support when sharing text"
I would like to be able to provide a phone number for when SMS is chosen as a share option.

The issue right now is that it is not possible to prefill the number. In some apps that access the contacts to invite someone, it is bad to make the user type the number again when they have chosen it in the first place.

Adding an attribute for the phone number will be a great enhancement to the plugin.

[2021-12-11 11:20] duhanbalci opened #648 "[battery_plus] incompatible with flutter_local_notifications"
Because flutter_local_notifications >=9.1.5 <10.0.0-dev.1 depends on flutter_local_notifications_linux ^0.4.0 which depends on dbus ^0.6.0, flutter_local_notifications >=9.1.5 <10.0.0-dev.1 requires dbus ^0.6.0.
And because battery_plus_linux 1.0.3 depends on dbus ^0.5.1 and no versions of battery_plus_linux match >1.0.3 <2.0.0, flutter_local_notifications >=9.1.5 <10.0.0-dev.1 is incompatible wit

[2021-12-11 15:42] harriseldon commented on #611
Can you elaborate on which examples you think need improving? What were you expecting to see that you did not?
Can you also explain your use case in more detail? It seems like you want to register a url handler that listens to vcf:// urls so that when a user selects share on a vcf, your application is one of the choices.

[2021-12-12 11:15] vbuberen commented on #643
Hello. Thanks for you report.

Could you provide proper tech info as requested by the issue template? Without it we couldn't provide good support to resolve the possible issue.

This is an open source project where people work in their free time. If it is something that is of priority you are more than welcomed to contribute.

[2021-12-12 13:41] adrianvintu opened #649 "[android_alarm_manager_plus] crash"
Hello, I have installed `android_alarm_manager_plus: ^2.0.3` and a lot of crashed come in.

Please let me know if there is something else I can add to make it easier for you to debug.

[code]
![2021-12-12 15_37_21-Window](https://user-images.githubusercontent.com/33379688/145714625-2d2147e6-be2f-4cf9-9ca9-0140777a80fe.png)
![2021-12-12 15_37_54-Window](https://user-images.githubusercontent.com/333

[2021-12-13 11:28] kapil708 commented on #405
Thanks **await** work for me 👍

[2021-12-13 11:28] kapil708 commented on #405
Thanks **await** work for me 👍

[2021-12-13 12:10] jblough opened #650 "Error writing tests that use connectivity_plus onConnectivityChanged() with cirrusci Docker image for Flutter 2.8.0"
## System info

Issue occurs on: tests
Plugin name: connectivity_plus
Plugin version: 2.1.0
Flutter doctor output:

[code]

## Steps to Reproduce

Here are the steps that I followed that worked when running with the cirrusci/flutter:2.5.3 image, but failed with the cirrusci/flutter:2.8.0 image

Create a test named connectivity_test.dart with the contents
[code]

Run the tests with Dockerfile with

[2021-12-14 02:36] harriseldon commented on #611
I still do not understand your use case, but here is an example of opening an existing vcf file on your phone and sharing it via share plus.
https://dartpad.dev/?d33fe84e36e1c0b924ab2abcface8fe4

It uses the share_plus library to share files and file_picker to pick a file. VCard files have mime type text/vcard or text/directory. It appears that iOS treats all non-mages as text files. For Android,

[2021-12-14 04:34] harriseldon commented on #594
I tried to replicate this with the connectivity_plus plugin from git and I was not able to. I used the gnirehtet tool via gnirehtet run.
The network connection showed up as wireless. I disabled wireless and it continued as wireless. I disabled data and it showed up as wireless. I turned on data. Then I stopped gnirehtet and it correctly switched to showing lte data.

[2021-12-14 10:08] guyluz11 opened #651 "network_info_plus_linux nm version update"
## Use case

Currently `network_info_plus_linux` package uses an old `nm version ^0.3.0` where the last version is `nm ^0.4.2`.
After updating the `flutter_local_notifications` to version `^9.1.5` I am getting a dependency block because it uses a newer version of `dbus` than `nm ^0.3.0` support.

![image](https://user-images.githubusercontent.com/9304740/145976062-395960a6-f82d-4c51-a258-22f40876a

[2021-12-14 13:09] Remas-Safi commented on #453
I got the same issue, and tried @Elias8's solution and it worked perfectly.

[2021-12-15 04:36] harriseldon commented on #544
[code]
Here is a link to the page from the android developer site:
https://developer.android.com/reference/android/provider/Settings#ACTION_MANAGE_APP_ALL_FILES_ACCESS_PERMISSION

A few things to note as you search for these actions. The actual string value of the action is specified in the documentation like this:
*Constant Value: "android.settings.MANAGE_APP_ALL_FILES_ACCESS_PERMISSION"*

The ot

[2021-12-15 12:36] #648 closed

[2021-12-15 12:36] #651 closed

[2021-12-16 10:13] rhymelph commented on #337
I have the same issues!!!!!!!

[2021-12-16 18:10] valentintintin commented on #649
Hi @adrianvintu,

I just found this lib today and I had the same error.
Here is the fix : add to your android/app/main/AndroidManifest.xml : `<application android:name="io.flutter.app.FlutterApplication"`

Related :
- https://github.com/fluttercommunity/plus_plugins/issues/144
- https://github.com/transistorsoft/flutter_background_fetch/issues/160

[2021-12-16 18:56] adrianvintu commented on #649
Thank you very much @valentintintin

[2021-12-16 21:22] justjew commented on #644
Same problem

[2021-12-17 04:00] tengyeekong opened #656 "Error: reference to member 'unavailable' cannot be resolved without a contextual type"
## System info

Issue occurs on: iOS
Plugin name: connectivity_plus
Plugin version: 2.1.0
Flutter doctor output:

[code]

## Steps to Reproduce
1. Just trying to build and run the app
2. Error occurred

## Logs
[code]

[code]

[2021-12-17 08:46] CDevFlttr opened #657 "sensor or listener is null"
When I run/test my Flutter app on a real device, it appears to me 'E/SensorManager(11511): sensor or listener is null'.
How can i fix?

[2021-12-17 11:37] ragokan commented on #644
I do think that the problem is instead resulted by **Flutter** itself. Because when I delete this package, I still get the error for another package.

[2021-12-17 14:46] jonbhanson commented on #468
Any ETA on this bug?  It is causing crashes in our app.  Many thanks!

[2021-12-17 15:01] mikrul85 opened #658 "[share_plus] iOS - The share window does not appear."
When calling the plugin on the iOS simulator and on a real iPad device, the share window does not appear!
Plugin version: 3.0.4

[code]

[2021-12-17 19:56] viniciusddrft opened #659 "Help with calling native contact app by passing parameters"
Hello first I would like to say that the project is amazing.

flutter version: 2.8
dart version: 2.15

I'm having trouble understanding some things, I want to create an intent to call the native contacts app passing a name and a number as parameter.

I tried like this, but I had several errors that I didn't understand very well how to start the search to solve them.

    const AndroidIntent intent

[2021-12-17 20:01] viniciusddrft commented on #658
Hi I'm not one of the plugin developers but I just came to let you know if you haven't seen that the plugin is currently only for android.

[2021-12-19 13:05] 12people opened #660 "[sensors_plus] Add Linux support"
## Use case

While Linux is relatively new to the handheld/smartphone market, there are several devices either already out or coming out soon — most notably the upcoming Steam Deck.

It'd be great to be able to tap into the sensors for these devices, if available.

## Proposal

Add Linux support to the sensors_plus package.

[2021-12-19 23:49] Poly-Pixel commented on #646
I am also getting this

[2021-12-20 13:00] IoT-master opened #662 "_battery.onBatteryStateChanged.listen does not consistently update values on Android 10 API 29"
## System info

Issue occurs on: iOS / Android / both
Plugin name:   flutter_email_sender
Plugin version: ^5.0.2
Flutter doctor output:

[code]

## Steps to Reproduce

Running this code on Android Pixel 2 API 30 works. Battery Level and State updates in real time as I slide the slider in the AVD
When I do the same on Android Pixel API 29, only the loaded values for the Battery Level and State are

[2021-12-21 10:09] pruthvi-itribe commented on #385
have the same issue, after long time figured out that it was working in other apps like gmail. But doesn't work on whatsapp and slack

[2021-12-21 13:36] mikrul85 commented on #658
https://pub.dev/packages/share_plus - it says here that the plugin supports iOS
https://github.com/flutter/flutter/issues/95292 - and then I was informed that the share plugin is no longer supported and offered to switch to share_plus

[2021-12-22 10:11] gutisalex commented on #646
I am also getting this on windows...

[2021-12-22 13:09] Noviko777 commented on #643
It was necessary to enable MIUI optimization

[2021-12-22 13:09] #643 closed

[2021-12-22 14:36] vbuberen commented on #643
@Noviko777 You closed the issue because the problem was in something else?

[2021-12-23 07:13] aGubhaju commented on #532
any update on this issue?

[2021-12-23 20:45] ReniDelonzek commented on #600
I have the same problem. Does anyone know any other solution to get the app version on windows?

[2021-12-24 16:25] startnow65 commented on #603
The callback function should be static. Looks like your `void printHello()` function is not static.

[2021-12-26 09:04] sgsm74 opened #668 "[device_info_plus] UnimplementedError: windowsInfo() has not been implemented."
## System info

Issue occurs on: windows
Plugin name: package_info_plus
Plugin version: 3.2.0
Flutter doctor output:

[code]

## Steps to Reproduce

1. declare device info plugin using DeviceInfoPlugin
2. _readWindowsDeviceInfo(await deviceInfoPlugin.windowsInfo)

## Logs

[code]

[2021-12-26 09:07] StasKalishenko commented on #563
But what to do with this problem if your other plugins or native code uses Objective-C implementation of Reachability? Objective-C and Swift implementations can't work together at the same time and project is broken until removing one of them. Migrating to Swift variant of Reachability you are braking compatibility with other stuff.

[2021-12-27 03:45] SUWW commented on #305
How did you solve this problem? When I run it on Android, there is no problem, but when I run it on the iPhone, it reports this error in pod install. . Thank you very much

[2021-12-27 09:24] miquelbeltran commented on #563
You will have to migrate them or use an old version of this plugin.

[2021-12-28 08:35] pdax-king commented on #385
I'm encountering this problem as well. Slack and Linked-in.

This issue exists only in iOS.

[2021-12-28 08:48] pdax-king commented on #532
I have the same problem, copy on iOS also doesn't copy the image.

[Related Issue](https://github.com/fluttercommunity/plus_plugins/issues/385)

[2021-12-28 08:48] pruthvi-itribe commented on #385
in IOS, we are able to send either image or text in some of the apps like whatsapp or slack. Both of them then text is given more priority in these apps

[2021-12-28 10:54] #366 closed

[2021-12-29 14:59] vbuberen commented on #649
@adrianvintu The suggested solution worked for you?

[2021-12-29 15:02] vbuberen commented on #632
@X0Rz1st Did I understand it correctly that the problem is in having no events fired when Android device connects to some wi-fi access point without internet?

[2021-12-29 15:18] #644 closed

[2021-12-29 15:26] adrianvintu commented on #649
@vbuberen i did not deploy the change because i feared it may not work. in other words: i don't know, i did not test it.

[2021-12-29 16:08] MatheusLimaN commented on #385
+1

[2021-12-29 23:57] BLKKKBVSIK commented on #385
@pruthvi-itribe
Is it an iOS technical limitation ? Or is it a WhatsApp/Slack restriction on iOS? 🧐
Seems like share_plus is working correctly then, but I'll maybe do a PR, to tell that on iOS the priority is given to the text priority.

[2021-12-30 14:38] MatheusLimaN commented on #385
But when only the image is sent without the text, we have the same behavior

[2021-12-30 17:16] alexrainman commented on #386
Any news on this?

[2021-12-30 17:54] CoderJava commented on #434
I'm using original connectivity plugin and it's working. I'm tested on MacOS and here is the output of flutter doctor command.
[code]

[2021-12-30 19:37] ueman commented on #615
This was implemented by #618

[2021-12-30 19:37] #615 closed

[2021-12-31 05:29] pruthvi-itribe commented on #385
I think its limitation of whatsapp and slack on IOS not allowing both simultaneously. Because if you use the same share_plus library and send to gmail app, both text and image are composed in an email.

I have seen some other apps also which has similar way of sharing image or text to whatsapp which are native applications on IOS

[2021-12-31 05:30] pruthvi-itribe commented on #385
Do you mean it doesn't share image then ?

[2021-12-31 10:11] vbuberen commented on #649
Please let me know if it fixed the issue when you try it. Would like to update docs if the suggested solution works.

[2021-12-31 13:35] MatheusLimaN commented on #385
Sorry, I did the test again and without the text the image is normally shared 😅

[2022-01-01 03:10] jnstahl commented on #600
same problem here....

[2022-01-01 11:05] ritheshSalyan commented on #638
@dheerajHipster Did you solve this issue?

[2022-01-01 12:19] #646 closed

[2022-01-01 12:54] #621 closed

[2022-01-02 12:51] leo-mangold opened #678 "[package_info_plus] Empty String for version and buildNumber"
## System info

Issue occurs on: iOS (not yet tested on android)
Plugin name: package_info_plus
Plugin version: 1.3.0
Flutter doctor output:

[code]

## My Problem

This code returns no **version** nor **buildNumber**.
[code]
Output:
[code]
So the **appName** and **packageName** work but the versions do not.

Yes I have cleaned the build folder multiple times.

Help is much appreciated :)

[2022-01-02 19:23] #400 closed

[2022-01-03 10:57] RiyaJaggi28 opened #679 "share_plus: ^3.0.4 While sharing multiple images with text on Whatsapp the text is copied with all the images."
## System info
**Device**
Realme 8S

**Plugin name**: share_plus
**Plugin version**: ^3.0.4

**Flutter doctor output:**

Doctor summary (to see all details, run flutter doctor -v):
[✓] Flutter (Channel stable, 2.8.0, on macOS 11.6 20G165 darwin-x64, locale en-GB)
[✓] Android toolchain - develop for Android devices (Android SDK version 31.0.0)
[✓] Xcode - develop for iOS and macOS (Xcode 13.0)
[✓]

[2022-01-03 13:11] jk2pr commented on #620
In tried to do like this, but now it is not working on Gmail android app (Subject/Text empty), but partially working on outlook app (HTML Text is not working)

[2022-01-04 14:10] adrianvintu commented on #649
Ok @vbuberen, but I will not deploy this soon. Maybe someone else will do it and announce it here.

[2022-01-04 14:48] ramisadek opened #680 "[sensors_plus]accelerometer readings not working on IOS"
## System info

Issue occurs on: iOS
Plugin name: sensors_plus
Plugin version: 1.2.1
Flutter doctor output:

[code]

## Steps to Reproduce

1. Copy&Paste  the Example of the accelerometer in initState of the default app of Flutter
2. Run the code on iPhone Device
3. you will notice that no output results from the function

[2022-01-04 17:36] manishkumar-dsi commented on #603
@pouria-z  did you follow @startnow65 suggestions? Is it working for you?

[2022-01-04 20:29] pouria-z commented on #603
No actually. I don't use the package anymore, but let others know if it does work.

[2022-01-05 20:56] KurdishSage-1 opened #682 "AndroidAlarmManager.periodic not executing when the app is killed"
my app works fine while the app is NOT closed in background, i get notifications every 10 seconds, but whenever i kill the app in background, the schedule does not get executed anymore.

## System info

Issue occurs on: Android
Plugin name: android_alarm_manager_plus
Plugin version: ^2.0.3
Flutter doctor output:

[code]

## Steps to Reproduce

using this code
[code]
1.the alarm works fine, i get r

[2022-01-06 05:56] Koushikphy opened #683 ""File format not supported" while sharing"
I'm writing an application, and one page of it takes a screenshot and share it with other application e.g. WhatsApp.
#### Dependency used:
[code]
Following is the code I'm using
[code]
Now the screenshot is indeed taken and saved to the gallery, but in the share step, when I try to share it in WhatsApp it shows (as a system popup) `file format not supported

[2022-01-06 13:02] vbuberen commented on #682
Alarm manager indeed has some issues with periodic, especially on latest Android versions, but to be able to address them I would like to ask you to fill the issue template properly mentioning all the info requested there.

[2022-01-06 14:21] KurdishSage-1 commented on #682
sorry about that, i have updated the post

[2022-01-06 15:56] ghenry opened #684 "PackageInfoPlugin/DeviceInfoPlugin RegisterWith replacement for calling in background with FCM"
Hi all,

I note I can't do this any more with the **plus** plugins in my `android/app/src/main/java/com/surevoip/talk/Application.java`

[code]

How do you do this now with the latest?

Many thanks.

[2022-01-06 17:21] #626 closed

[2022-01-06 17:21] jpnurmi commented on #626
Thanks for the update!

[2022-01-06 17:28] jpnurmi commented on #602
I'm afraid `connectivity_plus_linux` cannot work without D-Bus because the package is based on the NetworkManager D-Bus API (via nm.dart).

[2022-01-06 17:30] jpnurmi commented on #602
The old plugin didn't have a Linux platform plugin.

[2022-01-06 17:44] jpnurmi opened #685 "[battery_plus] getter for the current battery state"
## Use case

Query the current battery state without having to listen to a stream. (Is the stream even guaranteed to emit the current state, or starting from the first state change as the name suggests?)

## Proposal

Add `batteryState` on the side of the existing `onBatteryStateChanged`.

[2022-01-06 17:45] jpnurmi commented on #650
Duplicate of #602.

[2022-01-06 17:45] #650 closed

[2022-01-06 18:07] jpnurmi commented on #576
It's not that far-fetched. Canonical's WSL setup wizard GUI is Flutter. 😄

[2022-01-06 18:10] #682 closed

[2022-01-06 18:11] hedihadi opened #686 "AndroidAlarmManager.periodic not executing when the app is killed"
my app works fine while the app is NOT closed in background, i get notifications every 10 seconds, but whenever i kill the app in background, the schedule does not get executed anymore.

## System info

Issue occurs on: Android
Plugin name: android_alarm_manager_plus
Plugin version: ^2.0.3
Flutter doctor output:

[code]

## Steps to Reproduce

using this code
[code]
1.the alarm works fine, i get r

[2022-01-06 18:31] jpnurmi commented on #381
Could you try the latest version, please? There's a chance that https://github.com/fluttercommunity/plus_plugins/pull/423 fixed the issue.

[2022-01-06 23:10] cedvdb commented on #576
I was on WSL 2 if I recall correctly, just in case. I cannot help with this issue anymore as I'm very busy currently so you can close if you are ultimately waiting for me to give a reproducible

[2022-01-07 02:25] LinMaris commented on #433
I also meet this problem, this is strange.

No implementation found for method getAndroidDeviceInfo

I can't solve this problem through external methods

[2022-01-07 03:35] ChivialK commented on #668
Same error also happening on macOS:
Plugin version: 3.2.1

MacOS -> Run flutter on Chrome(web)

[code]
Error: UnimplementedError: macosInfo() has not been implemented.

[2022-01-07 07:49] jpnurmi commented on #576
Ok, please don't hesitate to drop a comment if you still face the issue in the future.

[code]

[2022-01-07 07:49] #576 closed

[2022-01-08 19:12] arashgm opened #689 "MissingPluginException on Accessibility Widget testing"
## System info

Issue occurs on: Widget Tests
Plugin name: connectivity_plus
Plugin version: 2.1.0

## Steps to Reproduce

on testing Accessibility on a Widget which use connectivity_plus , when i want to assert **textContrastGuideline**
with code: `await expectLater(this, meetsGuideline(textContrastGuideline));` MissingPluginException thrown

## Logs

The following MissingPluginException was thro

[2022-01-09 09:21] vbuberen commented on #614
Thanks for reporting it. Checked and can confirm that `/` is added. I will fix it in one of next PRs.

[2022-01-09 13:53] Koushikphy commented on #683
So, It seems it was a problem with the MIUI (12.5). For anyone stumbling on this issue (using MIUI devices) in the developer, options  Turn on MIUI optimization and enable force allow apps to write on external storage.

[2022-01-09 13:53] #683 closed

[2022-01-10 07:18] gupta-shrinath commented on #614
Thanks for confirming the issue.
Regarding not working in release mode I believe after  rebuild it worked.

[2022-01-10 12:45] tobatha commented on #386
I thought it was just me but seems like everyone is yarning for the success/fail/cancel callback support, that's reassuring! LOL

[2022-01-10 13:54] alexrainman commented on #386
How i am going to increase a share count without knowing if the user actually share or hit cancel?

[2022-01-10 14:35] Davenchy commented on #381
@jpnurmi Yes, it is working on the same machine. Thank you!

![image](https://user-images.githubusercontent.com/19766186/148783248-b80f8d9f-3d45-4b85-bb2f-7c36eec93685.png)

[2022-01-10 14:35] #381 closed

[2022-01-11 10:41] appinteractive opened #691 "[share_plus] Share subject does not appear in email"
## Description

When I try to share a link or a message vie mail, using the Share_Plus plugin on iOS (maybe both), the subject is empty, but it should contain it.

## System info

Issue occurs on: iOS (maybe both)
Plugin name: Share_Plus
Plugin version: 3.0.4
Flutter doctor output:

[code]

## Steps to Reproduce

1. `Share.share('http://example.org', subject: 'my subject in case of email');`
2. ch

[2022-01-12 00:04] komaxx commented on #629
I have the same issue.

Some searching delivered that this might have to do with using the wrong/deprecated Method channel (sorry, no plugin developer)?

[2022-01-12 00:10] komaxx commented on #629
As a small addendum:
I'm trying to do some sensor monitoring in the background using a ForegroundService on Android.

As soon as the user presses the backbutton on the app, though, the log is flooded with message like this:
[code]

There is also no recovery from this. Even bringing the app back to front does not make these messages stop. My listeners at least then receive accelerometer readings ag

[2022-01-12 21:17] Elias8 commented on #46
@miquelbeltran I believe the `melos run test:e2e` command is no longer valid (it is removed from the melos file). So could please confirm that and close the issue?

Thanks!

[2022-01-13 00:23] AleksMx commented on #619
Hello! I have encountered with a similar problem. Only my application crashed when I tried to share.

First of all.

[code]

I don't think these messages are related to the error. These messages also appear in the application without a crash.

**Maybe this is related to another issue.**

First of all, run your application in the XCode and check RAM usage by your application. For me the problem was

[2022-01-13 00:24] Elias8 commented on #75
The problem with [Intent Plugin: Type Mismatch between Dart's List<String> vs Java String[] flutter/flutter#54362](https://github.com/flutter/flutter/issues/54362) is we are using the `bundle.putStringArrayList` method instead of `bundle.putStringArray` to pass the email addresses or other array arguments.

So since both methods may have different use cases, I am thinking to introduce a new field

[2022-01-13 06:11] joshipucher opened #692 "[share_plus] Share image in Flutter Web doesn't work"
In Flutter Web this doesn't open anything, even though the image url exists:
Share.shareFiles(['https://mywebsite.com/image.jpg']);

With text only it works (it will open my email software with the entered text).

Also, it would be nice if it would be possible to share an image from a Uint8List in Flutter Web

[2022-01-13 07:17] kostov commented on #632
On iOS Connectivity().checkConnectivity() always returns ConnectivityResult.none when we connected to wifi without Internet access.

[2022-01-13 08:44] hkloudou opened #693 "[share_plus] ShareFIles add base64Files support"
1.  should share_plus add base64 shareFiles suppoer
2. should share_plus add Future<void> when share screen close

[2022-01-13 12:33] mhadaily commented on #75
it seems a good solution, what do you think @miquelbeltran

[2022-01-14 09:22] DanOxlade opened #697 "Add dns server address to network_info_plus"
## Use case

I am working on an app that uses DNS lookups as part of its functionality and find that certain configurations (like VPNs or secure DNS) can sometimes stop these from working, so would like the ability to read the currently configured DNS server to use this information to tailor error / support messages back to the user.

## Proposal

Add a new function to network_info_plus plugin to

[2022-01-14 15:33] yringler opened #699 "Connectivity plus - update stream when app re-enters forground"
## Use case
I want to download data when user gets internet.
The simplest thing is to wait on the stream, but as per docs that doesn't get updated when app is in background.

## Proposal
If connectivity stream has subscribers, fetch connectivity status when app reenters foreground.
This could also be implemented as a separate stream.

Here is a method I wrote, which I'm actually [using](https://gi

[2022-01-14 15:48] masterwok commented on #337
@fryette I've tried opening Runner.xcworkspace in XCode but i'm not picking up any changes in `git diff`. How exactly did you resolve this issue? Any help would be greatly appreciated! @william-levi I think this issue should be reopened as it's still occurring.

[2022-01-14 23:09] william-levi commented on #337
try this @masterwok

[2022-01-15 16:01] SirFalk opened #701 "[share_plus] Can't share a single word on iOS"
There is an issue when trying to share a single word a Text on iOS.
Basically, if I use Share.share("mysingleword"+" "); it works just as it should but if I use Share.share("mysingleword"); a weird bug appears, where you can only share via AirDrop (in the menu) and that doesn't work either.

I also get

[code]

in the console. I've attached some files what the bug looks like. I hope this helps.

<

[2022-01-16 07:23] redDwarf03 commented on #701
Same thing. We have to add a space at the end of the word to have all the good options for sharing
![3D86C118-B949-4946-9555-F94D3ACBBC95](https://user-images.githubusercontent.com/68340133/149651087-c1230c38-52ac-4912-9f87-2a6c84cd6fa1.jpeg)

[2022-01-16 11:19] ben-xD commented on #701
I noticed that using v2.0.0 on iPhone, I was able to share to any app, but now in 3.0.4 I am limited to Aidrop and "Plus", as per https://github.com/fluttercommunity/plus_plugins/issues/701#issuecomment-1013825093

However, I noticed that using v2.0.0 or v3.0.4 does not work iPad. It looks like iPad is not well supported by this package, and this issue on iPad is not a recent bug.

The iPhone erro

[2022-01-16 11:24] ben-xD commented on #701
@SirFalk, can you update the title to have `[share_plus]`, like https://github.com/fluttercommunity/plus_plugins/issues/693

[2022-01-16 11:44] vbuberen commented on #701
Would also be good to folllow the issue template provided for reporting a bug in this repo.

[2022-01-16 12:45] vbuberen commented on #649
I looked a little bit deeper in the code of alarm_manager_plus plugin and believe that we can provide a fix from our side which won't require adding anything into a manifest file.

I will provide more info after testing a possible fix.

[2022-01-16 12:54] adrianvintu commented on #649
@vbuberen I have added the fix provided by @valentintintin, deployed to users and haven't seen a single crash.
https://github.com/fluttercommunity/plus_plugins/issues/649#issuecomment-996058714
I think it's pretty safe to add it to the documentation.
Thank you for your wonderful work!

[2022-01-16 13:05] #685 closed

[2022-01-16 13:29] vbuberen commented on #649
For me it seems that current implementation of `android_alarm_manager_plus` has a very old implementation and wasn't properly migrated from v1 embedding to v2. I would love to try and tackle it somewhere in the nearest time as I found more issues like this one: https://github.com/fluttercommunity/plus_plugins/issues/266

[2022-01-16 16:27] Elias8 commented on #206
Hi @YowFung 👋,

I think the things you mentioned are included in the latest version via PR #355. So please check the latest version and close the issue.

Thanks.

[2022-01-17 01:07] YowFung commented on #206
Nice! Thank you very much!

[2022-01-17 01:07] #206 closed

[2022-01-17 14:47] vbuberen commented on #701
Can confirm the issue from my side as well.

[2022-01-18 00:39] dan1229 commented on #641
+1 this - I get mobile on web (running on my desktop) even if wifi is off.

[2022-01-18 00:40] dan1229 commented on #639
+1 this - I get mobile on web (running on my desktop) even if wifi is off. Firefox and Chrome.

[2022-01-18 08:45] vbuberen commented on #606
@mhadaily Joining the question above ☝🏻 😄

[2022-01-18 08:51] mhadaily commented on #606
Hi, Yes, please delete them, the packages are in the queue to be shipped already, they must arrive to you in Feb after FlutterVikings.

[2022-01-18 09:30] mploigt opened #704 "[sensors_plus] take os setting for "auto rotate" / "orientation lock" into account"
## Use case
On iOS devices the user can activate "orientation lock" in the system settings of the device to prevent the screen rotating to landscape (e.g. when lying in bed sideways and still want to be able to read the content in portrait mode). On Android that setting is called "auto rotate".

Currently the sensors_plus plugin does not take the current system setting into account and always retu

[2022-01-18 16:25] phan-dev commented on #606
@mhadaily
Thank you!

[2022-01-19 07:49] Sachinsowri commented on #658
Flutter 2.8.1 and Share_plus :3.0.4 device ipad(IOS 15)
when i tirgger share file this error come

 " Will attempt to recover by breaking constraint
<NSLayoutConstraint:0x283611770 V:[_UIActivityContentNavigationBar:0x15423c320]-(0)-[UIFocusContainerGuide:0x282a75a40'UINavigationControllerContentFocusContainerGuide']   (active)>

Make a symbolic breakpoint at UIViewAlertForUnsatisfiableConstraints

[2022-01-19 12:22] zambetpentru commented on #658
The good news is that there is a simple fix:

  Share.share(
      'https://www.google.ie', sharePositionOrigin: Rect.fromLTWH(0, 0, 300, 300));

https://github.com/flutter/flutter/issues/47220

@ben-xD FYI

[2022-01-19 22:36] xmany opened #706 "[device_info_plus] androidInfo.isPhysicalDevice becomes nullable"
Hi guys, I am trying to switch from `device_info` to `device_info_plus`, and I noticed that the property `isPhysicalDevice` for `DeviceInfoPlugin.androidInfo` becomes nullable;

The document does not say how to treat the null value, should I consider the null value as physical device or not? or is there other function I should call first, to help stabilise this property?

Really appreciate it if s

[2022-01-20 09:43] artemsivcev commented on #368
Have same issue on Android Chrome 97.0.4692.87.
Is there some workaround for this?

[2022-01-20 10:26] vbuberen commented on #706
Hello. I had a brief look at the code and I think that there should be no cases when it is `null`.
I would suggest to treat `null` as not a physical device, since you receive no explicit `true` there.

I will take a look if we can improve this part for Android as I am currently migrating all plugins to Kotlin and do some small fixes along the way. `device_info_plus` is still in the queue for me.

[2022-01-20 12:21] flogy commented on #645
What was the solution to this?

[2022-01-21 11:39] jithware commented on #692
Appears to be the same for

``` Share.share('check out my website https://example.com', subject: 'Look what I made!');```

Opens a a new about:blank tab with no contents on Chrome Version 97.0.4692.71 (Official Build) (64-bit)

```<html><head></head><body></body></html>```

[2022-01-21 12:23] #75 closed

[2022-01-21 12:26] vbuberen commented on #75
Yay, all issues from the original Flutter repository are fixed. Awesome!

[2022-01-21 12:37] Elias8 commented on #200
Hi @YowFung 👋,

Please confirm if you are still having this issue. And if you do, please update the issue to use the issue template or at least add on which platform and which version of the plugin you are having this issue.

Thanks!

[2022-01-22 15:36] thecoderkd commented on #606
@mhadaily I totally missed this thread. Is it still possible to send you over my details? Please

[2022-01-22 23:12] xmany commented on #706
Thanks! helps a lot!

[2022-01-24 06:27] ABmamunHoneybee opened #708 "AndroidAlarmManager.periodic""
## System info

Platform the Issue occurs on:
Plugin name:
Plugin version:

## Steps to Reproduce

1. ...
2. ...
3. ...

<details>
<summary>Logs</summary>

[code]

</details>

<details>
<summary>Flutter doctor output</summary>

[code]

</details>

[2022-01-24 06:28] ABmamunHoneybee opened #709 ""AndroidAlarmManager.periodic" Not working. only work for first time but not interval also not showing any error."
``void printHello() {
  final DateTime now = DateTime.now();
  final int isolateId = Isolate.current.hashCode;
  print("[$now] Hello, world! isolate=$isolateId");
  NotificationService().showScheduledNotification();
}

void main() async {
  WidgetsFlutterBinding.ensureInitialized();
  await AndroidAlarmManager.cancel(0);
  await AndroidAlarmManager.initialize();
  runApp(const MyApp());
  await An

[2022-01-24 07:56] #708 closed

[2022-01-24 07:56] vbuberen commented on #709
Please provide info according to suggested issue template. Without full information and description we can't help.

[2022-01-24 10:11] FeelHippo commented on #644
Having the same problem with device_info_plus: ^3.2.1 and Flutter 2.9.0-1.0.pre.464 • channel master.

@regokan, the issue is gone when I delete the package

[2022-01-24 10:13] justjew commented on #644
The problem was on Flutter 2.8.0
2.8.1 has fixed it

[2022-01-24 10:27] FeelHippo commented on #644
Thank you for your reply, justjew.
I am on Flutter 2.8.1 • channel stable right now but still not working :/

[2022-01-24 12:31] arisAlexis opened #710 "Adding device_info_plus to the project completely breaks the build process without an error"
Flutter project working normally. Adding in packages.yaml device_info_plus: ^3.2.1 makes the Run process stuck at: Launching lib\main.dart on Android SDK built for x86 in debug mode...
Running Gradle task 'assembleDebug'..

Commenting out this package runs the project correctly. No other error message. All AVDs.

Latest Intellij, latest Dart/Flutter plugins.

[2022-01-24 18:07] hedihadi commented on #709
i have the same problem, reported here https://github.com/fluttercommunity/plus_plugins/issues/686

[2022-01-24 20:56] vinnytwice commented on #413
HI I'm getting to code the sharing part for my app but I don't yet really master the whole process..
 I'm a bit confused about how to handle the sharing problem with Facebook as experienced by @Ciock. If I got it right this problem is only on Android as with `share_plus` package the sharing would be carried out via Intent but Facebook doesn't accept them and any content share will cause problems w

[2022-01-24 21:40] Boehrsi commented on #413
@vinnytwice hi, I'm trying to summarize the situation, but I'm myself haven't had a look into Facebooks policies and in which situations they contact you and claim something is "wrong" (potentially if you integrate something with their login / some Facebook specific functionality / their SDKs and so on).

- share_plus for Android (I'm not an iOS developer and can't say something about that area) u

[2022-01-25 08:03] NagariSai opened #711 "text+images not sharing in instagram"

[2022-01-25 08:16] vinnytwice commented on #413
@Boehrsi Hi and thanks for answering so quickly. With "the whole sharing in Flutter gets impossible to implement" I actually meant that if you don't exclude Facebook from the package somehow, then it will be available to system to be targeted for sharing if installed on user's device, hence affecting the entire sharing content implementation, that's why I thought of the Intent.EXTRA_EXCLUDE_COMPON

[2022-01-25 08:53] narumishi commented on #668
Any fix available? wondering the reason why windows plugin not performed correctly.

I have to import `device_info_plus_windows` manually and directly call `device_info_windows.DeviceInfoWindows().windowsInfo()` to bypass the issue temporary.

[2022-01-25 10:52] vbuberen commented on #413
Would like to add here, that it is not a `almost working` package, but Facebook breaking the rules and guidelines of Android. In case Google would be more strict about it we wouldn't have such problem.

From my point of view it shouldn't even be considered, because this is not just adding already mentioned burden of doing some setup by users it is also a huge risk to stability of all apps which wi

[2022-01-25 11:03] Boehrsi commented on #413
@vinnytwice thanks for looking into Intent.EXTRA_EXCLUDE_COMPONENTS and the policies, this could be something share_plus could add (as configurable option) to help users out here.
The independent extension with Facebook support is something I would sadly also be not the right person for to implement, so also thanks in that area that you will have a look. Even as a side project your insights could

[2022-01-25 12:49] AndriiReverchuk commented on #607
I have the same problem, did you solve it?

[2022-01-25 13:46] sgsm74 commented on #668
Not yet :( , just waiting for any response...

[2022-01-25 13:46] #668 closed

[2022-01-25 16:27] hedihadi commented on #686
i tested the app on Galaxy Note 8 as well, it doesn't send notifications even when the app is running

[2022-01-26 20:22] themumy10 commented on #434
Connectivity result stays on "none" condition on ios simulator. Even simulator uses internet on browser. `  ConnectivityResult connectivityResult =
        await connectivity.checkConnectivity();
    if (connectivityResult == ConnectivityResult.mobile ||
        connectivityResult == ConnectivityResult.wifi ||
        connectivityResult == ConnectivityResult.ethernet) {return true}`

Result is non

[2022-01-27 08:07] boparaiamrit opened #712 "On iOS we can share only text or image, not both on same time."
## System info
iOS 15.x
Flutter 2.8

Platform the Issue occurs on:
Plugin name: Share Plus
Plugin version: 3.0.4

## Steps to Reproduce
Try to share both text and image files at the same time.

### Workaround
![image](https://user-images.githubusercontent.com/1220153/151317553-997380c3-500b-41de-9e6d-9edfd4593ed8.png)

[2022-01-27 18:18] ryzizub commented on #701
I can confirm this issue and for my case it's not solvable adding extra space to string. I'm unfortunately back on 2.0.0 where it works just fine on iOS

[2022-01-28 08:52] bejaeger opened #713 "[battery_plus] isInBatterySaveMode fails will NullPointerException"
## System info

Using a Samsung S21 (SM-G991W)
Platform the Issue occurs on: android 12 (targetSdkVersion 31)
Plugin name: battery_plus
Plugin version: 2.1.0

## Steps to Reproduce

[code]
yields to the following error message
[code]

<details>
<summary>Logs</summary>

[code]

</details>

<details>
<summary>Flutter doctor output</summary>

[code]

</details>

[2022-01-28 18:29] lecicdjuro commented on #645
Why this issue is closed? It's still present. Any explanation? @uchidacode

[2022-01-29 19:36] au-top opened #714 "network_info_plus plugin run in windows11 throw error notfound `Unhandled Exception: MissingPluginException(No implementation found for method wifiSubmask on channel dev.fluttercommunity.plus/network_info)`"
## System info

Platform the Issue occurs on: windows11
[code]
Plugin name:   network_info_plus
Plugin version: ^2.1.2

## Steps to Reproduce

1. use in pub.dev example code
2. flutter run -d windows

<details>
<summary>Logs</summary>

[code]

</details>

<details>
<summary>Flutter doctor output</summary>

[code]

</details>

[2022-01-30 10:03] EnricoTirri opened #715 "Repeating alarm won't start when closing app, it get an issue"
java.lang.RuntimeException: Unable to create service dev.fluttercommunity.plus.androidalarmmanager.AlarmService: java.lang.NullPointerException: Attempt to read from field java.lang.String io.flutter.embedding.engine.loader.FlutterApplicationInfo.flutterAssetsDir' on a null object reference
	at android.app.ActivityThread.handleCreateService(ActivityThread.java:3577)
	at android.app.ActivityThread.

[2022-01-30 10:15] vbuberen commented on #715
Please report issue following our PR template.
Also, please search through issues first. I believe this is already reported.

[2022-01-30 10:44] EnricoTirri commented on #715
where can I get this template?

[2022-01-30 12:16] #649 closed

[2022-01-30 12:21] vbuberen commented on #715
When you click `New issue` and select `Found a bug` the body is already pre-filled. You just need to input your information.

But, even with the info you already shared I feel like this is the same as https://github.com/fluttercommunity/plus_plugins/issues/649 which was already reported multiple times. If not, don't hesitate updating this issue with all the info from the template as I initially re

[2022-01-30 13:03] EnricoTirri commented on #715
ok, it looks like that report, but it seems like it's been closed, so have you an idea why i continue having the same problem?
in the report issue, the person who opened it says that a hot-fix could be change the application name in the android manifest, but if I change it the app won't build because your package requires v2 embedding

[2022-01-30 13:07] vbuberen commented on #715
The issue was closed because I merge a PR from one of maintainers ~1 hour ago. But new version still not released on pub.dev. So, please, wait till `2.0.4` is released and share the feedback afterwards.

[2022-01-30 13:09] EnricoTirri commented on #715
thanks you a lot

[2022-01-30 13:13] vbuberen commented on #713
Thanks for your report. I was able to reproduce the issue on another Samsung with Android 10. Will look at the reason in nearest time.

[2022-01-30 13:15] vbuberen commented on #711
Please provide all the required information as it is described in the issue template.

I suspect you have issues with Share Plus plugin. In such case please check https://github.com/fluttercommunity/plus_plugins/tree/main/packages/share_plus/share_plus#known-issues

[2022-01-30 15:28] SergejSachs opened #716 "[package_info_plus] version and buildnumber is 1.0.0."
I can get the version and build number on every platform **except windows**.

[code]
In case of windows I get 1.0.0 as the version and empty as build number.

pubspec.yaml
`version: 1.1.157+190`

This happens in debug mode, for a executable and if I create a MSIX package as well.

[2022-01-30 16:47] giorgionegro commented on #715
Roughly when we will have the new version?

[2022-01-31 04:32] NagariSai commented on #711
Hi,

This is my code .
I am using share_plus: ^3.0.4 plugin.
and sharing multiple images with text to instagram.
Images are sharing but text is not .

* imageList: List of image paths

  await Share.shareFiles(imageList,
           text: "sharetext with images",
           subject: "Sample",
           sharePositionOrigin: box.localToGlobal(Offset.zero) &
box.size);

On 2022-01-30 18:45, Volodymyr

[2022-01-31 06:03] #622 closed

[2022-01-31 06:48] Kishan-Somaiya commented on #607
@AndriiReverchuk Sadly you have to use other plugins If you want to share on Instagram, Facebook. You can find more info [here](https://github.com/fluttercommunity/plus_plugins/issues/413). Keep in mind that if you're going for third party plugins to share on Instagram/Facebook then you've to create your own logic and UI for sharing which is not recommended.

[2022-01-31 06:55] UmairSaqibBhutta opened #718 "ShareFiles does not work only text sharing works"
First I have used `Share.share()` to share the text. It works great but when I use `Share.sharefiles(`) it does not work.
Here is my code for sharing image:
`Future<void> shareProduct(
    {required String refferal
, required String imageUrl})
async {
  log("imageUrl in share product = $imageUrl");
  final url = Uri.parse(imageUrl);
  final responce = await http.get(url);
  final bytes = responce.

[2022-01-31 07:59] #713 closed

[2022-01-31 08:08] vbuberen commented on #713
Fix released in `2.1.1`. Please give it a try and share feedback if something is still wrong.

[2022-01-31 08:18] miquelbeltran commented on #718
This issue has been discussed in many other tickets like https://github.com/fluttercommunity/plus_plugins/issues/711

In short: Some apps don't accept Text + Image when sharing.

[2022-01-31 08:18] #718 closed

[2022-01-31 08:25] miquelbeltran commented on #692
Your bug doesn't follow the bug reporting template: https://github.com/fluttercommunity/plus_plugins/blob/main/.github/ISSUE_TEMPLATE/BUG.md

Please use the template or we will have to close this issue.

[2022-01-31 08:25] miquelbeltran commented on #712
Your bug doesn't follow the bug reporting template: https://github.com/fluttercommunity/plus_plugins/blob/main/.github/ISSUE_TEMPLATE/BUG.md

Please use the template or we will have to close this issue.

[2022-01-31 08:26] miquelbeltran commented on #711
Also please, use the bug template. Your bug doesn't follow the bug reporting template: https://github.com/fluttercommunity/plus_plugins/blob/main/.github/ISSUE_TEMPLATE/BUG.md

Please use the template or we will have to close this issue.

[2022-01-31 08:26] miquelbeltran commented on #710
Your bug doesn't follow the bug reporting template: https://github.com/fluttercommunity/plus_plugins/blob/main/.github/ISSUE_TEMPLATE/BUG.md

Please use the template or we will have to close this issue.

[2022-01-31 08:57] vbuberen commented on #715
It is already available

[2022-01-31 09:05] #710 closed

[2022-01-31 10:11] UmairSaqibBhutta commented on #718
@miquelbeltran issue has been discussed earlier but not yet solved...

[2022-01-31 10:15] vbuberen commented on #718
So instead of adding a new info to the original issue if you have any, you believe it is better to spam with opening duplicate issues?

[2022-02-01 11:19] Anas-jed opened #719 "AndroidAlarmManager.oneShotAt not working"
## System info

Platform the Issue occurs on: Android
Plugin name: android_alarm_manager_plus
Plugin version: 2.0.4

## Steps to Reproduce

**Just Open your example code of android alarm manager plus. Change the function from oneShot to oneShot At and Run the app. You will see it does not fire. it does not calls to callback**

<details>
<summary>Example Code with just what i changed</summary>

[co

[2022-02-01 12:48] Grrravity commented on #594
Maybe by using the same command i'm using :
`gnirehtet autorun -r 172.0.12.12,172.0.12.36 & autoadb scrcpy -s '{}'`

autoadb scrcpy is just here to miror device screen so you can ignore this
You can also replace the ips in the -r parameter by the one you like to test

I'll have a try with the standard run cmd but the autorun was quite conveignent for me :p

[2022-02-01 13:28] miquelbeltran commented on #711
From the share_plus readme: https://github.com/fluttercommunity/plus_plugins/tree/main/packages/share_plus/share_plus

This is a problem that also exists on native code and is a limitation by the receiving app of the share action.

If you believe the issue is unrelated to this, please report a bug using the template and provide all the necessary information or we will close the issue.

[2022-02-01 21:15] joaovirgilicw commented on #386
any update of this?

[2022-02-01 23:39] Devenom1 commented on #214
The same issue that @pinkasey mentioned happened with me too. After trying multiple options like re-building the app and re-opening the emulator it started working. I'm running it on MacOS too. This should be looked into at some point

[2022-02-02 04:32] harriseldon commented on #594
Here is what I noticed. It does not solve your problem, but speaks to, potentially, an underlying bug in the NetworkCapabilites part of core Android.

The actual results are returned from the following located in /packages/connectivity_plus/connectivity_plus/android/src/main/java/dev/fluttercommunity/plus/connectivity/connectivity.java:31

[code]
This returns a NetworkCapabilities object as define

[2022-02-02 06:56] marcov-dart commented on #716
The plugin does work, but unfortuantly the build number for windows is in Windows\runner\Runner.rc (VERSION_AS_NUMBER and VERSION_AS_STRING) and flutter does not update this when the version in pubspec.yaml is changed.

[2022-02-02 09:21] stact commented on #642
Related to #568

[2022-02-02 09:22] stact commented on #568
Same issue on iOS first share taking long time with same errors appearing in the console.

[2022-02-03 12:53] WaheedHussainHaans commented on #337
@william-levi  did this but still not working

[2022-02-03 15:51] luisjavierglb commented on #656
Same issue happening to me, and I can't go back to a previous version because I need the package to use RechabilitySwift

[2022-02-03 19:36] Grrravity commented on #594
Interesting...
Tho I dont know if this case will be used in any other way but in development mode as noone ever use reverse tethering on production apps
Still, vpn-connection type detection would be a good feature to provide I guess

[2022-02-04 08:52] ghermana opened #721 "[connectivity_plus] Mobile connectivity is reported when WIFI signal strength is low/medium and WIFI Assist is enabled on iOS"
On iOS with [WIFI Assist](https://support.apple.com/en-us/HT205296) enabled, the connectivity_plus plugin reports Mobile connectivity instead of WIFI when the WIFI signal strength is at medium or low (1/3 or 2/3 in top bar of the iPhone).

To clarify: WIFI connectivity is still possible, Chrome connects on WIFI, and the WIFI network interfaces are all available. \
But the plugin reports mobile. Th

[2022-02-04 11:56] lukaskirner opened #723 "[connectivity_plus] Flutter 2.10 requires connectivity_plus to use embedding v2"
The plugin connectivity_plus uses embedding v1 which is deprecated. Flutter 2.10.0, which was released yesterday, enforces the use of embedding v2. The log output is misunderstanding. It suggests the developer to migrate the app to use embedding v2 but instead of the app the plugin does not use embedding v2.

## System info

Platform the Issue occurs on: Android
Plugin name: connectivity_plus
Plug

[2022-02-05 09:13] mregnauld commented on #231
Sorry for the (very) late answer, but for information, I can't reproduce the bug with battery_plus 2.1.1.

[2022-02-05 09:13] #231 closed

[2022-02-06 19:30] ekuleshov opened #724 "Provide details how to configure development IDE for working with plus_plugins monorepo"
## Use case

The section "5.1 Getting started" of the `CONTRIBUTING.md` simply says "git fetch, git checkuput, hack away".
That is not enough details to get the project's code into an IDE, especially when the contributor's intent to look only at individual plugins and some subset of platforms (e.g. mobile ones).

Unlike may other open-source plugins and packages, I can't see an obvious way to get

[2022-02-06 21:08] hammadpervez opened #725 "android_alarm_manager_plus Crashing App"
I am using latest version of flutter 2.8.1 and also latest version of `android_alarm_manager_plus: ^2.0.4`  It's crashing my application .

![image](https://user-images.githubusercontent.com/33895363/152700965-e1717235-80e6-4d79-b06c-0a227160e33d.png)

![image](https://user-images.githubusercontent.com/33895363/152700983-d4a7b08a-3524-49db-bc00-1b03761cc1a3.png)

It throws an error ClassNotFoundEx

[2022-02-06 23:06] masterwok commented on #337
Sorry, I thought I responded to this ticket.

@WaheedHussainHaans - I was able to resolve this issue without deleting the iOS directory.

What ended up working for me was opening the project in XCode. I can't remember exactly how/where I opened it but after a number of attempts, XCode presented a dialog recommending code changes. After applying the recommended code changes my project compiled.

@w

[2022-02-07 06:26] ttb-inc commented on #701
It works normally in version 3.0.3.

[2022-02-07 11:23] kjawadDeveloper1 commented on #347
Any update on this ?

[2022-02-07 18:25] Chinmay-KB commented on #724
Could you explain what you exactly mean by "get code into IDE"?

[2022-02-07 18:35] ekuleshov commented on #724
See screenshot illustrating it in the issue description. You don't expect contributors to "hack away" in a Notepad, or do you?

[2022-02-07 19:47] Chinmay-KB commented on #723
As you can see in the logs, the issue is with the app using v1 embedding and not the plugin. `connectivity_plugin` already uses v2 embedding. I am currently using this plugin in production for various projects which have v2 and it works fine on Flutter 2.10.

[2022-02-07 19:53] Chinmay-KB commented on #724
I use VS code for flutter. To check on Android Studio I opened this folder, it worked fine there. I have not installed anything other than Flutter plugin. It's something to do with the IDE, this isn't how its supposed to look out of the box.
<img width="728" alt="image" src="https://user-images.githubusercontent.com/13520364/152861358-ddf14f61-e34e-4847-8bae-04c76523090d.png">

[2022-02-07 19:58] ekuleshov commented on #724
That is what I'd have expected to see but it doesn't look like that here. Either some steps are missing or you "opened this folder" in AS somewhat differently.

[2022-02-07 20:01] Chinmay-KB commented on #724
After running melos bootstrap in the terminal, I selected "Open project", then navigated to packages-> package_info_plus -> package_info_plus and that's it.

[2022-02-08 06:50] purgeyao commented on #723
@Chinmay-KB May I ask when do you plan to release the plug-in with V2, because we have also encountered this problem

[2022-02-08 06:56] Chinmay-KB commented on #723
@lukaskirner said the logs are misleading because it says the app to be migrated to v2. But I am not able to replicate this issue on my project with this plugin. Also when I go through the code, it seems to me the plugin is already using v2 if i'm not wrong

[2022-02-08 09:27] vbuberen commented on #723
`Connectivity_plus` already migrated to embedding V2. Please check logs of your project carefully.

Here is an example of logs from the project I needed to update just yesterday:

[code]

As you can see `connectivity_plus` requires the app to be migrated, not the plugin isn't migrated.

[2022-02-08 09:27] #723 closed

[2022-02-08 16:34] szuwest commented on #643
android 11 need file provider. anybody can fix it?

[2022-02-08 21:37] zzzaJ opened #726 "[sensors_plus]: No gyroscope measurements"
## System info

Platform the Issue occurs on: Android
Plugin name: sensor_plus
Plugin version: 1.2.1

## Steps to Reproduce

I am building an application that allows users to measure angles between 2 specific points in physical space - similar to a virtual protractor. While it isn't the main function of the application, it plays a large role in providing the functionality necessary.

I am using th

[2022-02-09 14:44] aklehm opened #727 "[network_info_plus] Warning: Deprecated methods"
I'm getting a warning while building my flutter app with network_info_plus version 2.1.2:

`C:\flutter\.pub-cache\hosted\pub.dartlang.org\network_info_plus-2.1.2\android\src\main\java\dev\fluttercommunity\plus\network_info\NetworkInfo.java:46: warning: [deprecation] getConnectionInfo() in WifiManager has been deprecated
    if (wifiManager != null) wifiInfo = wifiManager.getConnectionInfo();

[2022-02-10 02:50] hoangde2811 opened #729 "identifierForVendor change when reset on iphone"
## System info

Platform the Issue occurs on:
Plugin name:
Plugin version:

## Steps to Reproduce

1. ...
2. ...
3. ...

<details>
<summary>Logs</summary>

[code]

</details>

<details>
<summary>Flutter doctor output</summary>

[code]

</details>

[2022-02-10 08:21] vbuberen commented on #727
Hi. It is not a bug, but just warnings.
Network info plus supports lots of Android versions, including very old ones and to get network information on old device the plugin also uses APIs which are already deprecated in newer Android versions.
These warnings that you get during the builds aren't something that will fail the build or cause any issues, so you shouldn't worry about it.

[2022-02-10 16:16] espbee commented on #568
Same here. Long lag with error console messages.

[2022-02-10 17:01] espbee opened #730 "share_plus: errors on any share : ios / iPhone"
## System info

Platform the Issue occurs on: ios / iPhone
Plugin name: share_plus
Plugin version: 3.0.4

On the first run, there is a long lag before the share window pops up and although the share is successful, there is a messy error console log. The error continues each time though the lag seems to improve. **The lag itself does not happen on release builds, only debug.**

[code]

## Steps to

[2022-02-10 17:15] espbee commented on #619
Hi, I've been getting this same error even in the base example case of this plugin: simply sharing any text yields the same error.

[2022-02-10 20:29] pablo-johnson commented on #385
I have the same issue only on iOS.

I will add some comments only to clarify the issue.

When sharing a text in the text parameter and an image on Whatsapp or Slack, only the text is shared, not the image.
When sharing a text in the subject parameter and an image on Whatsapp or Slack, only the image is shared.
When sharing only an image (no text in any parameter) on Whatsapp or Slack, the image is

[2022-02-10 22:49] #727 closed

[2022-02-11 06:34] tripbnb66 commented on #214
This problem is still there and below is the result of flutter doctor.
`

[✓] Flutter (Channel stable, 2.5.3, on macOS 11.4 20F71 darwin-x64, locale zh-Hant-TW)
[✓] Android toolchain - develop for Android devices (Android SDK version 30.0.2)
[✓] Xcode - develop for iOS and macOS
[✗] Chrome - develop for the web (Cannot find Chrome executable at /Applications/Brave Browser.app/Contents/MacOS/Brave

[2022-02-11 08:38] giorgionegro commented on #715
Seams to work as intended to me

-------- Original Message --------
On Feb 10, 2022, 23:54, Volodymyr Buberenko wrote:

[2022-02-11 10:21] debasmitasarkar commented on #712
Same issue is here. Any progress on this ? @miquelbeltran

[2022-02-11 10:39] #715 closed

[2022-02-11 13:41] jdebou opened #734 "[battery_plus][windows] Debug build crashes when adding a listener to Battery().onBatteryStateChange"
Hello there,

I encoutered a flaky crash on windows. It can usually be reproduced within 3-4 tries running `flutter run -d windows`.

The error message itself starts with `Failed to cancel existing stream` followed by a bunch of garbage characters.

## Logs

<details>

<summary> flutter run -d windows -v </summary>

[code]

</details>

<details>
<summary> flutter doctor </summary>

[code]

</detai

[2022-02-11 13:56] mauricioluz opened #735 "Error while sharing a file got by http.get (bytes)"
I'm getting a file through http.get (in bytes), writing it in local storage as a PDF file and after I'm trying to share this file using Share.shareFiles. But I'm not able to share it. Any option that I'm using (as sharing on whatsapp, open in a pdf reader, printing, save in smartphone files) it is showing an error (could not share, could not copy this file). The same thing is happening when trying

[2022-02-12 09:53] flipflop133 opened #736 "MissingPluginException with shared_preferences"
## System info

Platform the Issue occurs on:Android 12
Plugin name:Android Alarm Plugin Plus
Plugin version:2.0.4

## Steps to Reproduce

Try to initialize SharedPreferences in the callback of AndroidAlarmManager.oneShot.
`await SharedPreferences.getInstance();`

<details>
<summary>Logs</summary>

[code]

</details>

<details>
<summary>Flutter doctor output</summary>

[✓] Flutter (Channel master,

[2022-02-13 14:18] 41linea45 opened #742 "error: Target of URI doesn't exist: 'snake.dart'"
Hello

I use sensors_plus example https://pub.dev/packages/sensors_plus but i see error ` error: Target of URI doesn't exist: 'snake.dart'` i added snake library https://pub.dev/packages/snake  but exaple gives error.

How can i solve this issue?

[2022-02-14 08:58] miquelbeltran commented on #712
No, there's no progress on this because it is a limitation on the apps receiving the share intent.

Also, don't ask for progress on open source projects.

[2022-02-14 08:58] #712 closed

[2022-02-14 09:00] #606 closed

[2022-02-14 16:58] maximilienGilet commented on #736
Same problem here

[2022-02-14 18:27] ricardo-gsilva opened #743 "Package updates version only by Runner.RC on Windows Platform"
## System info

Issue occurs on: Windows
Plugin name: package_info_plus
Plugin version: 1.3.0

## Steps to Reproduce

I used the code itself available in pubdev to test the package and found this situation. I believe it's a bug, if it isn't, please disregard it.

In Windows the package only accepts version change if the change is made in Runner.rc. ...

It's the first view I use this package for W

[2022-02-14 18:57] parmarravi opened #744 "FIle Sharing on WhatsApp not able to send message with file"
I am using a latest version of  share_plus: ^3.0.4 lib.
When sending a pdf to email the text comes but when sending via WhatsApp  only pdf comes and not the message.

How to send message and pdf both??

Device One plus 7T
Android 30

[code]

As per android document this is a fix

If you are previewing text, you can set a title, a thumbnail image, or both. Add a description to Intent.EXTRA_TITLE be

[2022-02-15 08:58] flipflop133 commented on #736
This is happening with flutter_isolate plugin as well, so I presume an implementation change occurred in shared_preferences plugin or in flutter framework itself.

[2022-02-15 09:15] flipflop133 commented on #736
This change https://github.com/flutter/plugins/commit/08ba6bdd1e2bbfcbbcb888d06c370fff30b87fa7 introduced this error, so specifying `shared_preferences_android: 2.0.10` in pubspec.yaml temporarily "fixes" the issue.

[2022-02-15 15:09] maximilienGilet commented on #736
Installing 2.0.9 after a `flutter clean` and a `flutter pub clean` doesn't work using Flutter 2.10.1

[2022-02-16 11:14] maximilienGilet commented on #736
Got a working setup after freezing version `shared_preferences_android: 2.0.10`

Specifying `shared_preferences_android: 2.0.10` was the key as it's an endorsed package

[2022-02-16 16:35] flipflop133 commented on #736
Nice to hear and yeah indeed that's what I mentioned, but I should have precise it was a dependency, but still it's a temporary workaround.

[2022-02-17 09:43] debuggerx01 opened #747 "Can't get package info after upgrgade to v1.3.1"
## System info

Platform the Issue occurs on:
Plugin name: package_info_plus
Plugin version: 1.3.1

## Steps to Reproduce

1. I'm writing a desktop app for Linux.
2. code: `var info = await PackageInfo.fromPlatform();`
3. this code works well on v1.3.0, but got errors after upgraded to v1.3.1

<details>
<summary>Logs</summary>

[code]

</details>

<details>
<summary>Flutter doctor output</summary>

[2022-02-17 09:50] jan-koz opened #748 "Await for feedback if message shared successfully"
Hi everyone,
It would be useful if it was possible to await for result of share action to check, if user successfully shared a message or cancelled whole process.

[2022-02-17 10:54] britannio opened #749 "[connectivity_plus] Cannot detect connection when using CloudFlare Warp on MacOS"
## System info

Platform the Issue occurs on:
Plugin name: connectivity_plus
Plugin version: 2.2.1

<details>
<summary>Pubspec.lock</summary>
<br>

[code]

</details>

## Steps to Reproduce

https://user-images.githubusercontent.com/33752528/154459943-18a670bc-3a58-40bb-a584-f7816067cb95.mov

1. Run the example app
2. Enable Cloudflare Warp (https://1.1.1.1)
3. Observe that the connectivity status

[2022-02-17 12:57] KBZouhir opened #750 "Could not send. Channel: dev.fluttercommunity.plus/sensors/accelerometer."
Could not send. Channel: dev.fluttercommunity.plus/sensors/accelerometer.

[2022-02-17 15:32] jpeiffer opened #751 "battery_plus: ^2.1.2 not compatible with connectivity_plus: ^2.2.1"
## System info

Platform the Issue occurs on: all
Plugin name: battery_plus: ^2.1.2 & connectivity_plus: ^2.2.1

## Steps to Reproduce

1. Depend on `battery_plus: ^2.1.2`
2. Depend on `connectivity_plus: ^2.2.1`
3. Run `flutter packages get`

<details>
<summary>Logs</summary>

Because `battery_plus` ultimately depends on `dbus  ^0.6.6` and `connectivity_plus` depends on `dbus ^0.7.0` version solv

[2022-02-17 22:21] Rexios80 opened #752 "[sensors_plus] Actually cleanup in onDetachedFromEngine"
## System info

Platform the Issue occurs on: Android
Plugin name: sensors_plus
Plugin version: 1.2.2

## Steps to Reproduce

1. Collect data
2. Kill app from recents
3. You'll get a ton of these: `W[/FlutterJNI]()(13631): Tried to send a platform message to Flutter, but FlutterJNI was detached from native C++. Could not send.`

[2022-02-17 22:32] tannermeade commented on #747
I have 2 people using this plugin for an app that are getting the same errors/problem on v1.3.0.

[2022-02-17 23:20] dpedrinha opened #754 "connectivity_plus is incompatible with flutter_local_notifications."
## System info

Platform the Issue occurs on: Both
Plugin name: connectivity_plus
Plugin version: 2.2.1

## Steps to Reproduce

Add connectivity_plus 2.2.1 and flutter_local_notifications 9.0.2 to any project and try pub get

<details>
<summary>

Because connectivity_plus >=2.2.1 depends on connectivity_plus_linux ^1.3.0 which depends on nm ^0.5.0, connectivity_plus >=2.2.1 requires nm ^0.5.0.
(1)

[2022-02-18 08:02] vbuberen commented on #754
Connectivity plus 2.2.1 was updated to use latest `nm` dependency to be compatible with other plugins #728

Currently, looking at your logs it is flutter_local_notification isn't compatible with Connectivity plus, since uses older version of `nm`.

[2022-02-18 08:02] #754 closed, assigned to nobody

[2022-02-18 10:43] Glitchy-Tozier commented on #747
I can confirm. This started showing up when I made the move `v1.0.4` -> `v1.3.1`.

Probably important: I'm testing on Linux and Android. This but ONLY seems to happen on Linux, while on Android I don't receive any warnings.

[2022-02-18 17:26] n7484443 commented on #747
same issue with windows when changing v1.3.0 -> v1.3.1

`[ERROR:flutter/lib/ui/ui_dart_state.cc(209)] Unhandled Exception: MissingPluginException(No implementation found for method getAll on channel dev.fluttercommunity.plus/package_info)
#0      MethodChannel._invokeMethod (package:flutter/src/services/platform_channel.dart:175:7)
<asynchronous suspension>
#1      MethodChannel.invokeMapMethod (p

[2022-02-18 21:06] AlvaroVasconcelos commented on #744
same problem

[2022-02-19 11:11] sircambridge commented on #747
me too - MissingPluginException(No implementation found for method getAll on channel dev.fluttercommunity.plus/package_info

[2022-02-19 19:30] vbuberen commented on #752
Please provide more detailed set of steps to reproduce. `Collect data` is the most confusing part. I would like to test both the issue and the fix you provided.

[2022-02-19 19:31] vbuberen commented on #750
Bug report should follow the provided template.

[2022-02-19 19:31] #750 closed

[2022-02-19 19:32] vbuberen commented on #742
Issue doesn't follow any of provided templates.

`example` app works fine both on iOS and Android at the moment.

[2022-02-19 19:32] #742 closed

[2022-02-19 19:34] vbuberen commented on #729
Issue has no required info.

[2022-02-19 19:34] #729 closed

[2022-02-19 19:34] vbuberen commented on #725
Please provide information according to provided bug template.

[2022-02-19 19:34] #725 closed

[2022-02-19 19:35] vbuberen commented on #711
Looks like there will be no information. If the issue still exists open a new issue following provided templates.

[2022-02-19 19:35] #711 closed

[2022-02-19 20:10] ajumalp commented on #747
I'm also facing the same issue. I think this start happening after upgrading Flutter.
As a workaround, I catch the exception and create the object.

e.g. **version**: `1.5.69+89`

[code]

[2022-02-19 20:23] Rexios80 commented on #752
Listen to any of the streams from this plugin: https://pub.dev/packages/sensors_plus#example

Don't cancel them before killing the app

[2022-02-19 20:52] Aksoyhlc commented on #577
Any progress on this issue?

[2022-02-19 23:06] vbuberen commented on #752
Streams are already listened in that example app. I can't reproduce the issue you mentioned on a physical device.

[2022-02-19 23:51] Rexios80 commented on #752
Without the PR code:

https://user-images.githubusercontent.com/7896519/154822861-15d288ed-9be2-476c-82a0-797bb1ba55e4.mov

With the PR code:

https://user-images.githubusercontent.com/7896519/154822978-bf8f033d-2aae-4ce9-aa0d-b49190368352.mov

Weird I can't reproduce it in a minimal sample by removing the app from recents, but I can reproduce it by hitting the back button to kill the activity.

[2022-02-20 07:30] TimeLord2010 opened #756 "No implementation found for method getIosDeviceInfo"
## System info

Platform the Issue occurs on: IOS (Ipad Mini 6)
Plugin name: device_info_plus
Plugin version: ^3.2.1

## Steps to Reproduce

1. Using flutter_background_service: ^0.1.5.
2. Can use the code from the plugin example because it uses the device info plus plugin just as I do.
3. Crash

Code:

[code]

<details>
<summary>Logs</summary>

No implementation found for method getIosDeviceInfo

[2022-02-20 10:50] murad1981 opened #757 "nested map in arguments can't be read when opening another app"
I'm trying to open an app from my flutter app using `android_intent_plus` using this code snippet:

[code]
the target app opens well but it can't detect `some_value` which's inside a nested map of arguments, giving that the action is added in the manifest for the target app.

[2022-02-20 13:16] #751 closed

[2022-02-20 18:08] Silfalion commented on #747
Same here

[2022-02-20 23:20] JAICHANGPARK opened #758 "[share_plus] Type mismatch: inferred type is String? but String was expected"
## System info

Platform the Issue occurs on:  build error
Plugin name: share plus
Plugin version: 3.1.0
flutter sdk : 2.11.0 - master channel

<details>
<summary>Logs</summary>

[code]

</details>

<details>
<summary>Flutter doctor output</summary>

[code]

</details>

[2022-02-21 00:50] zakblacki opened #759 "[connectivity_plus] V2.2.1 compatibility issue"

[2022-02-21 04:59] Areopagitics opened #760 "[Windows] MissingPluginException(No implementation found for method getAll on channel dev.fluttercommunity.plus/package_info)"
## System info

Platform the Issue occurs on: WINDOWS
Plugin name: package_info_plus
Plugin version: 1.4.0

## Steps to Reproduce

when calling
`PackageInfo packageInfo = await PackageInfo.fromPlatform();`
it throws
`MissingPluginException(No implementation found for method getAll on channel dev.fluttercommunity.plus/package_info)`
error

<details>
<summary>Logs</summary>

[code]

</details>

<det

[2022-02-21 05:13] Areopagitics commented on #214
windows has the same issue as well... I opened another issue for it #760

[2022-02-21 05:29] vbuberen commented on #759
The issue should follow the provided template for bugs.

Duplicate of https://github.com/fluttercommunity/plus_plugins/issues/754

Check out the answer there.

[2022-02-21 05:29] #759 closed

[2022-02-21 16:23] ekuleshov opened #761 "[network_info_plus] uses conflicting dependency versions"
## System info

Platform the Issue occurs on:
Plugin name: network_info_plus and battery_plus
Plugin version: 2.1.2 and 2.1.3

## Steps to Reproduce

1. Add these dependencies to the project:

[code]

2. Run `pub get` command

<details>
<summary>Logs</summary>

[code]

</details>

The `network_info_plus` depends on an old version of `nm` plugin, which has dependency on an old version of `dbus`

[2022-02-22 06:59] aideric commented on #761
same conflict with connectivity_plus: ^2.2.1

[2022-02-22 08:06] liorboyango commented on #760
Using version 1.2.1 for now, for some reason 1.3.x had the same behavior.
Can't believe I wasted my time with `flutter pub cache repair`, thinking the problem was on my side :(

[2022-02-22 08:17] #761 closed

[2022-02-22 08:23] lohanidamodar commented on #760
@liorboyango 1.3.0 works, (1.3.1 and 1.4.0 both give this error even in Linux) for me as well.

[2022-02-22 08:31] liorboyango commented on #760
Indeed, edited my previous comment

[2022-02-22 12:32] joyincomp commented on #638
same problem here

[2022-02-22 13:21] tgucio commented on #758
+1 here

[2022-02-22 23:03] fabio21 commented on #760
[Windows ] MissingPluginException(No implementation found for method getAll on channel dev.fluttercommunity.plus/package_info)

version: package_info_plus: ^1.3.0

[2022-02-23 01:43] Areopagitics commented on #760
Thanks for the feedback! I don't understand why in the _method_channel_package_info.dart_ file on line 7 it still refers to _package_info_ if it's deprecated.
[code]

[2022-02-23 01:48] TheJulianJES commented on #758
Seems to have been caused by a combination of using the Flutter master branch and https://github.com/fluttercommunity/plus_plugins/pull/667.

``share_plus: 3.0.5`` still works fine on the Flutter master branch.

[2022-02-23 01:57] TheJulianJES commented on #758
This probably isn't a great solution, but I've changed
https://github.com/fluttercommunity/plus_plugins/blob/b817c032ccf2492c2eff8fef5e6c2864ea03aef2/packages/share_plus/share_plus/android/src/main/kotlin/dev/fluttercommunity/plus/share/MethodCallHandler.kt#L34
to
[code]
and it seems to compile just fine now.

@vbuberen Since you did the original migration, do you mind having a look at this when y

[2022-02-23 06:14] vbuberen commented on #758
Yes, I will do it when have more time.

[2022-02-23 10:48] LiveRock commented on #760
I am having this bug too. using version 1.3.0 get rid of the exception but am unable to get the version and build number of the app.
Building for Windows.

flutter doctor
Doctor summary (to see all details, run flutter doctor -v):
[√] Flutter (Channel stable, 2.10.2, on Microsoft Windows [Version 10.0.22000.527], locale en-SG)
[X] Android toolchain - develop for Android devices
    X Unable to loc

[2022-02-23 14:15] rahul-insight commented on #584
Has anybody found any solution? We are also experiencing this issue.

[2022-02-23 16:25] andynvt commented on #386
any updates?

[2022-02-23 16:27] mhadaily commented on #386
@champ96k or @elias8 did you make any progress don't his issue?

[2022-02-24 05:50] #757 closed

[2022-02-24 09:24] jing-pei commented on #760
same issue

[2022-02-24 10:42] fabio21 commented on #760
change ^1.3.0 for 1.3.0
and remove pubspec.lock

flutter pub get

[2022-02-24 14:21] carman247 commented on #686
Also facing the same problem.

[2022-02-24 16:16] AbdOoSaed commented on #629
### SAME ISSUE

[2022-02-24 16:16] AbdOoSaed commented on #396
### SAME ISSUE

[2022-02-25 08:10] doubleo2 opened #763 "[android_intent_plus] Package may cause release builds to crash"
## System info

Platform the Issue occurs on: Android
Plugin name: android_intent_plus
Plugin version: any

## Steps to Reproduce

1. Create a flutter project

    * Must have a dependency that depends on the default proguard rules provided by the Android Gradle Plugin, like androidx.Room

3. Enable minification of Android release builds
4. Build release apk and run, it works
5. Add `android_inten

[2022-02-25 13:27] appinteractive commented on #748
+1 here, I'm also needing that but was not successful until now.

[2022-02-25 13:35] Aksoyhlc commented on #736
Any progress?

[2022-02-25 13:36] Aksoyhlc commented on #686
Any progress?

[2022-02-25 14:12] Coronon commented on #386
I could have a look into this - no guarantees though. As it looks this should be fairly simple for IOS, Android will be a little bit more tricky...

We probably want to avoid breaking the current API, so maybe we can use an extra method and let the old one simply filter out the result.

Ill have a look!

[2022-02-25 16:59] Coronon commented on #386
**Update**

This feature can only be implemented from Android API level 21+, we are currently supporting level 16+... The only way around this would be to completly re-implement all sharing logic (the share sheet -> what android does atm -> not really a good idea) :(

So there are two options:

_1_: Drop support for API version 16 (2012) and move to API version 21 (2014)
_2_: Leave this feature al

[2022-02-25 17:22] efraimbart commented on #386
@Coronon Is there a branch this work was done in?

[2022-02-25 17:27] Coronon commented on #386
I have forked the repo and am testing out my implementation locally, just looked for a solution for ~3hours until I now know that we need [`public static Intent createChooser(Intent, CharSequence, IntentSender)`](https://developer.android.com/reference/android/content/Intent#createChooser(android.content.Intent,%20java.lang.CharSequence,%20android.content.IntentSender))

[2022-02-25 17:29] efraimbart commented on #386
Would you mind pushing the branch so I can have a look? Curious to see what it entails...

[2022-02-25 17:35] Coronon commented on #386
There are basically ~10 more lines atm but sure ^^
Here you go: https://github.com/Coronon/plus_plugins/tree/playground/packages/share_plus/share_plus/android/src/main/kotlin/dev/fluttercommunity/plus/share

[2022-02-25 17:38] efraimbart commented on #386
Thanks!

[2022-02-25 17:39] Coronon commented on #386
## I will try implementing this with API version 21 now!

[2022-02-25 19:24] efraimbart commented on #386
Using your code I got it to work with Android_Intent_Plus (see https://github.com/fluttercommunity/plus_plugins/issues/344). Perhaps consider creating a pull request for that as well.

[2022-02-25 19:28] efraimbart commented on #386
And perhaps instead of replacing the current method, add another one for the result, and that way the api version doesn't have to be updated

[2022-02-25 19:28] Coronon commented on #386
Im very close to a working implementation that can figure out if you actually called another app or dismissed the share sheet. The problem is mainly that we need to use two different "async" ways of being informed about success and dismiss -> `BroadcastReceiver `and `onActivityResult`. I am currently building a manager class that will handle these. I will then have to implement the dart bindings.

[2022-02-25 19:31] Coronon commented on #386
That was the plan ;)

[2022-02-25 21:37] Coronon commented on #386
**UPDATE**: The android side is now implemented, you can have a look [here](https://github.com/Coronon/plus_plugins/commit/3cbae2085e894ca8d4df31e19b54e32633e46add)

[2022-02-25 23:15] JamesManningR opened #764 "[sensors_plus] Get current device pitch, yaw and roll"
As far as I'm aware, the Gyroscope events return the delta of the change, but these are never consistent enough to calculate the current orientation of the device. (or at least to keep track of it's orientation from a calibrated point)

Unless I'm missing something (in which case it would be great to know how to) I don't think this package is able to provide the devices current orientation as a fl

[2022-02-25 23:34] Coronon commented on #386
**UPDATE**: Dart bindings are now available, while it states that they are available for both 'IOS' and 'Android', only 'Android' is supported atm. [Link](https://github.com/Coronon/plus_plugins/commit/111a3364c0be9ad72a5e86e42ec71546716e5bbf)

[2022-02-26 10:04] enricobenedos commented on #568
There are a lot of issue in this repo that are all riconducibile to this bug, anyway I'm on the same boat sharing a pdf using the latest version of the package today:
[code]
[code]

[2022-02-26 14:20] Boehrsi commented on #744
Thanks for this report, this sadly is a know problem, but one which - at least to my knowledge - can't be fixed in the share_plus context. More information https://github.com/fluttercommunity/plus_plugins/issues/413 as a TLDR of the problem I can summarize the overall problem as follows:
Some Facebook related apps, which Whatsapp belongs to doesn't implement the Android system sharing regarding to

[2022-02-26 14:46] Coronon commented on #386
Ok, so the IOS side basically works now, the only problem is that we get more information on IOS then on Android: On Android we only know if the user selected an option on the share-sheet, but not if he actually went through with it. On IOS we get both what he selected and if he actually completed the option.

To question is how consistent we should be: Should we count a started action but then di

[2022-02-26 20:32] dan1229 commented on #721
+1 - experiencing this as well. really frustrating as it makes this package kind of useless in the meantime.

[2022-02-26 22:18] Coronon commented on #386
### Update: This feature is now fully implemented for IOS and Android

It even handles if the share-sheet is closed for an action (like create IOS photo album) and then reappears after canceling that action :P

You can have a look [on my fork](https://github.com/Coronon/plus_plugins). I will create a pull request soon :)

If you have any comments, I would love to hear from you. This has been my fi

[2022-02-27 08:07] gslender commented on #760
The issue is because the windows 1.04 package has the old version of the code still. The github repo has the fixes real implementation, but for some reason the release from 4 months ago is still the stub vs real version. If the owner could update the release then we'd have this fixed.

[2022-02-27 12:18] Wackymax opened #766 "Crash on IOS"
Hi, I've been getting some crash reports lately that looks like it's related to sensors plus. It seems like this happens when the app has been running in the background (still active) for a while and is then brought to the foregrounds again. I am using the accelerometer events from this package.

<img width="1243" alt="image" src="https://user-images.githubusercontent.com/11558269/155881906-0b25ac

[2022-02-28 08:02] mjafartp opened #767 "[network_info_plus] [Android] LAN IP not getting on android TV/Devices"
Device IP not getting if connected to LAN on android

[2022-02-28 17:15] SwiftyFlow opened #768 "UserAccelerometerEvent"
Do we agree that UserAccelerometerEvent will NOT give me the user current speed if in a car? It gives the speed at which the device travels to if I throw it... Thing I might do soon hahaha

Am I right thinking I need Geolocator instead with position.speed? But I'm too dumb to get the stream to work properly...

[2022-02-28 18:43] Coronon commented on #386
Just added tests, should be pretty much ready to merge if the maintainers agree with the changes 🥳

[2022-03-01 10:35] Filiponesco opened #769 "[device_info_plus] Description about getAndroidId method is incorrect"
## System info

Platform the Issue occurs on: Android
Plugin name: device_info_plus
Plugin version: 3.1.1

## Steps to Reproduce

https://gist.github.com/Filiponesco/bbf687465515f0b1efc9c51446f0af55

1. Open file: MethodCallHandlerImpl.java
2. Go to line 100
3. Read doc for getAndroidId method

[code]

5. Go to https://developer.android.com/reference/android/provider/Settings.Secure#ANDROID_ID pag

[2022-03-02 13:48] GnuaAruht opened #770 "How to start Alarm Ring Page"
Is there any way to show Alarm Ring Page when alarm is fired?

[2022-03-02 15:43] fullflash commented on #386
waiting such a must feature for a "plus" plugin )

[2022-03-02 16:27] kgonyon opened #771 "[connectivity_plus] Unable to build for macos or ios on M1 mac."
## System info

Platform the Issue occurs on: macos, ios
Plugin name: connectivity_plus
Plugin version: 2.2.1

## Steps to Reproduce

1. Create new flutter app
2. Add connectivity_plus as dependency
3. Build for macos or ios.

<details>
<summary>Logs</summary>

[code]

</details>

<details>
<summary>Flutter doctor output</summary>

[code]

</details>

[2022-03-03 07:07] miquelbeltran commented on #386
Hey, maintainer here. I would like to ask the people in the thread to try to give it a go to the PR and reply with their experiences. It is a big change and needs to be well tested, and as well try to test it on Desktop and Web just to verify that nothing is broken.

[2022-03-03 14:46] andynvt commented on #386
How can I use your fork in pubspec.yaml file?
Currently, I use:
[code]

But I got this error
[code]

[2022-03-03 15:22] miquelbeltran commented on #386
Yes, that's going to be an issue.

I think it may work this way:

- Clone @Coronon repo in a folder
- Run the `melos bootstrap` in the root, this setups the repository to use local dependencies and not pub.dev, see intrucctions to instlal melos in repo
- Use the plugin as a path reference, not as a git reference

[2022-03-03 16:01] Coronon commented on #386
@miquelbeltran is right. My new `share_plus` version requires my new `share_plus_interface` version, which when you only include `share_plus` in your `pubspec.yml` will fetch the one from pub -> error!

[2022-03-03 17:52] Coronon commented on #386
### Just added macOS support too

[2022-03-03 19:40] xenSlayer commented on #404
Having same issue while running on windows.

`>	connectivity_plus_windows_plugin.dll!__scrt_throw_std_bad_alloc() Line 36	C++`

seems like error from windows implementation.

Google:
**std::bad_alloc is the type of the object thrown as exceptions by the allocation functions to report failure to allocate storage**

Hope to get a quick fix.

[2022-03-04 06:51] debuggerx01 commented on #747
#760

[2022-03-04 10:13] cutzmf commented on #735
have same problem, cant share downloaded jpeg & pdf files

console log on share jpeg
`[default] LaunchServices: store (null) or url (null) was nil: Error Domain=NSOSStatusErrorDomain Code=-54 "process may not map database" UserInfo={NSDebugDescription=process may not map database, _LSLine=264, _LSFunction=-[_LSDReadClient getServerStoreWithCompletionHandler:]}
[default] Attempt to map database fai

[2022-03-04 12:00] timovandeput opened #772 "Please tag source code for versions released on Pub.dev"
## Use case

Our legal department wants to have some assurance about the source code for the package versions we are using, and is concerned about the lack of e.g. a tag for "package_info_plus" version 1.3.0.

## Proposal

Please create consistent tags per released package to link the source code to published versions.

[2022-03-05 11:37] girishnair12345 commented on #602
Is there any update on this issue? Any package to be installed along with docker so that this doesn't come up.  tried `apt-get install dbus` but it doesn't fix it

[2022-03-05 14:01] jpnurmi commented on #602
What's the error?

[2022-03-05 14:07] jpnurmi commented on #602
If it's an integration test, I'd start with something like
[code]

[2022-03-05 16:55] girishnair12345 commented on #602
Getting this
[code]

[2022-03-05 16:57] girishnair12345 commented on #602
<img width="812" alt="image" src="https://user-images.githubusercontent.com/1866371/156892731-2fc65cab-8fe2-43a2-9823-11e595d12ac3.png">