[2022-07-31 13:16] miquelbeltran commented on #989
I thought we migrated already all packages to V2, thanks for reminding us!

[2022-07-31 13:18] miquelbeltran commented on #974
Just to confirm, do you get the same behavior when sharing the zip file using the example project inside the `share_plus` folder?

[2022-07-31 13:25] miquelbeltran commented on #971
Just to confirm, this doesn't happen on debug, correct?

Does it happen when you remove the dart2js optimization?

Does it happen with other levels of optimization?

I don't fully know what `dart2js-optimization` does, but I suspect that what is happening is that `DeviceInfoPlusPlugin` class from `device_info_plus_web.dart` gets lost during the optimization.

[2022-07-31 14:16] happyelectronics commented on #987
I tried the command **flutter build web** or click to start in Android Studio Chipmunk | 2021.2.1.

[2022-07-31 16:59] miquelbeltran commented on #987
yep, no problems for me:

[code]

Can you check if you have the same error with the example project?

[2022-08-01 12:49] niktob560 commented on #971
- this doesn't happen on debug
- still failing with no dart2js optimization
- works on O2 optimization

AFAIK, dart2js optimizations can cut off some parts of generated JS code, this can cause problems with DI (google_maps_flutter was optimized-out in release builds for android [about year ago](https://github.com/flutter/flutter/issues/69820), for example)

[2022-08-01 13:33] miquelbeltran commented on #971
Thanks for the info! Just in case, the issue you mention is about Java Proguard optimizations on Android, not the dart2js optimization.

[2022-08-01 18:33] smartdevelopers-ir opened #990 "[Question]: Sending data to alarm manager"
How can we send data from alarm manager to its callback and use it ? I think there is no implementation for sending data yet !

[2022-08-01 22:15] jckpn opened #991 "[Question]: "Exception caught by services library" when trying to use sensors_plus"
### What is your question?

When trying to get gyroscope data from sensors_plus as shown in the plugin's example page, I get the following exception error:

[code]

Values from the sensors are null. I've not found anyone else with this issue online. What am I doing wrong?

[2022-08-02 02:49] cuongdq0410 opened #992 "[Question]: Share plus can share via Air drop on IOS"
### What is your question?

Share plus can share via Air drop on IOS?

[2022-08-02 05:18] miquelbeltran commented on #974
I'd try to use the `shareWithResult`, since this one waits until the user did some action with it. The normal `share` method doesn't seem to wait, as I can see in the iOS implementation.

[2022-08-02 07:10] LathDevers commented on #974
Thank you @miquelbeltran

[2022-08-02 07:10] #974 closed

[2022-08-02 11:28] amir14a opened #994 "[Question]: Can WhatsApp on iOS share image and text together?"
### What is your question?

Hi, I use share plus plugin for sharing files on iOS.
I write this code:
`Share.shareFiles([imagePath], text: myText);`
It works perfectly on android, also for WhatsApp, but on iOS, sharing to other platforms like Telegram works well but WhatsApp only share the text and ignore the image.
Is there any alternative way for WhatsApp?

[2022-08-02 13:57] abindrip commented on #645
Has anyone got a solution so far?

[2022-08-03 00:31] hootyjeremy opened #996 "[Question]: Does network_info_plus work on physical connections?"
### What is your question?

network_info_plus.dart has calls such as `info.getWifiName()` but I was wondering if this also works for physically connected NICs on desktop? Also, is it capable of getting network info for more than one NIC on machines that have multiple interfaces?

[2022-08-03 07:04] sajjad-n commented on #994
Hi, you can find the answer [here](https://github.com/fluttercommunity/plus_plugins/issues/962#issuecomment-1195378462).

[2022-08-03 22:29] samleecampspot commented on #347
Are there any updates here?  I just ran into this issue on iOS - Gmail app.

[2022-08-04 09:49] zzz2016 commented on #792
Add the 'access wifi information' to xcode may solve the problem.

[2022-08-04 11:09] eximius313 opened #997 "[Bug]: package_info_plus is not reading package info in Linux (using flutter-pi)"
### Platform

Linux (using flutter-pi)

### Plugin

package_info_plus

### Version

1.4.2

### Flutter SDK

3.0.1

### Steps to reproduce

While `package_info_plus` works perfectly on the emulator, it does not show anything in Linux (using flutter-pi) although version `1.4.2` claims that it supports Linux

Steps to reproduce:
1. flutter build bundle
2. scp -r ./build/flutter_assets/ pi@IP:~

In "d

[2022-08-05 11:59] flutter-painter commented on #600
please reopen

[2022-08-05 13:12] kuhnroyal commented on #790
So it seems the `NWPathMonitor .pathUpdaterHandler` can be called multiple times with the same path. According to discussions on the apple community board, your app needs to be resilient against multiple invocations.
This can happen on app start or even while the app is running and you lose connectivity.

There may still be ways to reduce the chance of this happening on app start but I don't think

[2022-08-05 17:25] samleecampspot opened #998 "[Bug]: share_plus - iOS 13 physical devices shows white overlay over screen when sharing through Messages"
### Platform

iOS 13.3.1

### Plugin

share_plus

### Version

4.0.10

### Flutter SDK

3.0.5

### Steps to reproduce

1. Open the example app from share_plus and run it on a physical iOS 13 device (my device is an iPhone SE - iOS 13.3.1). https://github.com/fluttercommunity/plus_plugins/tree/main/packages/share_plus/share_plus/example
2. Enter some text to the `Share text:` text field and tap Sha

[2022-08-06 01:15] felipecastrosales commented on #852
this issue persist.

[2022-08-06 04:28] Nei1eveN commented on #337
I'm experiencing the same issue. Is there a way for us to have a workaround for the mean time?

[2022-08-06 10:26] morning4coffe-dev opened #999 "[Request]: Add support for the Windows Share Dialog"
### Plugin

share_plus

### Use case

I am currently working on a multiplatform app and I wanted to implement a share function for them and I run into a missing feature.

### Proposal

Add support for the ability to share files/text via the Windows Share Dialog.

![image](https://user-images.githubusercontent.com/78549750/183244957-fc9cbf67-5472-4c3f-8f27-64b75ef819f7.png)

https://docs.microsoft.

[2022-08-06 12:45] ycherniavskyi commented on #790
What's a fantastic Apple API. Does this board explain what the reason for these multiple invocations is? Does it indicate something valuable (some interface updated, but I can't see any property changes when debugging it)?

In any case, what do you think about adding multiple invocations handling in `connectivity_plus` plugin and putting only different `ConnectivityResult` in `onConnectivityChange

[2022-08-06 15:21] kuhnroyal commented on #790
I thought about this but that is rather hard to do correct. Like changing from one wifi to another wifi network will result in 2 wifi events.

Maybe it can be done with a very limited timeframe check but it will not completely guard you from those events. You need to handle the meaning of this on your side, especially if you want to do more than just a connectivity check.

[2022-08-06 15:25] kuhnroyal commented on #790
Yes I have noticed the same thing, but the objects are not comparable so that I can for them out. Could probably try to compare it on a field by fiel basis. Maybe someone else knows more about swift ^^

[2022-08-06 15:54] nohli commented on #824
FYI @feinstein @utkudenis
The new plugin for getting the Android ID can be found [here](https://pub.dev/packages/android_id), so you can use the latest version of `device_info_plus` 🙂

[2022-08-06 15:56] nohli commented on #972
A new plugin for getting the Android ID [is published](https://pub.dev/packages/android_id) 🙂

[2022-08-06 15:56] #972 closed

[2022-08-06 15:58] nohli commented on #954
We made a new plugin for getting the Android ID, so you can use the latest version of `device_info_plus` 🙂
https://pub.dev/packages/android_id

[2022-08-06 15:58] #954 closed

[2022-08-06 16:00] nohli commented on #939
FYI there is a new plugin for getting the Android ID 🙂
https://pub.dev/packages/android_id

[2022-08-06 16:01] nohli commented on #934
FYI there is a new plugin for getting the Android ID 🙂
https://pub.dev/packages/android_id

[2022-08-06 16:01] #934 closed

[2022-08-06 16:02] nohli commented on #784
FYI `androidId` was removed from the plugin `device_info_plus`, so there is a new separate plugin for getting the Android ID 🙂
https://pub.dev/packages/android_id

[2022-08-06 16:02] #784 closed

[2022-08-06 16:10] devmuaz commented on #939
@nohli nice work buddy!

[2022-08-07 01:55] Hoai-Phong commented on #780
@PesaCoder  can you help me, now i do all the problems but still can't solve.

I gave target to 11
device_info_plus: ^3.2.2

![image](https://user-images.githubusercontent.com/83800555/183271702-f14df696-31dc-4965-aab5-3438ec4a25c0.png)
![image](https://user-images.githubusercontent.com/83800555/183271802-367f0c4f-9a21-404c-af53-6227b1fa91e9.png)

[2022-08-07 05:27] #996 closed

[2022-08-07 11:48] feinstein commented on #954
Nice! Thanks!

One improvement could be that since it's just a method in a class, it could have been made as a top level function. This follows the [dart style guide](https://dart.dev/guides/language/effective-dart/design#avoid-defining-a-one-member-abstract-class-when-a-simple-function-will-do).

[2022-08-07 13:13] nohli commented on #954
The linked rule is related to abstract classes and doesn't apply here, right?

Do you mean something like
[code]

[2022-08-07 17:03] feinstein commented on #954
Yeah, they talk about abstract classes, but I don't see much difference for a one method class. I can swear I remebem a text about one method classes, but maybe they updated the website.

[2022-08-08 07:06] FilledStacks opened #1000 "[Bug]: Device Info Plus not building anymore"
### Platform

Android

### Plugin

device_info_plus

### Version

^3.2.3

### Flutter SDK

3.0.5

### Steps to reproduce

Try to run the app after doing `flutter pub upgrade`

I get the example.

[code]

### Code Sample

_No response_

### Logs

[code]

### Flutter Doctor

[code]

[2022-08-08 07:08] GauravCalidig commented on #1000
Stuck on same

![image](https://user-images.githubusercontent.com/90178033/183359684-1a69c349-d8f8-4773-9da1-57068d622627.png)

[2022-08-08 07:17] FilledStacks commented on #1000
Anyone have a workaround yet? I'm trying to do dependency overrides but nothing is making it pass.

If you find a version that works please post, I have an urgent build to get out.

[2022-08-08 07:27] GauravCalidig commented on #1000
If it's urgent, As a quick workaround you can comment the code giving error. if you are not building a windows app it should work fine @FilledStacks
![image](https://user-images.githubusercontent.com/90178033/183362802-8342eef5-cc45-4d76-8a86-5c775f096459.png)

[2022-08-08 07:31] FilledStacks commented on #1000
Thanks. This works locally. Not when I try and make a release to QA through our CI pipeline. I'll remove the package for now and add it back when this is fixed.

Thanks for the response.

[2022-08-08 07:47] aakash-pamnani commented on #986
This is due to line no 30 in this [File](https://github.com/fluttercommunity/plus_plugins/blob/main/packages/network_info_plus/network_info_plus/android/src/main/java/dev/fluttercommunity/plus/network_info/NetworkInfo.java) .
There must be some reason to add this replace.

[2022-08-08 07:56] sara010 commented on #1000
same problem

[2022-08-08 08:06] Mr-Anderson-01 opened #1001 "[Bug]: No status when dismissing Android share sheet"
### Platform

Android

### Plugin

share_plus

### Version

4.0.10

### Flutter SDK

2.10.5

### Steps to reproduce

1. Launch shareWithResult
2. Dismiss the share sheet
3. No result is given back

### Code Sample

[code]

### Logs

[code]

### Flutter Doctor

[code]

[2022-08-08 08:09] ryzizub commented on #1000
I temporary added overrides to pubspec.yaml, seems to work pretty well :)
[code]

[2022-08-08 08:11] xrandy00 commented on #1000
Since we specify the version of device_info_plus directly, I just added this
![image](https://user-images.githubusercontent.com/25846048/183371142-de3ecdf9-9784-4fd4-81d9-1f0869040893.png)

[2022-08-08 08:42] kalpesh2421 opened #1002 "Required named parameter 'userName' must be provided.[Bug]:"
### Platform

Android 12

### Plugin

package_info_plus

### Version

1.4.2

### Flutter SDK

2.10.5

### Steps to reproduce

1) flutter pub get
2) run project

### Code Sample

_No response_

### Logs

[code]

### Flutter Doctor

[code]

[2022-08-08 08:58] ixre commented on #1002
me too..

[2022-08-08 09:06] viktor-savchik-idf commented on #1002
me too

[2022-08-08 09:09] leononly commented on #1002
me too

[2022-08-08 09:10] artem-stefanovich-idf commented on #1002
Me too

[2022-08-08 09:21] ixre commented on #1002
edit file : [device_info_plus/lib/device_info_plus.dart](https://github.com/fluttercommunity/plus_plugins/blob/8b2f0496c8a7f952617fa24aec92e4e1b026c011/packages/device_info_plus/device_info_plus/lib/device_info_plus.dart) replace
[code]
to
[code]

and edit file [device_info_plus_windows/lib/src/device_info_plus_windows.dart](https://github.com/fluttercommunity/plus_plugins/blob/055da8226efa54af42c

[2022-08-08 09:25] ixre commented on #1000
edit file : [device_info_plus/lib/device_info_plus.dart](https://github.com/fluttercommunity/plus_plugins/blob/8b2f0496c8a7f952617fa24aec92e4e1b026c011/packages/device_info_plus/device_info_plus/lib/device_info_plus.dart) replace
[code]
to
[code]
and edit file [device_info_plus_windows/lib/src/device_info_plus_windows.dart](https://github.com/fluttercommunity/plus_plugins/blob/055da8226efa54af42cd

[2022-08-08 09:25] HAHH9527 commented on #1002
overrides device_info_plus_platform_interface version.
add this into `pubspec.yaml`.
[code]
It can work.

[2022-08-08 09:26] zjurinic commented on #1002
me three..

[2022-08-08 09:39] qndincl commented on #1002
me four....

[2022-08-08 09:40] M123-dev commented on #1000
We had the same problem. After upgrading to `^4.0.2` it seems to be fixed.
Tests as well as local debug building works again

[2022-08-08 09:40] qndincl commented on #1002
me four.... but I solved. haha
#HAHH9527

[2022-08-08 10:00] erperejildo opened #1003 "[Bug]: Required named parameter 'userName' must be provided AND Found this candidate, but the arguments don't match"
### Platform

Android 10

### Plugin

device_info_plus

### Version

4.0.0

### Flutter SDK

3.0.5

### Steps to reproduce

Error occurs on build process

### Code Sample

_No response_

### Logs

[code]

### Flutter Doctor

[code]

[2022-08-08 10:01] jenilDT commented on #1003
Same issue

[2022-08-08 10:05] dab246 commented on #1003
Using `device_info_plus `version `4.0.2` will solve this problem.

[2022-08-08 10:09] erperejildo commented on #1003
I tried that but I got this problem instead:

[code]

[2022-08-08 10:26] SergeySor commented on #1002
same issue

[2022-08-08 10:29] thanhdang198 commented on #1002
me

me five but @HAHH9527  help me solve it.

[2022-08-08 10:29] dab246 commented on #1003
You can use [better_open_file](https://pub.dev/packages/better_open_file) instead of `open_file`

[2022-08-08 10:32] Mr-Anderson-01 commented on #1001
I found out that it's probably not this package

I'm using a FlutterFragment to host my flutter code inside a native app. It seems that onActivityResult is not called inside the ShareSucessManager.

Why? is this a limitation of using a flutterfragment?

[2022-08-08 10:33] dab246 commented on #1002
Using device_info_plus version 4.0.2 will solve this problem.

[2022-08-08 10:35] erperejildo commented on #1003
Maybe, but I could have other issues. I prefer to have the fix here

[2022-08-08 10:37] dab246 commented on #1003
Or you can fix it this way. https://github.com/fluttercommunity/plus_plugins/issues/1002#issuecomment-1207881999

[2022-08-08 11:02] erperejildo commented on #1003
I added this as they suggested but the issue is still there:
[code]

[2022-08-08 11:26] chrisDK1977 commented on #1002
Setting minSdkVersion to 19 worked for me

[2022-08-08 11:53] demoYang commented on #1002
me too

[2022-08-08 12:20] gaurav-girase commented on #1002
Same herer

[2022-08-08 12:29] gaurav-girase commented on #1003
it's resolved when i added the
  `device_info_plus_platform_interface: '2.3.0+1'`
in pubspec.lock

[2022-08-08 12:50] #1001 closed

[2022-08-08 13:01] erperejildo commented on #1003
why would you modify .lock?

[2022-08-08 13:11] miquelbeltran commented on #986
Yeah, looks like this was done because Android added double quotes around the SSID name.

I would rather not remove the double quotes and let the developer using the plugin to handle that how they prefer.

Seems like an easy fix, do you want to submit a PR? Mention me once you submit it and I will review it quickly.

[2022-08-08 15:47] matiazar opened #1005 "Package info plus not accepting DART 2.12"
### What is your question?

having the error installing package.

The current Dart SDK version is 2.16.2.

Because package_info_plus >=1.4.3 depends on package_info_plus_windows >=2.0.0 which requires SDK version >=2.17.0 <3.0.0, package_info_plus >=1.4.3 is forbidden.
So, because ml_scanner depends on package_info_plus ^1.4.3, version solving failed.
pub get failed (1; So, because ml_scanner depe

[2022-08-08 21:38] hyderali0889 opened #1006 "[Question]: When I use android_alarm_manager_plus and print something out it works fine but when I try to show notification on completion of alarm it suddenly stops"
### What is your question?

[code]
This is how I am trying to make it work

[2022-08-09 04:38] LaoitdevOpen commented on #1003
same issue!
 if you cannot  update to new version of the plugin you can fixed it  by add `device_info_plus_platform_interface: '2.3.0+1'` to `pubspec.yaml`

[code]

[2022-08-09 04:41] xang555 commented on #1003
same issue!
if you cannot update to new version of the plugin you can fixed it by add `device_info_plus_platform_interface: '2.3.0+1' `to `pubspec.yaml`

[code]

[2022-08-09 05:13] aakash-pamnani commented on #986
#1004 please review the PR

[2022-08-09 07:21] bayunugroho2022 commented on #1003
i solved this issue, by adding dependency_overrides for device_info_plus

  device_info_plus: ^3.2.4

dependency_overrides:
  device_info_plus_windows: ^2.1.1
  device_info_plus_platform_interface: ^2.3.0

[2022-08-09 07:37] erperejildo commented on #1003
I get other issues with this:

`flutter/3.0.5/flutter/.pub-cache/hosted/pub.dartlang.org/intl_phone_number_input-0.7.0+2/lib/src/widgets/input_widget.dart:321:20: Warning: Operand of null-aware operation '!' has type 'WidgetsBinding' which excludes null.`

These fixes really depend on the packages we have installed. Better to try to fix this on this one

[2022-08-09 10:20] 1MochaChan1 commented on #1002
I don't have this plugin `device_info_plus_windows` installed in my project but still I get this error. However where should I add the `device_info_plus_platform_interface` plugin. In my project or is there some place else that I need to add it to?

[2022-08-09 10:25] HAHH9527 commented on #1002
@1MochaChan1 add in `pubspec.yaml`

[2022-08-09 10:46] 1MochaChan1 commented on #1002
@HAHH9527 Done works now. I hope they fix it soon.

[2022-08-09 12:01] gfb-47 commented on #1005
This should be solved, but while it's not, you can use dependency_overrides:

`
dependency_overrides:
     ffi: ^1.0.0
`

[2022-08-09 12:01] KimAloy commented on #991
Same here, even running the GitHub Snake example that's on this site without changing a single line of code, only Accelerometer returns values, but UserAccelerometer, Gyroscope and Magnetometer are all null.

[2022-08-09 12:24] dr0-dev commented on #1002
remember to add the override to your main module too, I spent 4 hours trying to figure this out.

[2022-08-09 12:25] BoLindJensen commented on #1003
This does solve the issue, but why does the error suddendly happen for older versions?

[2022-08-09 13:15] mchudy commented on #939
Why hasn't this been removed from the interface or marked as deprecated? It's really confusing that this method doesn't work on the newest version of the package.

[2022-08-09 13:18] Stachuu87 commented on #1003
Same issue here. I'm not using the package itself, but its a dependenxecy for native_pdf_viewer, which i use.

I've made No changes to my project, it was working fine until yesterday.

Any ideas? I don't like the dependecy_overrides solution. Its more walkaround, not a solution.

[2022-08-09 13:55] ycherniavskyi commented on #790
Have you checked that the wifi network switch emits two `wifi` results without `none` between them?

[2022-08-09 14:56] miquelbeltran commented on #986
this should be solved now

[2022-08-09 14:56] #986 closed

[2022-08-09 15:57] andim27 opened #1009 "[Bug]: device_info_plus: ^4.0.2 ERROR"
### Platform

android 12

### Plugin

device_info_plus

### Version

4.0.2

### Flutter SDK

3.0.5

### Steps to reproduce

1. add into pubspec.yaml
2. flutter run
3.ERRORS: And because device_info_plus >=4.0.2 depends on device_info_plus_windows ^3.0.2

!!! I don't need device_info_plus_windows  I added device_info_plus !!!

ERRORS:
flutter/.pub-cache/hosted/pub.dartlang.org/device_info_plus_wind

[2022-08-09 16:05] andim27 commented on #1002
very significant bug that breaks a lot

[2022-08-09 16:13] gorkemunuvar commented on #198
Same issue occurs on my iOS simulator.

`
  Future<void> _checkConnectionStatus(ConnectivityResult connectivityStatus) async {
    final isConnectedToAnyNetwork = connectivityStatus != ConnectivityResult.none;

    if (!isConnectedToAnyNetwork) {
      _isConnected = false;
      AppLogger.wtf('Not connected to any network.');
    } else {
      _isConnected = await checkInternetConnection();

[2022-08-09 16:47] albatrosify commented on #1009
Same Problem. Cant build my app any longer.

[2022-08-09 17:04] saulrmzlpz commented on #850
Any update?...

[2022-08-09 17:23] jttuboi commented on #1009
The same happens in package which uses it, like as Upgrader. And my project is in the 2.10.5 version. So, it's not impact only the last version, but I think impact all projects who use it. Please, fix ASAP.

[2022-08-09 21:46] Stachuu87 commented on #1009
Related to [#1003](https://github.com/fluttercommunity/plus_plugins/issues/1003) issue

[2022-08-10 04:43] miquelbeltran commented on #1009
Will revert the last changes.

Please set the version to 4.0.1 (without the ^) meanwhile

[2022-08-10 04:48] miquelbeltran commented on #1009
Actually it works for me, I had to do a `flutter pub upgrade` to pull the latest dependencies.

[2022-08-10 04:57] miquelbeltran commented on #1003
Could you provide exact steps to reproduce the issue?

If I do the following, I can compile the app without issues:

1. Create a flutter project
2. add the device_info_plus dependency with `flutter pub add device_info_plus`
3. Run the project on Android

All of that works.

[2022-08-10 04:58] miquelbeltran commented on #1009
Potentially a duplicated of #1003

[2022-08-10 05:00] miquelbeltran commented on #1003
The problem there is that `open_file` still uses ffi 1.0.0

[2022-08-10 05:02] miquelbeltran commented on #1005
As mentioned, the package depends on SDK 2.17. Use an older version if you need to support older SDK versions

[2022-08-10 05:05] miquelbeltran commented on #1003
Potentially duplicated of #1000

[2022-08-10 05:05] miquelbeltran commented on #1000
Could you provide exact steps to reproduce the issue?

If I do the following, I can compile the app without issues:

    Create a flutter project
    add the device_info_plus dependency with flutter pub add device_info_plus
    Run the project on Android

All of that works.

[2022-08-10 05:06] miquelbeltran commented on #1003
Please move the conversation to #1000

[2022-08-10 05:06] #1003 closed

[2022-08-10 05:07] miquelbeltran commented on #1002
Duplicated of #1000 please move the conversation there

[2022-08-10 05:07] #1002 closed

[2022-08-10 05:08] miquelbeltran commented on #1009
Please move the conversation to #1000

[2022-08-10 05:08] #1009 closed

[2022-08-10 05:24] Stachuu87 commented on #1000
In My case, i do not use device_info_plus itself, but it is a dependency for native_pdf_viewer which i import into my app (i use the lastest stable version of native_pdf_viewer).

Running flutter pup upgrade did not change anything in my case. Azure pipeline still fails with the same error.

[2022-08-10 05:34] miquelbeltran commented on #1000
Thanks @Stachuu87 that helps.

I think the problem is that device_info_plus_platform_interface had a breaking change that was not provided inside a major version change. So apps depending on older versions of device_info_plus will break.

I will see if I can reproduce this issue and find a solution that doesn't break old clients.

[2022-08-10 05:47] miquelbeltran commented on #1000
I have reverted the breaking change in device_info_plus_platform_interface and republished under:

[code]

Please let me know if you still have the same issue

[2022-08-10 07:58] Stachuu87 commented on #1000
It seems to work just fine from me.
Thanks for such a quick response.

[2022-08-10 09:19] LiveRock opened #1011 "Network Info Plus - Getting NULL for wifiName: wifiIP: wifiGateway:"
### What is your question?

Network Info Plus - Getting NULL for wifiName: wifiIP: wifiGateway:

Already enabled Access WIFI Information in Capabilities under Xcode

[2022-08-10 09:23] LiveRock commented on #1011
for MacOS

[2022-08-10 10:41] OutdatedGuy opened #1012 "[Bug]: App name on web isn't taken from `manifest.json`"
### Platform

Web

### Plugin

package_info_plus

### Version

1.4.2

### Flutter SDK

3.0.5

### Steps to reproduce

1. Run sample code
2. See app name for web is same as package name

### Code Sample

[code]

### Logs

[code]

### Flutter Doctor

[code]

[2022-08-10 11:59] matszafraniec commented on #870
Hello,

On my side, when provided sharePositionOrigin as `box!.localToGlobal(Offset.zero) & box.size` in landscape mode on iPad it presents Share dialog out of my view. I switched it to `box!.localToGlobal(Offset(context.width, 0)) & box.size` and it works fine now: Share dialog is presented in the middle of the screen. Please note that in my app share option is called from application bar.

So if

[2022-08-10 13:23] matiazar commented on #1005
ok, thanks. it says 2.12 on the web
https://pub.dev/packages/package_info_plus/versions

[2022-08-10 13:28] miquelbeltran commented on #1005
You are indeed right, it is one of the internal dependencies that needs 2.17. The base project should be upgraded to 2.17 as well.

[2022-08-10 19:47] Remskei opened #1015 "[Bug]: Text is not displayed in iOS Messages app when sharing file with text."
### Platform

iOS 15.6

### Plugin

share_plus

### Version

4.0.10+1

### Flutter SDK

3.0.5

### Steps to reproduce

1. Share file with text
2. Select the Messages app

The text is not displayed, only the file.
When I share with the Mail app, the file and the text are visible.

### Code Sample

_No response_

### Logs

[code]

### Flutter Doctor

[code]

[2022-08-11 04:45] #939 closed

[2022-08-11 05:12] LiveRock opened #1016 "[Bug]: Except for wifiName, all else are NULL."
### Platform

MacOS 12.5

### Plugin

network_info_plus

### Version

2.1.4+1

### Flutter SDK

3.0.5

### Steps to reproduce

 final info = NetworkInfo();
  String? wifiName = await info.getWifiName(); // FooNetwork
  String? wifiBSSID = await info.getWifiBSSID(); // 11:22:33:44:55:66
  String? wifiIP = await info.getWifiIP(); // 192.168.1.43
  String? wifiIPv6 =
      await info.getWifiIPv6(); /

[2022-08-11 12:36] Bungeefan opened #1017 "[Bug]: Device Info Plus not building due to removal of androidId"
### Platform

Android

### Plugin

device_info_plus

### Version

4.1.0

### Flutter SDK

3.0.5

### Steps to reproduce

Building the app after `flutter pub upgrade`

### Code Sample

_No response_

### Logs

[code]

### Flutter Doctor

[code]

[2022-08-11 12:38] #1017 closed

[2022-08-11 14:13] jmgeffroy commented on #939
Hi, thank you for this. Does it comply with Google Play's policies? I see it relies on `Settings.Secure.ANDROID_ID`

[2022-08-11 14:23] devmuaz commented on #939
@jmgeffroy I believe it does, read carefully this section [Google Play](https://support.google.com/googleplay/android-developer/answer/6048248)

[2022-08-11 14:56] nohli commented on #939
On that page, when collapsing `Persistent identifiers, including Android ID`, it says

[code]

[2022-08-11 15:18] devmuaz commented on #939
@nohli Oh dear! didn't catch that actually, I focused on this one

[code]

Thank You 🙏🏻

[2022-08-12 08:59] jmgeffroy commented on #939
Hi, thanks! Yes, that's right. I double-checked the policies and we can use such IDs if we declare we do and explain why.
Cheers

[2022-08-12 09:52] nohli commented on #939
@jmgeffroy great!
If you're interested, you could open a PR in the android_id README for explaining the necessary steps when using the id.

[2022-08-12 11:45] srnden commented on #939
Hi. Why device_info_plus ^3.2.4 installed with device_info_plus_platform_interface 2.6.0,  in which androidID was removed in version 2.5.0?

pubspec.lock:
[code]

[2022-08-12 12:09] nohli commented on #939
@srnden because unfortunately the version was not updated as a breaking change (new major version).

You could use
[code]

Or maybe better, don't use overrides, use the latest version and also add `android_id`.

[2022-08-12 13:34] Noah765 opened #1018 "[Question]: Sensors Plus: iPhone / Tablet Web Usage"
### What is your question?

I want to use their plugin sensors_plus for a mobile web application, but it does not work. The events don't get callbacks and I would like to know if and what I could have done wrong.
I tried it on an IPhone 6s, an iPhone X and an iPad (8th generation).

Debug console output (run in Chrome, on a windows pc):
[code]

Code:
[code]

I have already asked on stackoverflow a

[2022-08-13 10:22] gOzaru commented on #1000
@miquelbeltran
It doesn't work in my case.
It always gives error `(Null check operator used on a null value)`.
This is the code:
[code]

This is the pubspec.yaml:
[code]

![SS - Device Info Plus 4 0 3 on 2022-08-13 181934](https://user-images.githubusercontent.com/3258483/184479495-c4282e3e-07cf-42de-bb6c-7fb2b49f3020.jpg)

Is there something wrong with github?
Or dart pub.dev?

[2022-08-13 18:23] AliHVI opened #1019 "[Question]:I recieve this error after adding package and run project"
### What is your question?

     Searched in the following locations:
         https://dl.google.com/dl/android/maven2/com/android/tools/lint/lint/30.1.2/lint-30.1.2.jar

     Searched in the following locations:
         https://dl.google.com/dl/android/maven2/com/android/tools/lint/lint-checks/30.1.2/lint-checks-30.1.2.jar

     Searched in the following locations:
         https://dl.google.com

[2022-08-13 19:51] azataiot commented on #852
Having the same issue......

[2022-08-14 08:19] miquelbeltran commented on #1000
No worries!

Just to be clear, we are NOT part of the Flutter Team/Google/etc. and we are not sponsored by them in any way (or at least, I am not, lol). These plugins are run by independent volunteers on our free time, so we need both help and patience from the rest of the community to be able to do so.

Since this issue seems to be solved, I am closing the ticket now. Please for any new issues ch

[2022-08-14 08:19] #1000 closed

[2022-08-14 08:23] miquelbeltran commented on #939
Yeah, we need to be more careful, this is not the first time this happens.

The whole federated plugin architecture is a mess, and I am one more mess like this to refactor everything into plain old plugins.

I'll take care of reverting the change.

[2022-08-14 09:03] miquelbeltran commented on #939
The reverted code has been published: https://github.com/fluttercommunity/plus_plugins/pull/1020

[2022-08-15 09:03] sentd94 opened #1022 "[Bug]: Stream emitting same values after app being in background on device Xiaomi Mi MIX 2 (Android)"
### Platform

Android 9

### Plugin

sensors_plus

### Version

1.3.4+1

### Flutter SDK

32

### Steps to reproduce

Note: I could not reproduce this on an Emulator device. I also don't have another physical device here to test this. So this might be a MIUI specific issue.

- Put the app in background (on Android press the Home Button).

- Unfortunately you have to wait now for a couple of minute

[2022-08-15 09:55] gehad-ahmed-mohammed opened #1023 "[Question]: Why did you removed `productName` from `WindowsDeviceInfo` ?"
### What is your question?

You removed almost all `WindowsDeviceInfo` .. why did you do this ?

[2022-08-15 12:22] alexmercerind commented on #1023
Hey!

It was me who added all the necessary information for Windows in https://github.com/fluttercommunity/plus_plugins/pull/814 including the `productName`.

It got reverted because of not incrementing the versions semantically.

Some Flutter _engineers_ got confused by it at #1000.
Instead of actually trying to increment the version of `device_info_plus` in `pubspec.yaml` of their app, they trie

[2022-08-15 21:52] zdnk opened #1024 "[Bug]: Xcode Cloud: module 'package_info_plus' not found"
### Platform

iOS 15

### Plugin

package_info_plus

### Version

1.4.3

### Flutter SDK

3.0.5

### Steps to reproduce

Not sure, maybe I am doing something wrong. I just have project with the package. I get:

### Code Sample

Pubspec
[code]
post clone script:
[code]

### Logs

[code]

### Flutter Doctor

[code]

[2022-08-16 06:18] canluhuang opened #1025 "[Bug]: connectivity_plus may crash on Android 12"
### Platform

Android12

### Plugin

connectivity_plus

### Version

2.3.6+!

### Flutter SDK

3.0.2

### Steps to reproduce

When the connectivity_plus plugin is unregistered, our online version of the app may crash on the Android 12 machine

### Code Sample

_No response_

### Logs

[code]

### Flutter Doctor

[code]

[2022-08-16 08:41] dqcuong2 opened #1026 "[Bug]: [IOS][Share_Plus] Instagram App Icon is not shown on share dialog"
### Platform

iOS

### Plugin

share_plus

### Version

4.0.10

### Flutter SDK

3.0.2

### Steps to reproduce

1. Open share dialog
2. Find Instagram App Icon to share
3. It doesn't not have Instagram App to share

### Code Sample

_No response_

### Logs

[code]

### Flutter Doctor

[code]

[2022-08-16 09:09] dqcuong2 commented on #1026
[Skype_Video.mp4.zip](https://github.com/fluttercommunity/plus_plugins/files/9349336/Skype_Video.mp4.zip)

[2022-08-16 09:11] dqcuong2 commented on #1026
Although I have instagram app on my phone, but it's not available on the share dialog

[2022-08-16 09:11] dqcuong2 commented on #1026
Does anyone face this issue?

[2022-08-16 13:54] jlucas577 commented on #1024
I'm having the same problem!

[2022-08-16 16:59] amrhassann commented on #1024
i'm facing the same error, any update?

[2022-08-18 02:30] BelindaShy opened #1028 "[Bug]: dyld: Symbol not found: _$s12ReachabilityAAC10ConnectionO4wifiyA2DmFWC"
### Platform

iOS 14.4.2

### Plugin

connectivity_plus

### Version

 2.3.6+1

### Flutter SDK

2.10.0

### Steps to reproduce

Xcode 14.3

1. Use "flutter build ios-framework --cocoapods --output=some/path/MyApp/Flutter/ " to generate Flutter.podspec, App.xcframework and plugin frameworks.
2. pod 'Flutter', :podspec => 'some/path/MyApp/Flutter/release/Flutter.podspec'
3. Use cocoapod embed  plug

[2022-08-18 17:13] eximius313 commented on #997
It looks like it's related to this method: https://github.com/fluttercommunity/plus_plugins/blob/main/packages/package_info_plus/package_info_plus_platform_interface/lib/method_channel_package_info.dart

Two questions:
1. why it throws exception instead of returning empty string?
2. can you support "flutter-pi" platform?

[2022-08-19 07:12] miquelbeltran commented on #1026
https://github.com/fluttercommunity/plus_plugins/blob/main/packages/share_plus/share_plus/README.md#facebook-limitations-whatsapp-instagram-facebook-messenger

[2022-08-19 08:53] Capricornwqh opened #1029 "[Request]:"
### Plugin

device_info_plus

### Use case

AndroidDeviceInfo can't find device name
![Screenshot_20220819_163759](https://user-images.githubusercontent.com/37462508/185582107-271336de-5929-4dac-a81b-1c595fe17731.jpg)

### Proposal

AndroidDeviceInfo and IosDeviceInfo need add device name item

[2022-08-19 09:36] Leheih opened #1030 "[Question]: I'm using share_plus to share on Android and the UI is inconsistent with other apps."
### What is your question?

The following is my UI using share_plus：
<img width="395" alt="image" src="https://user-images.githubusercontent.com/17791894/185590046-63044a2d-9026-400c-83c5-e32a7a6b658d.png">

Below is the sharing UI for another app on the same phone
<img width="414" alt="image" src="https://user-images.githubusercontent.com/17791894/185590505-a4fd4a7c-ee2e-4d26-86c9-f6c7e30ba00a.pn

[2022-08-19 12:35] Pierre2tm commented on #439
I miss the sensorManager.SENSOR_DELAY_GAME

[2022-08-20 04:34] bigbang489 commented on #780
I got the same error, ios target is 11.
Parse Issue (Xcode): Module 'device_info_plus' not found

[2022-08-20 18:03] jiangxiaoqiang commented on #644
I am using 2.5.0 facing this error.

[2022-08-21 14:19] Mikaela commented on #701
I think FluffyChat (Matrix client) is also affected by this when attempting to copy a username. The effect is that moderation (and bots for it) become painful as the `/commands` (or `!commands`) expect to receive a complete Matrix identifier (MXID) and this has been affecting us for a while.

[2022-08-21 23:14] callmephil opened #1031 "[Question] How can I use [share_plus] functionality outside its native dialog?"
### What is your question?

I would like to use share_plus options to restrict to certain apps only. Is there a way to do that?

e.g: I would like to only use the Instagram button for stories in a custom container as a stand-alone.

![image](https://user-images.githubusercontent.com/2213079/170664259-98be845e-7df3-498d-8946-43c35c6df347.png)

[2022-08-23 00:28] #768 closed

[2022-08-23 04:39] Aaron009 commented on #780
![image](https://user-images.githubusercontent.com/3838050/186070842-4cc51b95-5699-4668-bf36-ec80919c2b12.png)
I referenced this picture and succeeded.

[2022-08-23 07:58] zhao0 commented on #1028
I have the same issue, finally, I found it is due to [Swift Library Evolution](https://www.swift.org/blog/library-evolution/).

When we build plugin framework, we pass BUILD_LIBRARY_FOR_DISTRIBUTION=YES to xcodebuild, but when you add it to the project, the dependency written by swift didn't.

So, just add BUILD_LIBRARY_FOR_DISTRIBUTION=YES to BUILDSETTINGS solve this error.

Cocoapods example:
[c

[2022-08-23 09:44] jackd opened #1032 "[Request]: Expose device orientation events"
### Plugin

sensors_plus

### Use case

Device orientation (in world coordinates) is often desired and seems to be implemented for android/ios/web under [TYPE_ORIENTATION_VECTOR](https://google-developer-training.github.io/android-developer-advanced-course-concepts/unit-1-expand-the-user-experience/lesson-3-sensors/3-2-c-motion-and-position-sensors/3-2-c-motion-and-position-sensors.html#devicerota

[2022-08-23 15:38] agusryank opened #1034 "[Question]: Unhandled Exception: MissingPluginException(No implementation found for method shareFiles on channel dev.fluttercommunity.plus/share)"
### What is your question?

i want to sharePlus file from pacckage sharePlus  but getting this error
[code]

[2022-08-24 06:47] hkpatel201 opened #1035 "[Bug]: Wrong build number on android"
### Platform

Android 12

### Plugin

package_info_plus

### Version

1.4.3+1

### Flutter SDK

3.0.5

### Steps to reproduce

1. My application version is set to **version: 1.0.0+1** in pubspec.yaml
2. I am using this code to get build number of my flutter application.

[code]

3. Out put with "_flutter run --release_" is **1**

4. Out put with "_flutter build apk --split-per-abi_" is **1001**

O

[2022-08-24 22:36] adminant commented on #852
Any news? This issue prevents us from using the plugin in production.

[2022-08-25 05:08] freeman29 commented on #790
This is how I fixed this issue using RxDart's debounceTime.

[code]

 I know it's redundant to use 2 listeners, but it works for me.

[2022-08-25 07:50] inshaf commented on #852
when listing for "onConnectivityChanged", it gives following 2 result, even though we are connected to WIFI

ConnectivityResult.none
ConnectivityResult.wifi

[2022-08-25 14:23] hasnainhayat opened #1036 "[Question]: I want to use variable value in call back function is there any way to pass a value or use a variable"
### What is your question?

I want to use variable value in call back function is there any way to pass a value or use a variable because it a static function and it does not allow me to use other variables

[2022-08-26 12:45] ron-diesel commented on #1034
I join the question

[2022-08-26 14:10] ron-diesel commented on #1034
Restart helped

[2022-08-27 07:02] moxran opened #1037 "[Bug]: using shareFilesWithResult to share both file and text to WhatsApp, file is not shared"
### Platform

iOS 15.5

### Plugin

share_plus

### Version

4.0.10+1

### Flutter SDK

3.0.3

### Steps to reproduce

1. save screenshot image to file
String imagePath = PhoneAppDirectory.root + '/screenshot.jpg';
      await File(imagePath).writeAsBytes(mergedImageBytes);
2. share the image and a string
var result = await Share.shareFilesWithResult([imagePath],
          text: strHashTag']

[2022-08-28 06:55] moxran commented on #1037
I just found other posts about the same issue, will close it now.

[2022-08-28 06:55] #1037 closed

[2022-08-28 10:40] hidenxtt2001 opened #1039 "[Question]: Can I get only state Charging or Uncharged without state Full"
### What is your question?

I'm making a alert to notify if laptop is plugged in or not , but when use battery_plus in state Full, i cant detect that Laptop is charging or not.
Can some one help me ?

[2022-08-29 01:14] LinHaoLove opened #1041 "[Bug]: 使用或覆盖了已过时的 API"
### Platform

any

### Plugin

network_info_plus

### Version

2.1.4+1

### Flutter SDK

macos arm64 3.0.5 stable

### Steps to reproduce

1，first build.
2，first run in release mode.

### Code Sample

[code]

### Logs

[code]

### Flutter Doctor

[code]

[2022-08-30 00:27] #314 closed

[2022-08-30 00:27] PeterNjeim commented on #612
Can't believe it's been 2 months already

[2022-08-30 05:44] PeterNjeim commented on #612
Wow it's been 2 months already

[2022-08-30 08:28] doubleo2 commented on #763
Still not stale

[2022-08-30 17:59] Tom3652 opened #1044 "[Question]: What is the unit of the gyroscope values ?"
### What is your question?

I would like to know what are the units of these values :

[code]

I have these kind of values :

[code]

And in my app i need degrees. Is it radian values ?

Thanks in advance !

[2022-08-31 09:21] longtaozz commented on #1034
What you solved？

[2022-08-31 19:14] AdamBridges commented on #860
I know this may be obvious but did you try stopping and running the app after adding the package?

[2022-08-31 23:12] AdamBridges opened #1046 "[Bug]: onConnectivityChanged listener not detecting when Mobile and Wi-Fi are disabled"
### Platform

Android 12

### Plugin

connectivity_plus

### Version

2.3.6+1

### Flutter SDK

3.3.0

### Steps to reproduce

1. Call onConnectivityChanged listener and include code to print the event.
2. Run the app and turn off Wi-Fi and Mobile from the device settings.

### Code Sample

[code]

### Logs

[code]

### Flutter Doctor

[code]

[2022-09-01 15:50] Coronon commented on #916
I am currently very short on time but will probably find some at the end of the month. When I last tried this I wasn’t able to reproduce this. Would you guys mind sharing a sample project for me to be on the same page? I am only able to test with the android emulator as I am not in possession of a real android device.

[2022-09-01 18:59] Chinmay-KB commented on #1039
I went through the source code of battery_plus for mac_os and found that if battery percentage is 95% regardless of it being plugged in or not, battery status will be returned as full. Only when the percentage goes below that is when you will get a charging or discharging status. What you are asking is pretty easy to implement into the plugin, if required. Now its up to the maintainers to decide w

[2022-09-01 19:02] Chinmay-KB commented on #1036
I don't think this is a question related to any of plus_plugins. Asking it over at StackOverflow would be more appropriate.

[2022-09-02 00:27] brunomoraisti commented on #934
From Android 10 onwards it is restrict to collect unique identifiers. This was achieved only in DeviceOwner privileged apps and system apps. From android developer documentation Best practices for unique identifiers explained how to identify uniqueness based on different scenerios. [Link](https://developer.android.com/training/articles/user-data-ids)

[2022-09-02 03:18] ArthitNam commented on #1016
Hello, LiveRock ...have you solved the problem?
I also encountered the same problem as you.

[2022-09-02 04:05] iqfareez commented on #929
I run the app against Flutter 3.3 and the version number matches the `pusbpec.yaml` file. I think this issue can be closed.

https://docs.flutter.dev/deployment/windows#updating-the-apps-version-number

https://docs.flutter.dev/development/platform-integration/windows/version-migration

[2022-09-02 13:54] LiveRock commented on #1016
Still facing the same issue ; no response from the creator yet

[2022-09-02 14:15] AndreCarreiraGoncalves commented on #843
How do i still have this issue even tho I uninstalled the package, cleared pub cache, deleted lock, did flutter clean...

[2022-09-02 17:28] r3a1d3a1 opened #1049 "[Bug]: BatteryState.full is meaningless"
### Platform

Any

### Plugin

battery_plus

### Version

2.1.4+1

### Flutter SDK

2.5

### Steps to reproduce

The battery could be **full** and **plugged in**, or not **plugged in**.
Therefore, BatteryState.full is confusing and useless.
Please remove it and let anyone interested use batteryLevel instead to know whether it's full or not.

### Code Sample

_No response_

### Logs

[code]

### Fl

[2022-09-02 17:28] marcglasberg commented on #927
We are having problems in real iPhones. So it's not only in the Simulator.

[2022-09-03 14:18] glitchpop-frenzy commented on #1029
Hey @Capricornwqh, I used this plugin on my Android device (Android 12) and it's working fine. Can you tell what's the error?

[2022-09-04 02:03] Capricornwqh commented on #1029
which item you used? AndroidDeviceInfo.display or AndroidDeviceInfo.device?
 more precisely, i need display bluetooth device name.

[2022-09-04 02:06] Capricornwqh commented on #1029
which item you used? AndroidDeviceInfo.device or AndroidDeviceInfo.display?
more precisely, i need display Bluetooth Device Name.

[2022-09-04 05:20] glitchpop-frenzy commented on #1029
I don't think it's for fetching your Bluetooth device name.

[2022-09-04 05:43] glitchpop-frenzy commented on #1019
I think, it's due to slow internet connection, just change your current directory to `android/` and run `./gradlew build` until it configures and executes 100%. I myself have faced similar issues, but this approach works for me.

[2022-09-04 06:54] Capricornwqh commented on #1029
other devices will see this name when use Bluetooth, Personal hotspot and USB.
whaterver, AndroidDeviceInfo can't  find this name.

[2022-09-05 02:02] baneyue opened #1050 "[Bug]: Hope to adapt to flutter3.3.0 as soon as possible"
### Platform

Windows

### Plugin

package_info_plus

### Version

1.4.3+1

### Flutter SDK

3.3.0

### Steps to reproduce

please adaptation flutter3.3.0

### Code Sample

[code]

### Logs

[code]

### Flutter Doctor

[code]

[2022-09-05 08:35] cl549723678 commented on #916
I had the same problem when running on Android 11, but Android 10 was normal

[2022-09-05 13:35] navaronbracke commented on #1032
I would like to see this implemented as well. I needed access to `TYPE_ORIENTATION_VECTOR` and was a bit surprised as to why that sensor is not included in the plugin.

[2022-09-05 13:51] wilson-christian commented on #385
Facing the similar issue, while just sending `image` not even text.

[2022-09-05 18:45] Chinmay-KB commented on #1032
If one just wants to change the UI, then OrientationBuilder can be handy, but in cases where you don't want to change the UI and just know device orientation, it falls flat. This change should not be very difficult to implement, I'll try my hand at it.

[2022-09-05 22:02] simplenotezy commented on #645
This would be a really great bug to get fixed! Can confirm I have the same issue.

[2022-09-05 22:02] simplenotezy commented on #1037
https://github.com/fluttercommunity/plus_plugins/issues/645

[2022-09-05 22:02] simplenotezy commented on #880
https://github.com/fluttercommunity/plus_plugins/issues/645

[2022-09-05 22:03] simplenotezy commented on #877
https://github.com/fluttercommunity/plus_plugins/issues/645

[2022-09-05 22:03] simplenotezy commented on #735
https://github.com/fluttercommunity/plus_plugins/issues/645

[2022-09-05 22:04] simplenotezy commented on #619
I believe this is related to: https://github.com/fluttercommunity/plus_plugins/issues/645

[2022-09-05 22:06] simplenotezy commented on #619
https://github.com/fluttercommunity/plus_plugins/issues/730

[2022-09-05 22:06] simplenotezy commented on #735
https://github.com/fluttercommunity/plus_plugins/issues/730

[2022-09-05 22:06] simplenotezy commented on #877
https://github.com/fluttercommunity/plus_plugins/issues/730

[2022-09-05 22:06] simplenotezy commented on #880
https://github.com/fluttercommunity/plus_plugins/issues/730

[2022-09-05 22:06] simplenotezy commented on #1037
https://github.com/fluttercommunity/plus_plugins/issues/730

[2022-09-05 22:19] simplenotezy commented on #730
This is the error I am facing, when trying to share a video file from the `asset/` folder

[code]

[2022-09-06 04:22] Shawn-sudo opened #1053 "[Request]: share_plus Disable touch input on share screen open"
### Plugin

share_plus

### Use case

Disable touch inputs when share screen is opened

Currently looks like: https://vimeo.com/746740170
In the video, "Invite Friend" button calls `Share.share("You can get ...")`
I was tapping the "Invite Friend" button area above the share panel on iOS.

#### Alternative Solution I've considered
I could wrap the whole widgets with `AbsorbPointer(absorbing: true/

[2022-09-06 07:29] adnankhan74444 opened #1054 "Unable to share image in Redmi device"
### Platform

Android 10

### Plugin

share_plus

### Version

share_plus 4.0.10+1

### Flutter SDK

3.0.5

### Steps to reproduce

![Screen Shot 2022-09-06 at 10 11 26 AM](https://user-images.githubusercontent.com/33020030/188571744-ecfd607f-0282-41e8-bd46-e32206260841.png)

### Code Sample

[code]

### Logs

[code]

### Flutter Doctor

[code]

[2022-09-06 09:45] miquelbeltran commented on #730
You are trying to share a file contained in the project assets. Those files are not available to the underlying platform, instead you need to do some extra work to access them: https://docs.flutter.dev/development/ui/assets-and-images#loading-flutter-assets-in-ios

[2022-09-06 09:48] miquelbeltran commented on #730
Regarding the original issue.

I am currently testing the share_plus example on a device (not simulator), and observed the following:

- Sharing files works.
- Something seems broken with text sharing: The share dialog appears but it is empty, only AirDrop appears and no other apps.

Will take a look further on why is this happening.

[2022-09-06 09:48] lyellss commented on #1024
I'm having the same problem!

[2022-09-06 10:23] miquelbeltran commented on #730
One thing that seems to be wrong is this line here:

https://github.com/fluttercommunity/plus_plugins/blob/640bd92d4ba2d1df70ad969fd29f2442587d3a41/packages/share_plus/share_plus/ios/Classes/FLTSharePlusPlugin.m#L351

The code is trying to encode a text string as a URL, this causes that the share sheet appears empty. Currently changing it and the text sharing works again.

Adding a subject doesn't

[2022-09-06 10:43] miquelbeltran opened #1056 "[Bug]: Subject is not set when sharing text + subject on iOS to Gmail app"
### Platform

iOS 15

### Plugin

share_plus

### Version

### Flutter SDK

3.3.0

### Steps to reproduce

1. Use share_plus example
2. share text and subject
3. Select GMAIL app on iPhone

The text appears both on the subject and body.

### Code Sample

_No response_

### Logs

[code]

### Flutter Doctor

[code]

[2022-09-06 12:29] miquelbeltran commented on #1056
This issue seems to be present on Gmail, not on the Mail app of iOS, which works. So closing this.

[2022-09-06 12:29] #1056 closed

[2022-09-06 13:02] miquelbeltran commented on #730
Released 4.1.0 of share_plus with a fix for iOS.

Please see the PR #1055 for more information.

If you still face issues, please open a new Issue with version 4.1.0 of the plugin.

[2022-09-06 13:02] #730 closed

[2022-09-06 13:05] miquelbeltran commented on #701
A new version of share_plus 4.1.0 has been released with fixes for sharing text on iOS.

Please check with this new version of the plugin and open a new GitHub issue if it persists.

You can check the details on the PR #1055

[2022-09-06 13:05] #701 closed

[2022-09-06 13:07] miquelbeltran commented on #1050
The support for win32 v3 has been added in the PRs #1048 and #1047 please let us know if that fixes your issue

[2022-09-06 13:13] miquelbeltran commented on #1035
Can you share your gradle file?

I am not sure why the reported version would be 1001 instead of 1, doesn't make any sense.

[2022-09-06 13:20] hkpatel201 commented on #1035
Here is my gradle file

[code]

[2022-09-06 13:22] miquelbeltran commented on #1049
Feel free to submit a PR with better functionality, but keep in mind that the BatteryStatus in an abstraction that should support six different platforms.

[2022-09-06 13:28] miquelbeltran commented on #1035
oki, so it is just the normal flutterVersionCode.

The code that takes care of reading the build number is also very simple:

https://github.com/fluttercommunity/plus_plugins/blob/b3282a05ef894aae4b0321e79b2764ac956ff1a9/packages/package_info_plus/package_info_plus/android/src/main/kotlin/dev/fluttercommunity/plus/packageinfo/PackageInfoPlugin.kt#L60

To me, it looks like an Android issue or somet

[2022-09-06 13:30] miquelbeltran commented on #1053
This doesn't have anything to do with the plugin. You could try to disable the button and wait for a response on shareWithResult which returns after the user selected an option.

[2022-09-06 13:33] miquelbeltran commented on #1044
It is explained in the code: https://github.com/fluttercommunity/plus_plugins/blob/b3bc18bba318aa5f350eabbe936f48f0494c0ff2/packages/sensors_plus/sensors_plus_platform_interface/lib/src/gyroscope_event.dart

It is rad/s

[2022-09-06 13:33] #1044 closed

[2022-09-06 13:46] miquelbeltran commented on #1030
share_plus uses `Intent.createChooser` from Android internally, which is what is being used in the official Android docs: https://developer.android.com/training/sharing/send

tbh I am not sure what other apps may be doing. Any ideas?

[2022-09-06 14:06] miquelbeltran commented on #1039
It is easy to implement on one platform, it is hard to port to the other 5.

Anyone willing to submit a PR is welcome to do it, I will help with the review and test.

[2022-09-06 14:07] #1036 closed

[2022-09-06 14:13] miquelbeltran commented on #1024
@zdnk Can you add a bit more context to the issue?

As I understand, your compilation fails on CI because package_info_plus is missing, correct?

Is there any reason why you also have `package_info_plus_web` on your pubspec.yaml?

Does the compilation work locally?

I have a project with package_info_plus and I build it for iOS on Bitrise without problems.

[2022-09-06 17:05] Shawn-sudo commented on #1053
@miquelbeltran ye i can definitely write some codes to block touch inputs by myself, but I just hope it is provided by default. The behavior shown in the video is definitely unexpected.

[2022-09-06 17:08] doriansabo commented on #852
When the wifi and mobile data are OFF, and then mobile data is turned ON the onConnectivityChanged will be called multiple times.

It seems that it is called before there is an actual mobile connection since I try to ping a server every time when the onConnectivityChanged is called to check for a real internet connection, and it throws an error.

A really ugly workaround is to debaunce onConnectiv

[2022-09-06 20:54] TzviPM opened #1058 "[Bug]: Use of CC-BY-SA 3.0 licensed code (CLA violation)"
### Platform

ios

### Plugin

network_info_plus

### Version

1.1.0

### Flutter SDK

N/A

### Steps to reproduce

It recently came to my attention that https://github.com/fluttercommunity/plus_plugins/pull/355 pulled in code copied from stack overflow under a prohibited license under Google's CLA. (CC-BY-SA 3.0).

The specific file is this one: packages/network_info_plus/network_info_plus/ios/Cl

[2022-09-06 21:12] TzviPM commented on #1058
I'm not sure if fluttercommunity requires agreeing to Google's CLA. I noticed that the contributing guidelines specify that they follow flutter's style guide which itself delegates licensing concerns to Google's CLA.

[2022-09-07 02:27] buzmeg commented on #925
Poke.  Poke.

[2022-09-07 07:29] ollydixon commented on #449
This should be possible to implement now with the windows changes

[2022-09-07 11:59] TzviPM commented on #1058
@slightfoot are you a good contact for pushing this forward?

[2022-09-07 12:49] julianfalcionelli opened #1060 "[Bug]: iOS Save Image NSOSStatusErrorDomain Code=-12847"
### Platform

ios

### Plugin

share_plus

### Version

4.1.0

### Flutter SDK

3.0.5

### Steps to reproduce

When sharing an image (png or jpeg format) the iOS App is restarted due to an internal iOS error.

First I am downloading the image and storing it in cache, to later allow the user to share it.

When selecting the "Save Image" option to save it in the gallery, the app is restarted (it doe

[2022-09-07 12:50] julianfalcionelli commented on #1060
Similar issue reported in https://developer.apple.com/forums/thread/12700

[2022-09-07 12:59] patzjo opened #1061 "[Bug]: Does not launch dart function in release build"
### Platform

android 10

### Plugin

android_alarm_manager_plus

### Version

2.0.6+1

### Flutter SDK

3.3.0

### Steps to reproduce

build and launch in release mode using flutter build apk --release

Application starting to print to logcat when building with debug and profile arguments but does not work when building release version.

Building and running with:
  flutter build apk --debug && f

[2022-09-07 15:15] PaulRudin opened #1062 "[Request]: Support copying text to clipboard as an option for sharing on web."
### Plugin

share_plus

### Use case

I'm using share_plus to share some text + a link generated by firebase dynamic links. On the web build share plus makes a mailto: url to share the link, but I'd rather copy the text to the clipboard so that it can be pasted into various places.

### Proposal

Provide an option to share by copying to the clipboard.

[2022-09-07 15:54] miquelbeltran commented on #1060
Hi @julianfalcionelli can you try to reproduce this issue with the example project located in the share_plus project? Also, can you provide a file that causes the issue? (host it somewhere if you can, do not attach it to GitHub)

[2022-09-07 15:56] miquelbeltran commented on #1058
Because this project is a fork from Google, my guess is that Google's CLA licensing requirements are gone. Probably the Contributor guidelines need a cleanup in this aspect. But it is still good to get this straight and get proper licensing for the implementation.

[2022-09-07 15:59] miquelbeltran commented on #1054
Hi @adnankhan74444  could you check if:

- this issue happens with other files
- this issue happens when sharing with other apps (e.g. Telegram?)
- this issue happens when implementing the share intent natively on Android (if you have enough Android experience to try that)

thanks!

[2022-09-07 16:12] miquelbeltran commented on #1062
There are some packages that implement copy to clipboard already: https://pub.dev/packages?q=copy+to+clipboard shouldn't that be enough for you? You could wrap your functionality and decide to use share_plus or a clipboard depending on the platform.

[2022-09-07 16:38] adnankhan74444 commented on #1054
Hi @miquelbeltran

But the same code and same scenario is working fine on other devices (Samsung and Iphone), this issue is only happening in REDMI device.

[2022-09-08 00:24] #802 closed

[2022-09-08 05:41] miquelbeltran commented on #1046
I wonder if this is a limitation on the Android OS API itself.

It would be good to check if this is actually possible natively, and if so, port the solution back to the plugin

[2022-09-08 06:33] PaulRudin commented on #1062
Sure - that's what I'm doing at the moment. But it feels like making share on web to mean just "send an email" as the only option is kind of limiting. These days many people hardly use email at all.

[2022-09-08 11:01] expertdev-designer opened #1063 "[iOS ]: Share text + Url instagram is not showing in share list"
### Platform

iOS 15.0

### Plugin

share_plus

### Version

^4.1.0

### Flutter SDK

3.0.5

### Steps to reproduce

Share button clicks the share dialog appears in all sharing apps list Instagram does not show while in sharing in facebook text Instagram showing list.

### Code Sample

[code]

### Logs

[code]

### Flutter Doctor

[code]

[2022-09-08 12:15] alexaung commented on #951
Not working for iPad Pro (12.9-inch) (5th generation) both simulator and physical device.

[2022-09-08 13:14] miquelbeltran commented on #1063
Besides Instagram not showing, is any other messaging app showing? or are there no apps at all?

[2022-09-08 17:35] sirmamedical commented on #1061
I confirm the issue. It is a blocker because no alarms are triggered. I see the following log:
[code]
When try to perform cancel I see:
`2022-09-08 20:19:05.722 10913-10913/? I/AlarmService: cancel: broadcast receiver not found`

And when the alarm is supposed to be fired the log is:
`2022-09-08 20:21:00.056 10913-11339/? I/AlarmService: AlarmService has not yet started.`

[2022-09-08 19:45] miquelbeltran commented on #1061
Searching for `Dart_LookupLibrary` on GitHub gives multiple results: https://github.com/search?q=Dart_LookupLibrary&type=issues

One comment points to downgrade to 3.0.5: https://github.com/rmawatson/flutter_isolate/issues/117#issuecomment-1236579313

Check this solution: https://github.com/rmawatson/flutter_isolate/pull/118/files

to add `@pragma('vm:entry-point')` to your isolated method (`print

[2022-09-08 19:59] miquelbeltran commented on #1061
https://github.com/dart-lang/sdk/blob/master/runtime/docs/compiler/aot/entry_point_pragma.md

[2022-09-08 20:01] miquelbeltran commented on #1061
Another example: https://github.com/fluttercommunity/flutter_workmanager/issues/422#issuecomment-1236618119

[2022-09-08 20:24] RednibCoding opened #1064 "[Bug]: PackageInfoPlus always returns 1.0.0 on windows (web and android works fine)"
### Platform

Windows 10

### Plugin

PackageInfoPlus

### Version

all from 1.4.0 to ^1.4.3+1

### Flutter SDK

### Steps to reproduce

I just call the initialize method from the code sample and it always returns version 1.0.0 even though the apps version in the pubspec.yaml is different. It works on web and android (without changing a line of code) but on windows it always returns 1.0.0.

### Co

[2022-09-08 20:48] sirmamedical commented on #1061
For me the only way to make it work was to add @pragma('vm:entry-point') above my static alarm callback handler and also in `android_alarm_manager_plus.dart` above `_alarmManagerCallbackDispatcher()` as:
[code]

[2022-09-09 04:33] miquelbeltran commented on #1061
Thanks for checking! Can you open a pull request with the change? I'll be sure to review it quickly.

[2022-09-09 06:57] vbuberen commented on #1063
We probably need to write in very big font mention that Facebook/Meta products don't support correct share without their SDK which we don't plan to add into plus plugins.

[2022-09-09 15:11] julianfalcionelli commented on #1060
@miquelbeltran I have been playing with the example project and is working as expected. Also I found that after I press the "Save Image" the image is actually saved in the Gallery, but the App is restarted as I described, I am thinking that this is related with the iOS Project Structure I made for having a custom Splash Screen.

[2022-09-10 08:59] LiveRock commented on #1016
Anyone?

[2022-09-10 13:02] navaronbracke commented on #1064
IIRC there was a discussion about the windows app not using the version in the pubspec as the version for the exe.
I can't seem to find it anymore though.

[2022-09-10 20:11] miquelbeltran commented on #1016
@LiveRock don't expect any quick response, there's no one working actively in this issue afaik. However, you are more than welcome on trying to fix and submitting a PR.

[2022-09-10 20:13] miquelbeltran commented on #1064
That makes sense. The Android implementation works similarly: It reads the app version from the APK, not the pubspec.yaml.

So if the windows.exe is not using the version defined in the pubspec.yml this is more a bug on the Flutter Desktop implementation side than on this plugin.

[2022-09-11 08:05] Jamalianpour commented on #933
I want to share image from uint8list and use [wc_flutter_share](https://pub.dev/packages/wc_flutter_share) and It's work.
But now it was DISCONTINUED

[2022-09-11 12:01] miquelbeltran commented on #933
Have you tried to store the file in a tempor path and then share that file?

[2022-09-12 05:12] expertdev-designer commented on #1063
@miquelbeltran  in the app list all other apps are showing except Instagram for text + URL sharing. In comparison, Instagram is showing for image + URL + Text sharing.
@vbuberen  We added the Facebook SDK already and Facebook/Meta sharing is working fine.

[2022-09-12 05:13] AbodiSadiqGitHub commented on #360
I WANT TO SEND TO GROUP IN WHATSAPP, PLEASE.
'https://chat.whatsapp.com/JiATE6rTObME5UXacTIfcw' this is a group link,
message is 'hello',
how can i do?
THANKS ALOOT!

[2022-09-12 06:32] miquelbeltran commented on #1063
I am not an Instagram user, but is it possible at all to share text to Instagram? Even with other apps? This looks like a limitation with Instagram, not a problem with the plugin

[2022-09-12 12:00] AbodiSadiqGitHub opened #1065 "[Question]: Send message to whatsapp group."
### What is your question?

I want to send a message to wahatsapp group,
'https://chat.whatsapp.com/JiATE6rTObME5UXacTIfcw' this is a group link,
the message is: 'hello'

how can i do, please?

thanks in advanced.

My function is:

void _openLinkInGoogleChrome() {
    final intent = AndroidIntent(
      action: 'ACTION_VIEW',
      data: Uri.encodeFull(url),
      arguments: {'android.intent.extra

[2022-09-12 12:24] Sajeel0327 commented on #1054
Hi @miquelbeltran
I am also facing this issue just for Redmi device. When i try to attach file with Redmi device file is not attaching with gmail. Same error i am geeting.

Error : can't attach file

[2022-09-12 12:42] chorauoc commented on #1054
Hi

I am also facing same issue with this device type, can you please look into this issue

Thanks
Chora

[2022-09-12 13:26] Avinash-kommareddy commented on #1054
Hi
I am also facing same issue with this device type, can you please look into this issue

[2022-09-12 15:01] miquelbeltran commented on #1054
Feel free to try to debug the issue and figure out what is wrong, since you also own this device. If you send a PR with the fix I will review and merge asap, but don't expect me to work on it.

[2022-09-13 06:03] adnankhan74444 commented on #1054
Hi
I am also facing same issue with this device type, can you please look into this issue.
Thanks!

[2022-09-13 11:46] expertdev-designer commented on #870
I am using  share_plus 4.1.0 on an iPhone 7  after executing Share.share('deeplink with socialMetaTagParameters for preview ')

deep link:  https://firebase.google.com/docs/dynamic-links/flutter/create

It's working fine for WhatsApp when i shared but not for  skype
![image_2022_09_13T11_21_00_470Z](https://user-images.githubusercontent.com/52417551/189892634-1d2618cf-4f7c-4dfd-a828-d57ba46a4342.p

[2022-09-13 11:47] expertdev-designer commented on #870
@miquelbeltran @daniellai @tarja77 @jamesncl Please check what's issue

[2022-09-13 12:13] seikosantana commented on #929
Probably unrelated but on android I always have 1 as revision number even if in pubspec i wrote it to be 0

[2022-09-13 12:19] expertdev-designer opened #1066 "When in iOS we are sharing Post to Facebook it is not redirected back to our app."
### What is your question?

When in iOS we are sharing posts to Facebook it is not redirected back to our app.
On Android after successfully sharing to Facebook, it is redirecting to our app. But in the case of Facebook Sharing only in iOS, it is stuck on the done screen to go back we have to kill the app and reopen it. We added Facebook SDK also.
Any solution Please?

[2022-09-13 13:58] mohit-varma opened #1067 "[Bug]: Share plus dialog is not being closed."
### Platform

iPad 15.6.1

### Plugin

share_plus

### Version

4.1.0

### Flutter SDK

2.10.1

### Steps to reproduce

Hi, The share plus dialog is not being closed in case one. Suppose I opened the share plus dialog and sent a push notification on my mobile, after clicking on the notification share plus dialog should dismiss. it is not being closed.

### Code Sample

_No response_

### Logs

[co

[2022-09-13 19:49] vbuberen commented on #1063
Also don't use this product, so don't know 🤷🏻

[2022-09-14 06:12] usmanmushtaq97 commented on #1054
I'm also facing same issue, any one solved yet or not.

[2022-09-14 06:36] miquelbeltran commented on #1067
The plugin does not control the share dialog, only opens it.

I am not sure if there may be a way to dismiss the dialog from Flutter side, but that's not supported at the moment.

Changing this to feature request.

[2022-09-14 06:38] miquelbeltran commented on #1066
The questions should be asked on StackOverflow, doesn't seem related to the share_plus plugin.

[2022-09-14 06:40] miquelbeltran commented on #929
@seikosantana yes it is unrelated to this issue, I believe someone else has reported it already in another ticket.

Thanks @sitaryo and @iqfareez for the heads up!

[2022-09-14 06:40] #929 closed

[2022-09-14 06:42] miquelbeltran commented on #870
If it is working fine on some apps but not on one specific app, to me, it looks like a specific problem of that app and not on the plugin side

[2022-09-14 07:23] expertdev-designer commented on #870
@miquelbeltran how this issue from app side

Logs:

[LayoutConstraints] Unable to simultaneously satisfy constraints.
Probably at least one of the constraints in the following list is one you don't want.
Try this:
(1) look at each constraint and try to figure out which you don't expect;
(2) find the code that added the unwanted constraint or constraints and fix it.
(
"<NSLayoutConstraint:0x28004d3

[2022-09-14 07:46] miquelbeltran commented on #870
This has been documented in the README.md, when using the share_plus on iPad the `sharePositionOrigin` must be provided, and this needs to be correct. If you are not provided sample code showing how you exactly calculate this value we cannot help you.

[2022-09-14 08:24] expertdev-designer commented on #870
@miquelbeltran i tested with this as well sharePositionOrigin
but not fixed ..Let me share sample code with you

[2022-09-14 08:58] expertdev-designer commented on #870
Hii @miquelbeltran  Please look into this ..it's urgent
i am using   share_plus: ^4.1.0
[code]
sample code:
[code]

Log :
[code]

[2022-09-14 08:58] miquelbeltran commented on #870
[code]

Where are you getting this context from?

[2022-09-14 09:01] expertdev-designer commented on #870
@miquelbeltran  from Widget build(BuildContext context) {

[2022-09-14 09:05] miquelbeltran commented on #870
So that's probably wrong, and you are not providing a valid Rect in the sharePositionOrigin.

If you look at the example main.dart you will see that the share call is wrapped with a Builder, and it is not using the context from the top widget.

You need to understand what your code does, rather than copying code and complaining that things don't work.

[2022-09-14 09:08] miquelbeltran commented on #870
I am closing this issue now, if you have a problem providing the sharePositionOrigin, run the example in the project and see if you can reproduce the issue. If the example works, but your code doesn't, then there's a bug in your code.

[2022-09-14 09:08] #870 closed

[2022-09-14 11:18] SherwinDeveloper commented on #1061
Having the same issue, since upgrading flutter/dart - worked well before.  Even tried adding the pragma annotation to my callbacks, but did not help - callbacks not launched.  Added as follows:
[code]

[2022-09-14 11:58] miquelbeltran commented on #1061
I think that the `@pragma('vm:entry-point')` needs to be added to the plugin code, as explained in the previous comments. If anyone can do it and submit a PR, I'll quickly review and merge.

[2022-09-15 00:25] #872 closed

[2022-09-15 00:25] #869 closed

[2022-09-15 00:25] #863 closed

[2022-09-15 00:25] #749 closed

[2022-09-15 00:26] #396 closed

[2022-09-15 00:26] #368 closed

[2022-09-16 00:26] #853 closed

[2022-09-16 00:26] #736 closed

[2022-09-16 00:26] #611 closed

[2022-09-16 09:04] eloipeloux commented on #1034
Any news about this one ? Have exactly the same issue here, despite the restart ...

[2022-09-16 09:12] miquelbeltran commented on #1034
Your question is missing some context:

- When are you calling that method?
- Which platform are you running the app on?
- Do you have the same issue when running the example project on the same device?

[2022-09-16 09:18] git-xiaocao opened #1070 "[Request]: share_plus android remove url_launcher"
### Plugin

share_plus

### Use case

url_launcher is not required when compiling android but it will also be loaded into the app's gradle project

### Proposal

Remove url_launcher when compiling android

[2022-09-16 09:18] eloipeloux commented on #1034
Sorry mate, here's some context :

I get this error
[code]

Here's my function
[code]

Devices & versions
`Flutter (Channel stable, 3.3.1, on macOS 12.5.1) & Iphone 13 Pro emulator iOS 15.5`

I call this function on a `ElevatedButton` onPressed method and I get this error in my terminal !

[2022-09-16 09:28] eloipeloux commented on #1034
Just tried the example on the same device, tapping on `Share` opens the dialog but when clicking the icon `Messages` then nothing happens

[2022-09-16 09:47] eloipeloux commented on #1034
Well ended up restarting my simulator and the dialog opens but when clicking on Messages nothing happens ...

[2022-09-16 10:07] marwenbk opened #1071 "[Request]: Battery Charging Threshold"
### Plugin

battery_plus

### Use case

When the device is plugged-in all day long (example: in case of POS app ) the battery may get damaged by holding 100%.
in modern devices (in my case my laptop) you can set the threshold to 60-80% to avoid damaging the battery

### Proposal

Setting Charging threshold for android and ios devices

[2022-09-16 10:34] xiaocode337317439 opened #1072 "[Request]: You should provide a way to share text as a URL"
### Plugin

share_plus: ^4.1.0

### Use case

You should provide a way to share text as a URL

### Proposal

You should provide a way to share text as a URL

[2022-09-16 13:04] miquelbeltran commented on #1072
Agreed, the problem we had before is that the parameter for text was used also for URLs and this caused parsing issues, having a different method for URLs would be good

[2022-09-16 13:05] miquelbeltran commented on #1071
I am not sure what this has to do with the plugin. The plugin just exposes the status from the OS, it does not control how the device charges.

[2022-09-16 13:07] miquelbeltran commented on #1070
makes sense, feel free to submit a PR if you think you can do it!

[2022-09-16 13:09] miquelbeltran commented on #1034
Thanks, this looks like two different issues (MissingPluginException on MacOS, and the share to Messages not working), could you open an issue ticket for each one of those?

[2022-09-16 13:11] eloipeloux commented on #1034
Yessir ofc, right now :)

[2022-09-16 13:22] eloipeloux opened #1073 "[Bug]: Share feature won't open 'Messages' app"
### Platform

Iphone 13 PRO

### Plugin

share_plus

### Version

4.1.0

### Flutter SDK

3.3.1

### Steps to reproduce

I added the package to my projet, nothing here
Then I created a function (code below) to give a share behavior to my share button
Dialog to share opens up but when clicking on 'Messages' app to share my content, it doesn't work (doesn't open the Messages app, can't see what I'm

[2022-09-16 14:25] miquelbeltran commented on #1072
Just to clarify, sharing a url is a pure iOS thing right? The share_plus plugin never did anything different for sharing urls on Android

[2022-09-16 15:48] stuartmorgan commented on #1058
Regardless of whether you are using Google's CLA, this package currently lists its license as MIT.

[2022-09-16 20:49] Mmisiek opened #1075 "[Request]: Please upgrade device_info_plus_windows to ffi ^2.0.1"
### Plugin

device_plus_info_windows

### Use case

The use of old ffi blocks adding new plugins like catcher:

Because device_info_plus >=2.1.0 <3.2.1 depends on device_info_plus_windows ^2.1.0 and device_info_plus >=3.2.1 <4.0.1 depends on device_info_plus_windows ^2.1.1, device_info_plus >=2.1.0 <4.0.1 requires device_info_plus_windows ^2.1.0.
And because catcher >=0.6.9 depends on device_info_

[2022-09-16 20:57] rgvieira opened #1076 "[Question]: AlarmManager not fire on Xiaomi Note 8"
### What is your question?

Doctor -v:
    • Flutter version 3.4.0-19.0.pre.83 on channel master at d:\flutter
    • Upstream repository https://github.com/flutter/flutter.git
    • Framework revision d58bbd8986 (11 days ago), 2022-09-05 15:17:25 -0400
    • Engine revision 263cf42f8a
    • Dart version 2.19.0 (build 2.19.0-171.0.dev)
    • DevTools version 2.17.0
• No issues found!

    android_a

[2022-09-17 00:23] #659 closed

[2022-09-17 14:33] bakteribaik opened #1077 "[Question]: Alarm Manager Plus Not Working on Release App"
### What is your question?

so i made an app that **uses alarm manager to play audio at a set time**. but I just realized that my alarm manager **can't run in the release version of the app**, but in **debug mode the alarm manager runs fine**. is there a solution for this problem?

I have followed the instructions from the documentation for the installation

Plugin version : android_alarm_manager_

[2022-09-17 19:22] marwenbk commented on #1071
Yes, it doesn't that's why i have suggest that

[2022-09-17 19:44] miquelbeltran commented on #1071
Again, you need to understand that the plugin has nothing to do with how the device charges.

I'm going to close to this issue since this is unrelated to the plugin itself.

[2022-09-17 19:45] #1071 closed

[2022-09-17 19:46] miquelbeltran commented on #1077
2.0.7 was released days ago with a patch for that. Can you try it and report back?

[2022-09-17 19:48] miquelbeltran commented on #1076
My only guess is that the os is killing your app to save battery, since it works on other devices.

Can you disable battery saving (or some similar option) for your app on the settings?

[2022-09-17 19:51] miquelbeltran commented on #1075
I think there were a couple of PRs already upgrading ffi for win on other plugins in this repo.

I'll try to do this during this week, but if you can take a look at those changes and submit a similar pr, the patch should be easy to do.

[2022-09-18 03:54] bakteribaik commented on #1077
yes, I've tried with the latest version. but the result is still the same, if the alarm manager is not running in the release build. I think this problem came after I updated flutter to 3.3.0, because in the previous version, the alarm manager worked fine in the release build. I haven't tried downgrading the flutter version yet, I'll try and report the results later

[2022-09-18 05:37] Nolbir01 opened #1078 "[Bug]: warning: result of call to 'ensurePathMonitor()' is unused ensurePathMonitor()"
### Platform

MacOS Monterey 12.5.1

### Plugin

connectivity_plus_macos

### Version

1.2.4

### Flutter SDK

Flutter 3.3.2 • channel stable

### Steps to reproduce

1.show warning on build my macos project.
![WX20220918-133442@2x](https://user-images.githubusercontent.com/3325790/190887378-39f973b2-37aa-4402-a2fe-ac6438665049.png)

### Code Sample

_No response_

### Logs

[code]

### Flutter Do

[2022-09-18 08:05] bakteribaik commented on #1077
ok, so this is my update, so i tried downgrading flutter to v.3.0.5 and alarm manager runs fine in the release build.

so alarm manager is not running on flutter v.3.3.0, and running on v3.0.5. but i still haven't tried on the latest flutter version yet. maybe someone else will try it later because I will stick with v.3.0.5 first

[2022-09-18 09:46] xiaocode337317439 commented on #1072
Yes, I think we can provide a new shareURL method

[2022-09-18 15:18] rgvieira commented on #1076
Disabling battery saving the alarm fires makes it works fine.

- requestpermission Permission.ignoreBatteryOptimizations
- with @pragma('vm:entry-point') on callback function

The pluging documents says printHello  will run even if the main app ends. Just if the app is running.

Do you know a way to screduller the alarmManager even if the app is not runnig?

[2022-09-19 06:16] mohit-varma commented on #1067
Okay, thanks

[2022-09-19 06:23] miquelbeltran commented on #1072
A fix to share text as URL on iOS was published today in 4.2.0 :tada:

[2022-09-19 06:23] #1072 closed

[2022-09-19 06:25] himani2022 commented on #1034
getting same issue with share_plus: ^4.1.0 in Android

Unhandled Exception: MissingPluginException(No implementation found for method share on channel dev.fluttercommunity.plus/share)
#0      MethodChannel._invokeMethod (package:flutter/src/services/platform_channel.dart:165:7)
<asynchronous suspension>

Anyupdate on this?

[2022-09-19 06:29] miquelbeltran commented on #1076
The way it works on the Android OS is that, if the app is killed by the user (e.g. swipe up, force kill, etc.) the alarms will not fire: https://stackoverflow.com/questions/11658129/android-alarms-cancelled-when-application-is-killed

I personally never liked this functionality because it is very unreliable, so I haven't used it, ever.

[2022-09-19 06:35] miquelbeltran commented on #1034
@himani2022 likely a bug on your side, since the example in share_plus/samples works

[2022-09-19 06:42] miquelbeltran commented on #1075
Actually, ffi is already at 2.0.1 for package_info_plus_windows 3.0.0, and you are using an old version of device_info_plus. Upgrade to the latest device_info_plus.

[2022-09-19 06:50] himani2022 commented on #1034
@miquelbeltran
added share_plus: ^4.1.0 to yaml
and

import 'package:share_plus/share_plus.dart';
void shareToSocial() {
    Share.share('check out my website https://example.com');
  }

Did I missed something?

[2022-09-19 07:20] miquelbeltran commented on #1034
Probably yes, because if I create a new project with `flutter create`, add the dependency with `flutter pub add share_plus`, add the import and call to the same Share method inside `_incrementCounter()` it works.

[2022-09-19 10:27] baneyue commented on #1050
thank u now the issue is fixed

[2022-09-19 10:27] #1050 closed

[2022-09-19 10:53] LuisMiguelSS commented on #1030
Perhaps the other apps include more intents, which add up the amount of results shown in the intent, thus having different results. Intent choosers should always be the same under the same circunstamces.

[2022-09-19 12:33] miquelbeltran commented on #1058
Not from my side, I don't have the bandwidth

[2022-09-19 13:08] julianfalcionelli commented on #1060
I confirm that using a different View Controller for a custom Splash is causing this conflict, for now disable the custom Splash until a solution is found. @miquelbeltran I think we can close this issue.

[2022-09-19 13:09] #1060 closed

[2022-09-19 13:56] stuartmorgan commented on #1058
Adding @mhadaily who reviewed the initial PR.

[2022-09-19 14:12] mhadaily commented on #1058
@stuartmorgan I will investigate and fix this asap, will let you know.

[2022-09-20 00:27] #462 closed

[2022-09-20 10:29] VDHjokker commented on #581
Hi, i have the same problem with
Xcode 14
Flutter 3.3.2 • channel stable • https://github.com/flutter/flutter.git
Framework • revision e3c29ec00c (6 days ago) • 2022-09-14 08:46:55 -0500
Engine • revision a4ff2c53d8
Tools • Dart 2.18.1 • DevTools 2.15.0

And I resovled it by :
device_info_plus: 3.2.2

[2022-09-20 10:53] slightfoot commented on #1058
@stuartmorgan @TzviPM I'll pick this up as a reimplementation.

[2022-09-20 12:04] TzviPM commented on #1058
Thanks @slightfoot. I'll write up a quick description of what the API needs to do for you so that you can implement it to the spec. Can you confirm that you haven't come across the stack overflow implementation before such that your implementation may inadvertently be based on it?

[2022-09-20 12:49] slightfoot commented on #1058
Spec would be great. I can confirm I've never seen it before.

[2022-09-20 17:44] maitycyrus opened #1081 "[Bug]: Crash on sharing Sub-sub level url"
### Platform

iOS

### Plugin

share_plus

### Version

4.3.0

### Flutter SDK

3.0.5

### Steps to reproduce

Share.share("https://developer.apple.com");

### Code Sample

[code]

### Logs

[code]

### Flutter Doctor

[code]

[2022-09-20 18:07] maitycyrus commented on #1081
Seems to work if you append some text to the URL e.g.:

Share.share("bla bla https://developer.apple.com");

Strange...

[2022-09-20 19:37] miquelbeltran commented on #1081
Can you confirm if it works with 4.2.0?

[2022-09-21 00:28] #637 closed

[2022-09-21 03:55] MinseokKang003 commented on #1081
Same on me.
It also doesn't work on 4.2.0, but works on 4.1.0.

[2022-09-21 04:13] miquelbeltran commented on #1081
Thanks for confirming, yes, the patch in 4.2.0 broke it.

I will do a revert on 4.2.0.

@neokn letting you know this issue happens with the patch you submitted, I will revert it now, if you want to submit it again, please take into account this problem.

[2022-09-21 05:00] Mohdx opened #1083 "[Bug]: IOS 16 iPad 9th gen crash"
### Platform

IOS 16

### Plugin

share_plus

### Version

4.3.0

### Flutter SDK

3.3.2

### Steps to reproduce

I've tried the readme solution for iPad issue. but it's not working
After calling ``Share.share``, the UI is not frozen, still can scroll and everything... wait few seconds then crash

### Code Sample

[code]

### Logs

[code]

### Flutter Doctor

[code]

[2022-09-21 06:33] miquelbeltran commented on #1083
See #1082 and #1081, using 4.1.0 may help

[2022-09-21 06:34] miquelbeltran commented on #1081
This should be working again on 4.4.0.

Unfortunately, sharing pure urls may not work as before

[2022-09-21 06:36] miquelbeltran commented on #1083
There's also a new code on 4.3.0 that gives better error logs if the provided `sharePositionOrigin` is incorrect.

I'd recommend checking the example in share_plus/example and try to run on the same device, see if you run into the same issue.

[2022-09-21 11:40] mbyamukama opened #1084 "[Bug]: Connectivity result shows wifi when internet is disconnected from router but router is powered"
### Platform

Android 10

### Plugin

connectivity_plus

### Version

2.3.6

### Flutter SDK

2.10.15

### Steps to reproduce

Run App while Wifi is connected and internet is available.
App shows "ConnectivityResult.wifi"
Close App
Plug out the DSL or Optic Fibre or Ethernet or other source that connects your router to the ISP
Verify that internet connection is off using ping or wait for the "x" m

[2022-09-21 12:07] mbyamukama commented on #1084
I have read from [https://pub.dev/packages/connectivity#-readme-tab-](url) that there is no guarantee that there is an internet connection.

[2022-09-21 12:07] #1084 closed

[2022-09-21 21:42] usescrt opened #1085 "[Question]: androidID not found new version"
### What is your question?

I get old version build.androidId but new version not found. Please help?

[2022-09-22 01:00] #1083 closed

[2022-09-22 06:42] miquelbeltran commented on #1085
check the changelog

https://github.com/fluttercommunity/plus_plugins/blob/b9951b7e99d7ffc495a886def9154eef5cb1ab9d/packages/device_info_plus/device_info_plus/CHANGELOG.md#410

[2022-09-22 06:42] #1085 closed

[2022-09-22 13:09] jdebou opened #1086 "[Bug] Crash on startup on platform windows"
### Platform

Windows

### Plugin

battery_plus_windows

### Version

1.1.2

### Flutter SDK

3.3.0

### Steps to reproduce

The crash in battery_plus initially described in #734 is back since #881 was fixed. This is because the changes that fixed it were reverted.

I apologize about the connectivity_plus issues that my commit caused, but can we please get the changes to battery_plus back ?

### C

[2022-09-22 16:24] sebastianbuechler commented on #855
What do you mean by "load `version.json` manually"? How did you do that?

[2022-09-22 19:46] miquelbeltran commented on #1086
Hi! Is there a chance you can resubmit the PR?

Unfortunately I don't have enough Win dev knowledge to touch that part of the code.

[2022-09-23 05:37] bagoelz opened #1088 "[Bug]: canShareURLThroughMail returning NO. Reason: Failed to issue sandbox"
### Platform

IOS 12

### Plugin

share_plus

### Version

4.4.0

### Flutter SDK

### Steps to reproduce

running on ios and then star sharing, then come the error,
[ShareSheet] canShareURLThroughMail returning NO. Reason: Failed to issue sandbox extension for /var/mobile/Media/DCIM/101APPLE/IMG_1532.JPG with error 1.

### Code Sample

_No response_

### Logs

[code]

### Flutter Doctor

[code]

[2022-09-23 06:45] P-B1101 commented on #855
When you build your web app, there will be a file named `version.json` and you can call it as an API directly.
the URL will be something like
`you.domain.com/version.json`
it will return a JSON file that contains version name and version number.

but as I tested this on two servers, the first one returns an HTML page so you cant use it as a JSON response and encoded it.
on the other hand, the seco

[2022-09-23 07:59] miquelbeltran commented on #1088
Would it be possible to add a code sample to your bug report?

[2022-09-23 08:03] miquelbeltran commented on #1061
just to confirm @AnasSafi , are you getting crash reports with `2.0.7` but not with `2.0.6`?

[2022-09-23 10:11] bagoelz commented on #1088
Future<File?> getImageToLocal(url, msg) async {
    try {
      final Directory? dir;
      String imagePath;
      var imageId;
      if (GetPlatform.isIOS) {
        imageId = await ImageDownloader.downloadImage(
          selectedImageSLide.value.img!,
        );
      }
      if (imageId != null) {
        var path = await ImageDownloader.findPath(imageId);
        return File(path!);
      }

[2022-09-23 10:27] AnasSafi commented on #1061
@miquelbeltran  sorry for mistake, i face same problem with `workmanager: 0.5.0` not `android_alarm_manager_plus`.

[2022-09-24 04:15] saibotma commented on #637
Not stale, will provide a code sample soon.

[2022-09-24 12:31] SimonPeter1909 commented on #402
Did you find any solution? @mikrul85

[2022-09-25 06:48] LostInDarkMath commented on #678
*removing stale label again*

[2022-09-25 12:50] LostInDarkMath commented on #678
@miquelbeltran Yes, I have these values in my `info.plist` file. And there wasn't a time where those values don't exist.

[2022-09-25 13:02] miquelbeltran commented on #678
Inside your iOS project, there should be a `Generated.xcconfig` file that should contain something like this:

[code]

If you use a custom `xcconfig`, you need to make sure you are including the generated one as well.

Also, can you confirm it works for you when running the example inside the package_info_plus folder?

[2022-09-25 13:07] LostInDarkMath commented on #678
Yes, also the values in the `Generated.xcconfig` are correct.

Infortunately, I haven't a Mac currently.
@wieland-s Could you try this out please?

[2022-09-25 13:15] miquelbeltran commented on #678
The thing is that the plugin code is like two lines, so not a lot can go wrong there, :)

The plugin is returning two null values, and for some reason it is not reading correctly the version from the info.plist.

If I do the following:

1. create new flutter project with `flutter create package_example`
2. add plugin with `flutter pub add package_info_plus`
3. replace the `  void _incrementCounter

[2022-09-25 15:10] NuclleaR opened #1089 "[Bug?]: Can't sent extras to VLC"
### Platform

android 10

### Plugin

intent_plus

### Version

3.1.1+1

### Flutter SDK

3.3.2

### Steps to reproduce

According to VLC documentation player accepts extras `title`, `position` etc.
https://wiki.videolan.org/Android_Player_Intents/

 tried to put that extras but it doesn't work. Player starts with some default options instead of that I sent in the intent

### Code Sample

[code]

[2022-09-25 15:36] LostInDarkMath commented on #678
@miquelbeltran Can this be related to https://github.com/flutter/flutter/issues/20761#issuecomment-493434578?

Anyways, I'll try to reproduce this the next days.

[2022-09-25 16:46] miquelbeltran commented on #678
Would make a lot of sense! Perhaps a clean/build or even rebuilding the ios folder is a solution to this problem.

[2022-09-25 18:47] oleksabor commented on #1077
I've got the same problem - no alarms are fired with Flutter 3.3.2 and android_alarm_manager_plus: 2.0.7
Debug builds are working on emulator (API level 30 and 33) and on Pixel 4a (Android 13)

However the release build of the same source code does not run `oneShot` callback as it should despite `true` value is returned.

I downgraded Flutter version to 3.0.5 and alarm manager package 2.0.6.
The a

[2022-09-25 19:15] miquelbeltran commented on #1089
I think the issue is with the extra key.

You are sending `"android.intent.extra.title"` which gets translated to calling:

[code]

However, the example in https://wiki.videolan.org/Android_Player_Intents/ does:

[code]

So your keys shouldn't have the `android.intent.extra1 part, as far as I understand.

[2022-09-26 06:53] #614 closed

[2022-09-26 06:53] #925 closed

[2022-09-26 07:34] krim45 opened #1091 "[Question][share_plus]: Social Meta(st, sd, si) doesn't work on Android preview share sheet"
### What is your question?

I made Dynamic Link in Firebase and set Social Meta Data(st, sd, si) ex) preview title, image, description.

When I press share button, there is share sheet and preview title, image, description.

When I press share button and check preview sheet on IOS, it works well. I can see everything what I set on Firebase. But not working on Android.

What should I do?

[code]

[2022-09-26 07:59] NuclleaR commented on #1089
@miquelbeltran Thank you for help. I saw in example `android.intent.extra.something` and thought that the way how to use it. you solution works, thx.

[2022-09-26 07:59] #1089 closed

[2022-09-26 09:12] jdebou commented on #1086
@miquelbeltran done !

As for connectivity_plus, it would be quite simple to fix the compilation issue and implement the same keepalive behavior. While I do not use connectivity_plus myself, I believe that #404 could be caused by the same programming mistake that affected me on battery_plus, which is why I initually tried to implement the same fix.

I am quite surprised that the test suite doesn't

[2022-09-26 09:28] miquelbeltran commented on #1086
It is the idea. We have integration tests running just on Android but the other 5 platforms would be possible, depends on the tooling available on GitHub Actions tho. Any help on that matter is more than welcome!

[2022-09-26 11:18] stefaniamak commented on #917
Hi, I am trying to build IPA file, but build failes with output:
[code]
*I removed my project's name from the logs

[2022-09-26 11:21] tmaihoff commented on #930
still waiting for a response here

[2022-09-26 11:38] miquelbeltran commented on #930
I am not sure what you expect, the plugin is simply providing what Flutter puts on the info.plist. If Flutter is not copying over the `-alpha` part, it is not on the plugins fault.

You should report this to the flutter/flutter project.

[2022-09-26 11:53] tmaihoff commented on #930
Well, the expected behaviour is as I wrote in the original question.

That the issue originates from Flutter and not from this plugin is an important inside which I didn't have until now.

Then I agree obviously, but nevertheless it would be nice to have this problem fixed. Will report this on Flutter

[2022-09-26 11:53] #930 closed

[2022-09-26 13:57] adigladi commented on #941
Thank you @guyluz11!

[2022-09-26 13:57] #941 closed

[2022-09-26 14:38] miquelbeltran opened #1094 "[Request] Setup Windows CI process"
### Proposal

Setup the CI build process on Windows:

- Build example projects for Windows.
- Run integration_test on Windows.

Since this works very differently to how things are done in Linux/MacOS, help is welcome from anyone familiar working on that environment with GitHub Actions and Windows.

[2022-09-26 19:32] Zabadam commented on #781
Wow, I learned a lot just by reading [this excellent comment on StackOverflow](https://stackoverflow.com/a/15470571/14140759).

Snipped below:

my original solution

my proposed solution

...but it seems that

And this is the surprising bit. It would seem, according to these tests, that the Core Location `CLHeading` provides geomagnetic data that both filters out the device hard iron and also is m

[2022-09-27 08:31] haizadvnet opened #1097 "[Question]: [android_alarm_manager_plus] Does this plugin support to trigger method after reboot?"
### What is your question?

Hi,

Objective : To invoke a method whenever device reboot.

I have went through other sources on how to trigger method once the device has been reboot. I am looking for a simple solution by using plugin to achieve the objective. Then I came across android_alarm_manager_plus and I thought maybe I can use it.

Question : Does this plugin support to invoke a method after

[2022-09-27 08:38] miquelbeltran commented on #1097
The plugin does what the Android OS does, with the added problem that the alarm has to be able to call into Dart code once it triggers.

https://developer.android.com/reference/android/app/AlarmManager

I'd add, Alarms are also removed when the app is force-killed by the user.

I think this already answers your question :sweat_smile:

[2022-09-27 08:48] haizadvnet commented on #1097
Yup ,you have answered my question. Thank you sir 😄  Seems like I need to find another way to do it...

[2022-09-27 08:48] #1097 closed

[2022-09-27 13:15] miquelbeltran opened #1099 "[Request]: share_plus refactor and cleanup"
### Plugin

share_plus

### Use case

Currently, share_plus is a bit messy:

- 4 different methods that do somehow the same (`share`, `shareFiles`, `shareWithResult`, and `shareFilesWithResult`).
- Sharing URLs, something that iOS and macOS support, is currently broken.

### Proposal

The refactor should:

- Unify all four methods into a single one.
- Deprecate the old methods.
- Remove code dupli

[2022-09-27 13:17] #220 closed

[2022-09-27 13:20] miquelbeltran commented on #1099
Share files implementation for web to be done in another ticket: https://github.com/fluttercommunity/plus_plugins/issues/212

[2022-09-27 13:21] miquelbeltran commented on #660
Giving some priority to this feature on Hacktoberfest, let's see if we can make it happen

[2022-09-27 14:15] M-HARIS-97 commented on #534
is there any solution for this?

[2022-09-27 14:26] miquelbeltran commented on #534
The example uses `compileSdkVersion 31` and it builds.

[2022-09-27 14:32] M-HARIS-97 commented on #534
I try with 31 but it doesn't work

[2022-09-27 14:33] miquelbeltran commented on #534
Please create a new bug issue with all the required info

[2022-09-27 14:58] ueman commented on #1099
Since file io isn't supported on web via dart:io it could make sense to use https://pub.dev/packages/cross_file in order to pass files to the share plugin.

[2022-09-27 14:59] miquelbeltran commented on #1099
@ueman note that the web implementation is discussed in #212

[2022-09-27 19:33] umangkejriwal1122 opened #1101 "[Question]:"
### What is your question?

getting this error in Android

missingpluginexception (missingpluginexception(no implementation found for method getall on channel dev.fluttercommunity.plus/package_info))

[2022-09-27 19:52] miquelbeltran commented on #1101
You should provide more information, a code sample, steps to reproduce, etc. Either add then here or open a proper bug ticket.

[2022-09-27 20:34] miquelbeltran commented on #1091
Does that even work when sharing the firebase link in native code?

You could create a small native Android project and check it out.

[2022-09-27 20:37] miquelbeltran commented on #781
The PR with the magnet sensor changes has been merged and release. Let me know if this ticket can be closed.

[2022-09-28 04:15] umangkejriwal1122 commented on #1101
dependencies:
  package_info_plus: ^1.4.3+1

getting error while running the android app with the below code

missingpluginexception (missingpluginexception(no implementation found for method getall on channel dev.fluttercommunity.plus/package_info)

import 'package:flutter/material.dart';
import 'package:flutter/services.dart';
import 'package:package_info_plus/package_info_plus.dart';

class MyD

[2022-09-28 07:43] vbuberen commented on #1041
Network_info_plus on Android indeed uses deprecated API for old devices, but it is not a bug or issue, thus, closing it.

[2022-09-28 07:43] #1041 closed

[2022-09-28 07:54] vbuberen commented on #919
Not stale. Something to work on.

[2022-09-28 09:32] miquelbeltran opened #1103 "[Request]: android_alarm_manager_plus Integration test"
### Plugin

android_alarm_manager_plus

### Use case

Current test implementation in packages/android_alarm_manager_plus/example/integration_test/android_alarm_manager_plus_test.dart does nothing.

### Proposal

Write working integration_test for android_alarm_manager_plus and enable the CI job to run it on an Android emulator

[2022-09-28 09:46] miquelbeltran opened #1104 "[Request]: Integration tests for Linux"
### Plugin

all

### Use case

At the moment integration_test run on Android and iOS emulator/simulator but not on desktop

### Proposal

Enable the integration_test to run and pass on a Linux "ubuntu-latest" machine.

Since these machines images are "headless", i.e. there's no UI, not sure if Flutter integration tests can run on them, so this needs a bit of R&D.

Also, the tests will need to be a

[2022-09-28 09:48] miquelbeltran opened #1105 "[Request]: Integration tests for macOs"
### Plugin

all

### Use case

At the moment integration_test run on Android and iOS emulator/simulator but not on desktop

### Proposal

Enable the integration_test to run and pass on a macOs "macos-latest" machine.

Also, the tests will need to be adapted to macOs.

[2022-09-28 12:40] miquelbeltran commented on #1101
So I created a new project, added the plugin and copied over your code (which btw is incomplete) and the plugin loads and runs.

Maybe you need a `flutter pub upgrade`? a clean?

[2022-09-28 12:55] umangkejriwal1122 commented on #1101
I haven't sent you the complete project... without your plugin code..how my app is running fine without any error...When I add this line and run..then only I get the exception mentioned earlier

PackageInfo packageInfo = await PackageInfo.fromPlatform();

[2022-09-28 13:02] miquelbeltran commented on #1101
I don't know, the plugin compiles and runs correctly for me.

Maybe someone can help you debug this issue, but these may help:

- Make sure you are up-to-date with dependencies by running `flutter pub upgrade`.
- Make sure you have downloaded all necessary dependencies `flutter pub get`
- Make sure you are building on a clean state with `flutter clean`
- Try to recreate the `android` folder in you

[2022-09-28 13:04] ThexXTURBOXx commented on #1054
I have a Xiaomi device and would be happy to test this in the beginning of October (and maybe even fix it as part of Hacktoberfest). I will let you know as soon as possible if I can reproduce this error on my device.

[2022-09-28 13:14] ThexXTURBOXx commented on #1099
I would happily take this issue on as part of Hacktoberfest, if possible and still free :)

[2022-09-28 14:01] umangkejriwal1122 commented on #1101
Thanks after doing this it worked !!

flutter clean

[2022-09-28 15:31] miquelbeltran commented on #389
Thanks @fabiancrx I totally missed the reply, I will keep this open until I add this info to the README because we had similar reports before

[2022-09-28 20:08] miquelbeltran commented on #1006
Well, the "service" you are trying to access on the alarm callback is not going to be available, so this code will fail.

You can try to initialize the service within the callback function.

[2022-09-28 20:09] miquelbeltran commented on #976
That's just how Alarm Manager on Android works. Check the updated read me file for the plug-in for more info.

[2022-09-28 20:09] #976 closed

[2022-09-28 20:11] miquelbeltran commented on #967
This would probably make more sense as separated plug-in that uses platform APIs to send emails. E.g. with an Android Intent.

[2022-09-29 09:02] hamdi28 commented on #1063
Issue still remaining even after your updated to V4.2.0

[2022-09-29 13:27] mkobuolys commented on #1053
I would love to contribute to this 💙

[2022-09-29 14:59] abd99 commented on #1105
I would like to work on this issue for Hacktoberfest.

[2022-09-29 15:08] miquelbeltran opened #1108 "🎁 Hacktoberfest 2022 Announcement 🎁"
Hacktoberfest is back this year with more prizes than ever!

~~Visit https://invertase.io/community/hacktoberfest for more information on how to parcitipate.~~

Update: You can see your contributions here: https://archive.invertase.io/community/hacktoberfest

[2022-09-29 19:26] ThexXTURBOXx commented on #212
I would be willing to give this one a try. I will be home on the 5th October and will try to find a solution to this then, if possible :)

[2022-09-29 19:53] #969 closed

[2022-09-29 21:09] Hadi-Alsinan commented on #1103
Hello, do I need to assign myself to the issue or do I start working on it right away?

[2022-09-30 03:46] miquelbeltran commented on #1103
There's no ticket "reservation". Whoever gets the PR approved gets it.

[2022-09-30 03:47] miquelbeltran commented on #1105
There's no ticket "reservation". Whoever gets the PR approved gets it.

[2022-09-30 03:47] miquelbeltran commented on #1099
There's no ticket "reservation". Whoever gets the PR approved gets it.

[2022-09-30 03:52] miquelbeltran commented on #1108
Note: There's no ticket "reservation". Whoever gets the PR approved, gets the prize.

Please try to be fair, and if you see someone working on something (e.g. PR in review) work on something else meanwhile.

[2022-09-30 04:46] Hirdey-1999 commented on #1094
I Am Ready To Work With this issue but i need help for this.
Please Can you explain the issue

[2022-09-30 04:55] miquelbeltran commented on #1094
What question do you have?

[2022-09-30 04:58] Hirdey-1999 commented on #1094
How To Start Working on this issue.

[2022-09-30 05:00] miquelbeltran commented on #1075
Closing because using outdated version

[2022-09-30 05:00] #1075 closed

[2022-09-30 05:02] Mmisiek commented on #1075
Thanks

[2022-09-30 05:03] miquelbeltran commented on #1094
I don't understand what you mean. Either ask specific questions or submit a PR with the work.

[2022-09-30 05:48] abd99 commented on #1105
Okay. Thanks for clarifying that, @miquelbeltran.

[2022-09-30 07:18] ThexXTURBOXx commented on #1099
Oh okay, I remembered last year when it worked like this. Sorry about that then!

[2022-09-30 07:26] vinay416 opened #1112 "[Bug]: Connection status false even connected to Internet"
### Platform

Android 11/12/13, iOS 14/15/16

### Plugin

Connectivity_plus

### Version

2.3.7

### Flutter SDK

2.10.1

### Steps to reproduce

Leave the app in the background or lock the screen after a few hours it gives connectivity status false.
Sometimes even app runs in foreground it gives a connectivity status false.

### Code Sample

_No response_

### Logs

[code]

### Flutter Doctor

[c

[2022-09-30 11:42] hamdi28 commented on #1063
@vbuberen Instagram share error Still remaining

[2022-09-30 11:44] miquelbeltran commented on #1063
@hamdi28 do not spam, this is a formal warning

[2022-09-30 12:14] ristiisa commented on #198
@mhadaily any update on this?

[2022-09-30 13:13] davoutuk opened #1115 "[Question]: does the stream only emit values if the ConnectionState changes?"
### What is your question?

This might be a bug in my code, but I'm getting a situation where the Connectivity_plus stream is emitting the same ConnectivityResult value twice in a row.  Is that expected?

If so, how can I fix this so that the stream only emits an event if the value is different to the previously emitted value?

### Checklist before submitting a question

- [X] I Google'd a solutio

[2022-09-30 15:13] vbuberen opened #1117 "[Bug]: Admonitions don't appear on a website anymore"
After recent fix for website deployment and dependencies updates admonitions like `:::note` stopped working and don't appear on Plus plugins website anymore.

Here is a screenshot of how it was in old version of website:
<img width="1322" alt="Screenshot 2022-09-30 at 18 02 57" src="https://user-images.githubusercontent.com/13467769/193300822-085a6558-4082-4707-9ccb-c279ab57ec8e.png">

And here is

[2022-09-30 15:57] #830 closed

[2022-09-30 16:35] Anas35 opened #1119 "[Bug] [Battery_Plus]: PlatformException - Parameter specified as non-null is null"
### Platform

Android 11

### Plugin

Battery_plus

### Version

2.2.0

### Flutter SDK

3.3.3

### Steps to reproduce

1. Clone battery_plus
2. Run Example code

Error logs:

Failed to open event stream
E/EventChannel#dev.fluttercommunity.plus/charging( 5479): java.lang.NullPointerException: Parameter specified as non-null is null: method kotlin.jvm.internal.Intrinsics.checkNotNullParameter, para

[2022-09-30 16:42] Anas35 commented on #1119
Based on this [post](https://stackoverflow.com/a/68204845/13701072), https://github.com/fluttercommunity/plus_plugins/blob/e87271b236461a71ab5c2a12c9e69409036895cf/packages/battery_plus/battery_plus/android/src/main/kotlin/dev/fluttercommunity/plus/battery/BatteryPlusPlugin.kt#L79 expect to be not-null.

[2022-09-30 16:47] ThexXTURBOXx commented on #1099
I have developed a strategy on how to refactor the plugins. However, I still have two questions about this, because I am not sure which solution is desirable:
 - What should be the name of the unified method? Normally it would be called `share`, but this method already exists (as it is not deleted, but deprecated). I thought of `shareObject` or similar.
 - Should the platform interface and the pla

[2022-09-30 17:09] krshkodes commented on #1094
Hi @miquelbeltran can I work on this?

[2022-09-30 17:30] ueman commented on #1099
You could create a `ShareV2` class which would allow you to call the method just `share`. That would also make deprecation a bit easier, I guess.

[2022-09-30 17:31] aakash-pamnani commented on #1070
url_launcher is in other platforms pubspec.yaml dependency, How to remove, Can any one guide me.

[2022-09-30 18:35] miquelbeltran commented on #944
I'd say the way to have an integration test is to create a specific emulator running a lower Android version, but IMO it won't be necessary.

[2022-09-30 18:43] miquelbeltran commented on #1115
AFAIK, it depends on the platform.

You can filter out events in Streams using Dart's `distinct`: https://api.flutter.dev/flutter/dart-async/Stream/distinct.html

[2022-09-30 18:47] miquelbeltran commented on #1099
New class `ShareV2` or new method `shareV2` are both valid options indeed. Adding `@Deprecated` to the old methods then.

They will have to change as well, but we need to keep the federated plugin architecture, if that's what you mean.

(personally, I'd like to get rid of the federated plugin architecture, but that's out of scope for this ticket)

[2022-09-30 19:08] loud-at-heart commented on #1119
hi @miquelbeltran can I take up this issue

[2022-09-30 19:17] miquelbeltran commented on #1094
See the pinned issue for more info: https://github.com/fluttercommunity/plus_plugins/issues/1108

Anyone can work on the issues, and first quality PR approved gets it

[2022-09-30 19:20] miquelbeltran commented on #1119
Of course, see the pinned issue for more info: https://github.com/fluttercommunity/plus_plugins/issues/1108

[2022-09-30 19:35] ThexXTURBOXx commented on #1099
Alright, then I have the right picture on what needs to be done. Thank you very much for the detailed clarifications!

[2022-10-01 04:17] NiranjanMeghwal commented on #1117
Hello! I would like to try to work on this issue, could you please assign this to me.

[2022-10-01 04:38] miquelbeltran commented on #1117
There's no ticket assignment, just submit the PR when ready.

[2022-10-01 05:23] #937 closed

[2022-10-01 06:11] miquelbeltran commented on #771
Cannot reproduce

[2022-10-01 06:11] #771 closed

[2022-10-01 06:15] miquelbeltran commented on #1119
Fixed in #1120

[2022-10-01 06:15] #1119 closed

[2022-10-01 06:16] miquelbeltran commented on #944
Fixed in https://github.com/fluttercommunity/plus_plugins/pull/1120

[2022-10-01 06:16] #944 closed

[2022-10-01 07:51] Goddchen commented on #989
Can't reproduce, is this still valid?

[2022-10-01 11:18] aakash-pamnani commented on #1070
url_launcher is in dependency of share_plus_linux and share_plus_web how can we stop it from being importing in android build, Can anybody guid me?

[2022-10-01 14:53] miquelbeltran commented on #989
According to the changelog, this was done in 3.0.0, so marking it as invalid

[2022-10-01 14:53] #989 closed

[2022-10-01 21:14] vbuberen commented on #1108
We would also appreciate if you don't open draft PRs, but work on your own fork till the code is ready for review. Having multiple drafts introduces a lot of noise and distraction for maintainers and intensively uses Github Actions runners, so PRs that are ready for review can't run required check.

[2022-10-02 00:57] Yczar commented on #949
Fixed this issue here #1132

[2022-10-02 06:06] AsheKR opened #1134 "[Request]: Changes are required to allow Package Info Plus to work with browser extensions as well"
### Plugin

package_info_plus_web

### Use case

https://github.com/fluttercommunity/plus_plugins/blob/e7391f8f8224c020ff60bb59524788bc1d5280ed/packages/package_info_plus/package_info_plus_web/lib/package_info_plus_web.dart#L24-L31

Only http and https are allowed because `baseUri.origin` is used.

`_SimpleUri.origin` is supposed to cause an error when a scheme other than http and https comes in.

[2022-10-02 07:08] miquelbeltran commented on #1094
fixed in https://github.com/fluttercommunity/plus_plugins/pull/1133

[2022-10-02 07:08] #1094 closed

[2022-10-02 10:27] vbuberen commented on #706
I think we need to take a look at it again as I still haven't migrated the `device_info_plus` to Kotlin.

[2022-10-02 10:44] vbuberen commented on #967
I agree here that it should be a separate plugin, not part of Plus_plugins. I needed to do something similar to the original request a year ago and can say that it is quite painful, considering that not all email clients follow the specs of provided data, so for some email apps you still end up with just an empty compose view opened or just on the main screen of such email client. In the end clien

[2022-10-02 10:44] #967 closed

[2022-10-02 10:55] Odinachi commented on #804
@mhadaily  I'll like to work on this

[2022-10-02 12:11] #1105 closed

[2022-10-02 14:13] vbuberen commented on #919
This functionality was broken due to this PR: https://github.com/fluttercommunity/plus_plugins/issues/245

[2022-10-02 14:42] ueman commented on #1064
I believe this issue can be closed, since this was fixed with Flutter 3.3:

- https://github.com/flutter/flutter/issues/73652
- https://github.com/flutter/flutter/pull/106145

[2022-10-02 15:11] ueman commented on #1062
Flutter itself has an API for the Clipboard, see https://api.flutter.dev/flutter/services/Clipboard-class.html

[2022-10-02 15:14] iapicca commented on #949
@mhadaily I'm not very happy of seeing my PR
on which I spent several hours and being on hold and without / without an answer for 2 months
being superseded for "hacktoberfest" sake

[2022-10-02 15:26] ueman commented on #1030
I guess this is because `share_plus` doesn't make use of [`Rich content previews`](https://developer.android.com/training/sharing/send#adding-rich-content-previews) on Android.

[2022-10-02 15:29] lkmandy commented on #1073
Hi @mhadaily I'll like to work on this issue

[2022-10-02 15:35] ueman commented on #1099
I would like to see the new 'share' method to take platform specific configuration objects.
Something like:

[code]

The `IosShareOptions` could then be used to configure the origin for the share dialog on iPadOS for example. The `AndroidShareOptions` can be used to enable the [`Rich content previews`](https://developer.android.com/training/sharing/send#adding-rich-content-previews) of Android's s

[2022-10-02 15:49] iapicca commented on #949
@miquelbeltran could you please take a look at my [question](https://github.com/fluttercommunity/plus_plugins/pull/950#issuecomment-1193315008)
I see that there is a new PR, but I'm still waiting for a feedback

[2022-10-02 15:55] iapicca commented on #949
no problem :)

what about fixing the crash that occurs using the current implementation of "toMap" using `jsonEncode()`
(caused by mapping an enum not as string)

in the question I asked I proposed 2 possible approaches

[2022-10-02 15:56] miquelbeltran commented on #949
Sorry @iapicca for not following up.

I don't think this feature has a place in the plugin, and I'd rather just deprecate and eventually remove the toMap method. Creating JSON mappings of the plugin classes should be something developers do on their own app code and not part of the plugin code.

I know this is not what you wanted to hear, but I won't close the issue and I'd let other maintainers t

[2022-10-02 16:00] iapicca commented on #949
I can do that

[2022-10-02 16:12] #1064 closed

[2022-10-02 16:21] iapicca opened #1139 "[device_info_plus] deprecate "toMap" method"
### Platform

all

### Plugin

device_info_plus

### Version

4.1.2

### Flutter SDK

3.3.3

### Steps to reproduce

the current implementation of `toMap` output an invalid json
see discussion in this [issue](https://github.com/fluttercommunity/plus_plugins/issues/949#issue-1297230725) and [PR](https://github.com/fluttercommunity/plus_plugins/pull/950)
a suggested solution is to deprecate "toMap"

[2022-10-02 16:21] vbuberen commented on #1058
@TzviPM Did you have time to writ a description of the API you were talking about?

[2022-10-02 16:24] #919 closed

[2022-10-02 16:33] vbuberen commented on #1117
Completed via #1128

[2022-10-02 16:33] #1117 closed

[2022-10-02 17:24] miquelbeltran commented on #1139
Thanks, I am in favor of doing this, but I'd like more input from the community and other maintainers before moving forward.

`toMap` doesn't seem to be used internally, but rather as complement to `fromMap`, which is used to parse the data passed from native code.

There are some places where the docs are misleading, e.g. in `BaseDeviceInfo` the comments say:

[code]

Which is not correct because

[2022-10-02 17:58] UtkarshDeoli commented on #999
hey, i am a biggner and i would love to work on this but could you first tell me if i just need to implement a plugin (that i can do)but if intermediate or higher knowledge is required please guide me.

[2022-10-02 19:01] iamakhileshmishra commented on #1112
@miquelbeltran can you please assign this to me

[2022-10-02 19:02] iamakhileshmishra commented on #1015
@mhadaily please assign this to me so that i can work upon it

[2022-10-02 19:48] miquelbeltran commented on #1112
See https://github.com/fluttercommunity/plus_plugins/issues/1108

We don't do ticket assignment/reservation.

[2022-10-02 19:56] miquelbeltran opened #1145 "[Request]: Cancel CI jobs when new commit pushed to PR"
### Plugin

all (CI)

### Use case

This repo contains long-running jobs that are triggered each time a commit is pushed.

When submitting a PR, each time the code is pushed the jobs will start, but the previous won't be canceled, causing multiple jobs to "use" all available virtual machines and slowing development process.

### Proposal

Configure CI jobs, so they get cancelled when a new commit

[2022-10-02 20:05] miquelbeltran commented on #1145
I think that adding

[code]

on all yaml files would work.

`github.head_ref || github.ref_name` will use the branch name as unique group id, so we can have multiple PRs on different banches running

[2022-10-03 00:22] shaynekellyii commented on #612
Just to clarify, I believe that iOS's `NWPathMonitor` only provides an `isExpensive` field, but any Cellular or Mobile Hotspot network is considered expensive. It's not like on Android devices where the user can specifically mark their connection as metered and set a data usage limit.

https://developer.apple.com/documentation/network/nwpath/2998722-isexpensive

[2022-10-03 04:25] Rackor opened #1149 "[Bug]: Unreliability of plugin callback execution"
### Platform

8+

### Plugin

android_alarm_manager_plus

### Version

2.0.7+1

### Flutter SDK

3.3.2

### Steps to reproduce

Calling `oneShotAt` with `alarmClock: true`.

The context is a reminder like application, where reminders (possible recurrent) must trigger at specific times.

I sadly encountered irregularities in the trigger times and often the callback does not get executed at all, bre

[2022-10-03 04:35] AsheKR opened #1150 "[Request]: connectivity_plus does not support chrome extension"
### Plugin

connectivity_plus

### Use case

I don't know for some reason, but Chrome Extension doesn't work.

[code]

### Proposal

I want it to work normally with Chrome extension

[2022-10-03 08:23] miquelbeltran commented on #1078
In theory, the warning for:

[code]

is still happening, so keeping the issue open.

[2022-10-03 09:01] Ivan-Goncharov opened #1152 "[Question]: I can't share an SVG file on iOS."
### What is your question?

При попытке поделиться SVG файлом на IOS, отрисовывается пустой экран. На Android я могу поделиться SVG file.

### System info
- IOS 15.6.1
- Plugin version: 4.4.0

### Steps to Reproduce
Call the shareFilesWithResult or shareFiles methods and pass the path to the file system with the SVG file.

### Result
![IMG_0230](https://user-images.githubusercontent.com/69008262/1

[2022-10-03 09:29] ThexXTURBOXx commented on #212
Status update:
After careful consideration, I decided to implement the solution @ueman suggested:

This will add new functions on all platforms to take `XFile` objects instead of paths. The old functions will be deprecated with a hint to call the new ones.

[2022-10-03 09:39] miquelbeltran commented on #1152
Looks like iOS is not showing any apps that accept SVGs. I guess that you could provide the mime types, but I have no idea if that would help or not.

[2022-10-03 09:41] ueman commented on #212
Just as a heads up, I was working on it in https://github.com/fluttercommunity/plus_plugins/pull/318 but never really had the time to finish it up. I guess it's already mostly done. Maybe it's of help for whoever starts working on this issue.

[2022-10-03 09:43] ThexXTURBOXx commented on #212
I should have looked earlier for work on this :)
After comparison, I will see which ideas I can implement into my solution as well, thanks for sharing! :)

[2022-10-03 12:28] bhaveshraj336 commented on #212
@ThexXTURBOXx I can help you in these if you want?

[2022-10-03 12:30] ThexXTURBOXx commented on #212
My implementation is nearly finished. There is only one issue that needs to be fixed, so I think I am okay for now, but thanks :)

[2022-10-03 13:30] cedvdb commented on #413
I'm all for openness and all, but there is the sad reality that they are one of the biggest player and not having that functionality is a big loss for some, or just not meeting requirements to others. If everyone took the stand to not use their share sdk I'm sure they'd bend but I don't think that's going to happen anytime soon.

[2022-10-03 17:35] piedcipher commented on #1078
iOS implementation doesn't have null-coalescing operator.

### iOS

![Screenshot at 2022-10-03 23-03-58](https://user-images.githubusercontent.com/13456345/193642093-7c8056a8-7666-433a-af45-ecc7b79d4802.png)

### macOS

![Screenshot at 2022-10-03 23-04-05](https://user-images.githubusercontent.com/13456345/193642146-6eefce32-fb7d-4646-aee5-efca5092d474.png)

[2022-10-04 00:34] #404 closed

[2022-10-04 06:52] #273 closed

[2022-10-04 06:55] vbuberen commented on #1145
I missed this issue initially, but why not use the out of the box ready solution?
https://github.com/styfle/cancel-workflow-action

I use it on some other projects and it works fine.

[2022-10-04 07:01] #1078 closed

[2022-10-04 08:00] miquelbeltran commented on #1145
could have been an option, yes, let's keep it in mind if the `concurrency` setting does not behave as expected.

I forgot to close this, as it has been solved in the #1147 PR

[2022-10-04 08:00] #1145 closed

[2022-10-04 15:18] daniel-shuy commented on #917
Created a PR (#1157) that will prevent the deprecation warning on iOS 13+

[2022-10-04 17:50] alexmercerind commented on #999
I made an implementation, uses same UWP API through Com/WRL. See: #1158

https://user-images.githubusercontent.com/28951144/193889028-b15f6c3c-9fc1-442c-b472-39b848fcf0ae.mp4

[2022-10-05 06:17] #212 closed

[2022-10-05 06:22] #917 closed

[2022-10-05 07:49] #1023 closed

[2022-10-05 08:48] #1134 closed

[2022-10-05 08:58] HasanShaddadKangaroo opened #1160 "[Bug]: Error: 'Rect' isn't a type after recent update"
### Platform

Android - iOS- Web

### Plugin

share_plus

### Version

4.5.0

### Flutter SDK

3.0.5

### Steps to reproduce

Update share_plus library to 4.5.0
The library was working perfectly till the 3.1.0 update for share_plus_platform_interface was released and now it causes build errors.

### Code Sample

_No response_

### Logs

[code]

### Flutter Doctor

[code]

### Checklist before subm

[2022-10-05 09:00] timekone opened #1161 "[Bug]: share_plus_platform_interface 3.1.0 is incompatible with Flutter < 3.3.0"
### Platform

Flutter 3.0.5

### Plugin

share_plus_platform_interface

### Version

3.1.0

### Flutter SDK

3.0.5

### Steps to reproduce

1. Install Flutter 3.0.5
2. Add `share_plus: 4.5.0`, `share_plus_platform_interface: 3.1.0` to `pubspec.yaml`
3. Execute `flutter run` or `flutter build`
4. Build fail

### Code Sample

[code]

### Logs

[code]
[code]

### Checklist before submitting a bug

-

[2022-10-05 09:04] DanOxlade commented on #1160
We have the same issue as of this morning.

Explicitly adding 'share_plus_platform_interface: 3.0.3' into the pubspec is a workaround.

[2022-10-05 09:14] timekone commented on #1161
It looks like the bug was caused by the 7b6eae2 commit.
In the newest Flutter version, `dart:ui` import is exposed in `import 'package:flutter/services.dart';`.
Should we set minimum flutter version requirement to 3.3.0?

[2022-10-05 09:20] Mik77o commented on #1161
I have same problem

[2022-10-05 09:25] timekone commented on #1161
https://github.com/flutter/flutter/pull/106316

[2022-10-05 09:39] tomk9 opened #1162 "[Bug]: device_info_plus: ^ 5.0.0 conflicts with device_info_plus_web ^ 3.0.0 for version device_info_plus_plus_interface"
### Platform

Android, iOS

### Plugin

device_info_plus_web

### Version

3.0.0

### Flutter SDK

3.3.3

### Steps to reproduce

`pubspec.yaml`:
[code]
[code]

### Code Sample

_No response_

### Logs

[code]

### Flutter Doctor

[code]

### Checklist before submitting a bug

- [X] I Google'd a solution and I couldn't find it
- [X] I searched on StackOverflow for a solution and I couldn't find it

[2022-10-05 09:48] HasanShaddadKangaroo commented on #1160
And good to mention if the share_plus library is used downgrade it to 4.4.0 to avoid build errors like missing shareXFiles in the 3.0.3 version of share_plus_platform_interface.

[2022-10-05 09:57] flenairMacif commented on #1161
same problem using flutter 3.0.5,   share_plus: 4.0.10

share_plus_platform_interface-3.1.0/lib/method_channel/method_channel_share.dart:140:5: Error: 'Rect' isn't a type.
        Rect? sharePositionOrigin,

[2022-10-05 10:39] timekone commented on #1161
Looks like this is a duplicate of #1160

[2022-10-05 10:44] miquelbeltran commented on #1162
Looks like https://github.com/fluttercommunity/plus_plugins/pull/1156 did not have all dependencies correctly sorted.

Please use 4.1.3 meanwhile.

[2022-10-05 10:51] miquelbeltran commented on #1162
Should work now for 5.0.1

[2022-10-05 10:53] #1162 closed

[2022-10-05 10:56] miquelbeltran commented on #1160
Closing this in favor of #1161 as it is duplicated but contains more info

[2022-10-05 10:57] miquelbeltran commented on #1161
What a mess.

I will revert the feature, and re-release under a major version bump with a requirement for Flutter 3.3.0

[2022-10-05 10:59] alexmercerind commented on #1162
Thanks a lot for taking care of it. 🙏
Federated plugin versioning is a challenge.

[2022-10-05 11:07] miquelbeltran commented on #1161
To reproduce:

1. Switch to flutter 3.0.5
2. Create a new flutter project `flutter create ...`
3. Add share_plus `flutter pub add share_plus`
4. Run the project `flutter run`

I guess a fix can be release by replacing Rect with something else which is compatible (what was before)

[2022-10-05 11:11] miquelbeltran commented on #1161
Seems that removing `dart:ui` here caused the issue: https://github.com/fluttercommunity/plus_plugins/pull/1153/files#diff-bf35c0a6ad993399c6296e22f82b441af157daa7353adeb5a1947b65da5cab59L2

[2022-10-05 11:16] alvarisi commented on #1161
Got the same issue and the workaround for me is adding
[code]

[2022-10-05 11:18] miquelbeltran commented on #1161
Should be fixed in 3.1.1, please do a flutter pub upgrade to get the latest platform interface code

[2022-10-05 11:28] miquelbeltran commented on #1161
@ThexXTURBOXx actually it was not your fault, the issue is that Flutter Analyze reported the import as unnecessary, so we removed it here: https://github.com/fluttercommunity/plus_plugins/commit/7b6eae29efe4abc0a65791b0a7a775605da7d63e#diff-51e7363271da2f1416fdf9b80d2580f3d03d65b377fd29bf283066d80d225beeL6

[2022-10-05 11:35] d-loose opened #1166 "[Bug]: on Linux an active VPN connection yields ConnectivityResult.mobile"
### Platform

Ubuntu 22.04

### Plugin

connectivity_plus

### Version

2.3.8

### Flutter SDK

3.3.3

### Steps to reproduce

1. Connect to a VPN
2. Run the `connectivity_plus` example app
3. It shows "Connection Status: `ConnectivityResult.mobile`"

The problem is due to the fact that `ConnectivityResult.mobile` is returned by default if the `NetworkManagerClient`'s `primaryConnectionType` is no

[2022-10-05 11:38] #1161 closed

[2022-10-05 11:43] miquelbeltran commented on #1166
I guess defaulting to `ConnectivityResult.mobile` made sense back in the days when only Android and iOS were an option :)

It would make sense to add a new `vpn` connection type.

[2022-10-05 15:29] miquelbeltran commented on #1149
There's already a plugin for WorkManager by the flutter community: https://pub.dev/packages/workmanager We don't plan to migrate this plugin to WorkManager, the idea is to expose the Android Alarm Manager functionality to Flutter (somehow), if WorkManager works better for your usecase, I highly suggest you to use the other plugin.

As far as I know, there have been changes in Flutter 3 that lead t

[2022-10-05 15:32] #1104 closed

[2022-10-05 17:20] Purus opened #1167 "[Bug]:"
### Platform

Android 10

### Plugin

share_plus

### Version

4.5.0

### Flutter SDK

3.3.4

### Steps to reproduce

Use latest share_plus plugin.

### Code Sample

_No response_

### Logs

[code]
[code]
[code]

[2022-10-05 18:22] miquelbeltran commented on #1167
Needs more info, I cannot reproduce this issue.

1. Create a new flutter project
2. Add package: `flutter pub add share_plus`
3. run on Android emulator

[2022-10-05 18:33] vsomayaji commented on #1167
This needs to be bumped to `^3.1.1`:

https://github.com/fluttercommunity/plus_plugins/blob/a1514e35429bb76e10b494730bc898e76cb5d518/packages/share_plus/share_plus/pubspec.yaml#L31

In the meantime, I resolved this by deleting the `share_plus_platform_interface` section from `pubspec.lock` and running `flutter pub get`.

[2022-10-05 18:43] Purus commented on #1167
This worked for me proceeding with the application build.

[2022-10-05 18:49] miquelbeltran commented on #1167
Just in case that's causing problems, I have released 4.5.1 with all the internal dependencies up to date.

[2022-10-05 18:50] #1167 closed

[2022-10-05 18:55] Purus commented on #1167
[code]

Not sure if this relevant when I try to use override the version in my project.

[code]

[2022-10-05 18:58] miquelbeltran commented on #1167
ah I mixed web and windows, this federated plugin architecture is a nightmare to maintain

[2022-10-05 19:00] miquelbeltran commented on #1167
4.5.2 published

[2022-10-05 19:51] TzviPM commented on #1058
Sorry, I've been away from my usual work for a couple weeks. I'll be back tomorrow and have in mind to write this up and send it. Thanks again @slightfoot for offering to help and thanks @vbuberen for checking in.

[2022-10-06 03:25] adicoder95 commented on #660
I am working on this issue , as Hacktoberfest participant

[2022-10-06 16:15] TzviPM commented on #1058
As it turns out, I'm way over my head here. I have practically no experience with ios development nor Objective C.

I'm wondering if this is the wrong approach, though. In particular, I'm quite suspicious that the swift code used in our macos code was at one point also taken from the same stackoverflow question or vice versa (it looks almost identical).

Both of these functions essentially loop th

[2022-10-06 21:16] bhattabhi013 commented on #1061
Can you please tell me what I need to add in documentation?

[2022-10-07 00:34] #409 closed

[2022-10-07 03:55] VoidCupboard commented on #948
Can I work on this issue?

[2022-10-07 05:03] VoidCupboard commented on #948
Hi! Can I work on this issue?

[2022-10-07 05:47] fengkaijia commented on #563
That really does not sound like a good idea since half of the project relying on this library will need to freeze on a legacy version. Maybe remove Reachability.swift at all, similar to what this project did: https://github.com/snowplow/snowplow-objc-tracker/issues/437#issuecomment-565455505

[2022-10-07 07:00] naamapps opened #1175 "[Bug]: device_info_plus_windows ^5.1.0 doesn't exist"
### Platform

Android 12

### Plugin

device_info_plus

### Version

5.0.2

### Flutter SDK

3.3.3

### Steps to reproduce

Depend on device_info_plus >=5.0.2.

### Code Sample

_No response_

### Logs

[code]

### Flutter Doctor

[code]

### Checklist before submitting a bug

- [X] I Google'd a solution and I couldn't find it
- [X] I searched on StackOverflow for a solution and I couldn't find it

[2022-10-07 07:05] miquelbeltran commented on #1175
Fixed in 5.0.3, sorry for the inconvenience.

[2022-10-07 07:12] naamapps commented on #1175
Thanks.

[2022-10-07 10:49] appleist-a opened #1176 "[Question]: SharePlus ^4.5.3 - Sharing a Uint8List or Image"
### What is your question?

As mentioned in the title I am getting an **Uint8List** or **Image** variable and I want to share it with **SharePlus** plugin (using the latest version).

Previously **SharePlus** allowed to share Files so I used this method to share my files;

[code]

But currently **SharePlus** only allows XFiles so I imported `cross_file: ^0.3.3+2` dependency in my **pubspec.yaml**

[2022-10-07 10:54] leonx98 opened #1177 "[Request]: Show NSSharingServicePicker asynchronously on main thread"
### Plugin

share_plus

### Use case

We're using the `share_plus` plugin to share one or multiple files after it has been downloaded. After the download of the files we still need to update the UI. But since the `NSSharingServicePicker` is presented synchronously on the main thread the UI hangs.

### Proposal

Show the `NSSharingServicePicker`asynchronously on the main thread, so that the UI can

[2022-10-07 10:57] echokk11 opened #1178 "[Bug]: Same type of HUAWEI phone(Mate20 Pro) get the same deviceId"
### Platform

HarmonyOS 2

### Plugin

device_info_plus

### Version

from 4.1.2 to 5.0.1

### Flutter SDK

3.3.4

### Steps to reproduce

my phone is HUAWEI mate20 Pro
[code]

the id is `HUAWEILYA-AL00` , all type of this phone is the same,  it not looks like a uuid.

I tried other HUAWEI phone, get the same result.

### Code Sample

_No response_

### Logs

[code]

### Flutter Doctor

[code]

##

[2022-10-07 11:03] appleist-a commented on #1176
Yep, indeed it works! Thank you mr. @miquelbeltran

[2022-10-07 11:03] #1176 closed

[2022-10-07 11:03] miquelbeltran commented on #1178
I'd recommend using https://pub.dev/packages/android_id for this specific task instead. Note that Google Play has special requirements for apps querying the `android_id`

[2022-10-07 11:25] naamapps commented on #1175
@miquelbeltran Same problem with device_info_plus_platform_interface.

The latest is 4.0.1 and not 4.1.0.

[2022-10-07 11:44] miquelbeltran commented on #1175
Hopefully 5.0.4 is the good one

[2022-10-07 11:48] naamapps commented on #1175
Unfortunately I see now that also in every platform package there is a dependency of device_info_plus_platform_interface 4.1.0.

In device_info_plus_windows, device_info_plus_web, device_info_plus_macos, device_info_plus_linux

[2022-10-07 12:04] miquelbeltran commented on #1175
Thanks for letting me know. We switched to a new way of managing versions, so I messed up when doing some changes by hand :disappointed: New versions for device_info_plus and dependencies have been released

[2022-10-07 12:05] miquelbeltran commented on #1175
I just checked with a new project doing a `flutter pub add device_info_plus` and didn't see any errors with 5.0.5.

[2022-10-07 12:05] #1175 closed

[2022-10-07 12:07] naamapps commented on #1175
Works great, thanks @miquelbeltran 👍

[2022-10-07 13:01] charafau commented on #850
Looks like there's nothing we can do but add documentation for that function with links to Android docs

[2022-10-07 14:00] echokk11 commented on #1178
okay 3q

[2022-10-07 14:00] #1178 closed

[2022-10-07 14:53] charafau commented on #908
Checked this on new project:

[code]

copied example from.. example folder

plugin compiled and works.

my flutter doctor output:
[code]

guess we can close this ?

[2022-10-07 15:32] kekko7072 commented on #792
+ 1

[2022-10-07 16:32] #999 closed

[2022-10-07 16:42] charafau commented on #871
instead of depending on alarm manager, it would be probably better to use [Work Manager](https://developer.android.com/topic/libraries/architecture/workmanager) as it's preffered way of scheduling tasks on Android right now

[2022-10-07 17:19] #1166 closed

[2022-10-07 17:32] #850 closed

[2022-10-07 17:41] miquelbeltran commented on #871
I mean, no. AlarmManager has a place (wanting to run a task at a precise time, e.g. an actual alarm) and WorkManager is more to schedule work in the background without worrying too much on when it is going to be done.

Now, on Flutter and given how flaky the plugin is, I would simply avoid using either if possible.

[2022-10-08 12:55] VoidCupboard commented on #1099
Is this issue fixed already?

[2022-10-08 12:56] ThexXTURBOXx commented on #1099
No, not yet. If you want, you can do it :)

[2022-10-08 12:58] VoidCupboard commented on #1099
Sure! I would love to. Can you help me a bit, like give me a quick rundown since I am a bit (Its not that I don't the language) new to Flutter and Dart?

[2022-10-08 13:21] #570 closed

[2022-10-08 14:14] #1099 closed

[2022-10-08 14:15] miquelbeltran commented on #1099
We won't be doing this at the moment, as we plan a general refactor of the plus plugins architecture.

[2022-10-08 14:46] Amanvein commented on #1054
I have done this for other app like what's app.

[2022-10-08 22:22] CaptainDario opened #1180 "[Bug]:"
### Platform

Windows 11

### Plugin

share_plus

### Version

4.5.3

### Flutter SDK

3.3.4

### Steps to reproduce

I am trying to use the share_plus plugin on windows. On Android my application works and opens the share dialog. However, on Window it crashes with a `stack overflow`.

### Code Sample

[code]
[code]

### Flutter Doctor

[code]

### Checklist before submitting a bug

- [X] I Google

[2022-10-09 04:45] miquelbeltran commented on #1180
Looks like the method is calling to itself rather than to the shareFiles method internally. This should be an easy fix.

As a temporary fix you can call shareFiles directly on Windows.

[2022-10-09 04:54] CaptainDario commented on #1180
I am not 100% sure but I think I tried this and it throws an "not implemented on windows" exception.
I can double check later today though.

[2022-10-09 06:26] Allen-Guof opened #1181 "[Bug]: getWifiName() return null on Android 13"
### Platform

Android 13

### Plugin

network_info_plus

### Version

2.3.1

### Flutter SDK

3.3.0

### Steps to reproduce

Run Example code. The all permissions is granted.
[code]
![image](https://user-images.githubusercontent.com/17547942/194741276-f736b131-220d-411e-bcb9-4ff4f22d2f58.png)

### Code Sample

_No response_

### Logs

[code]

### Flutter Doctor

[code]

### Checklist before submit

[2022-10-09 06:53] miquelbeltran commented on #1180
Ah yes, it is not yet released but already landed on main: https://github.com/fluttercommunity/plus_plugins/commit/8e051b4bf112323018335df5cd68748b51b34fcf

[2022-10-09 07:27] CaptainDario commented on #1180
If this feature was added now, why is `shareFile()` marked as deprecated?

[2022-10-09 09:28] CaptainDario commented on #1180
@miquelbeltran I added the plugin to my pubspec as
[code]

However, I am still getting

[code]

[2022-10-09 12:39] miquelbeltran commented on #1180
Two different people worked on different features (web share support and windows share support) and so the API needs a bit of cleanup.

The `shareXFile` method should be preferred in the future, as it is a "true" cross-platform solution, and it should call internally `shareFile`, so this needs to be fixed for Windows.

A PR fixing this is more than welcome!

No idea, when we reviewed the feature,

[2022-10-09 12:43] miquelbeltran commented on #1181
There's a related PR that can maybe clarify this issue: https://github.com/fluttercommunity/plus_plugins/pull/1155

I believe you need to actually request user permission, it is not enough with just declaring it in the Android Manifest.

[2022-10-09 15:04] And96 opened #1183 "[Bug]: Cannot compile since update to Flutter 3.3.3"
### Platform

Android 11

### Plugin

share_plus

### Version

latest

### Flutter SDK

3.3.3

### Steps to reproduce

Cannot compile Android app since upgrade to flutter 3.3.3

### Code Sample

[code]

### Logs

[code]

  For more details, see https://developer.android.com/studio/write/lint#snapshot
[code]

### Checklist before submitting a bug

- [X] I Google'd a solution and I couldn't find it

[2022-10-09 15:07] And96 commented on #1183
Sorry. Solved.

[2022-10-09 15:07] #1183 closed

[2022-10-09 15:15] CaptainDario commented on #1180
If I am able to fix this I will open a PR. I will look into it today.

[2022-10-09 19:23] kostadin24 commented on #1181
Hello
Same issue for me:

I have Android 13 (Pixel 5).
Just updated my app to use 2.3.1
No more SSID. Location permission is granted, location service is ON, ACCESS_NETWORK_STATE is in manifest.
Also no BSSID.
It was OK with plugin version 2.2.0

Just tried with Android 9 and SSID is OK.

Example in plugin project also shows me SSID: null

[2022-10-09 20:03] CaptainDario commented on #1180
@miquelbeltran I looked at the code and `shareFiles` on windows has no implementation

https://github.com/fluttercommunity/plus_plugins/blob/7b6ac7ebc33e3bfd023030e61268cff0fa03d913/packages/share_plus/share_plus_windows/lib/share_plus_windows.dart#L49-L61

[2022-10-09 20:17] miquelbeltran commented on #1180
I believe that's the fallback implementation for older versions of windows, as the top of the file says, but I need to look again into it. Are you on Windows 10 or 11?

[2022-10-09 20:44] CaptainDario commented on #1180
I am on windows 11, if this is the fallback implementation where is the "real" implementation located?
I searched in the whole plugin and this is the only location where this error message is being used.

[2022-10-10 05:11] miquelbeltran commented on #1180
Pinging @alexmercerind maybe you can help clarify how it works

[2022-10-10 05:14] miquelbeltran commented on #1180
My understanding is that this is the entry point: https://github.com/fluttercommunity/plus_plugins/blob/7b6ac7ebc33e3bfd023030e61268cff0fa03d913/packages/share_plus/share_plus_windows/windows/share_plus_windows_plugin_c_api.cpp#L7

I wonder if you are facing a project setup problem, or if something got lost in the merge. Hopefully we can fix it before releasing it. I will check it out on my Window

[2022-10-10 06:05] alexmercerind commented on #1180
Hi @CaptainDario, since my changes haven't been released yet...
You also need to add a dependency override for `share_plus_windows` in your pubspec.yaml to utilise the new native share dialog in #1150 on Windows.

Example:

[code]

This will fix the missing plugin implementation.

The stack overflow is entirely Dart sided from my best guess, I'm on my mobile right now. I will raise a fix once I'm

[2022-10-10 06:34] alexmercerind commented on #1180
I had a look, I think the exception is introduced in web share feature PR itself (#1153).

If we have a look at:

https://github.com/fluttercommunity/plus_plugins/blob/7b6ac7ebc33e3bfd023030e61268cff0fa03d913/packages/share_plus/share_plus_platform_interface/lib/share_plus_platform_interface.dart#L100-L115

We can see the `shareXFiles` method of the `_instance` object is actually of the same class

[2022-10-10 07:06] Allen-Guof commented on #1181
@miquelbeltran Hi, I have turned on the location permission in the Settings. This has the same effect as using code to request permissions. Still can't get wifiName.

[2022-10-10 08:59] miquelbeltran commented on #1181
So since 2.3.0, where we changed the following: "Android: Use new APIs to get network info on devices with with Android 12 (SDK 31) and newer" it has not been working, correct?

Pinging @vbuberen as he did that, hopefully you know about this issue.

[2022-10-10 11:05] #828 closed

[2022-10-10 11:31] vbuberen commented on #1181
I will investigate the issue.

[2022-10-10 12:34] CaptainDario commented on #1180
Confirming that `ShareFiles()` is now working on Windows 11

Thank you for the quick help!

[2022-10-10 18:08] alfredobs97 commented on #1012
Hey! Can I take this issue? @mhadaily

[2022-10-10 18:12] mhadaily commented on #1012
Go ahead, please

[2022-10-10 18:39] #1103 closed

[2022-10-10 18:47] alfredobs97 commented on #1012
I checked the issue and the package, but does make sense that the app name will fetch from manifest.json (PWA configuration, most of cases, Flutter developers won't fulfilled this info) instead of the standard name in pubspec.yaml ? @mhadaily

[2022-10-11 02:19] zache-fi opened #1188 "[Bug]: Share.shareXFiles doesn't work if XFile is created using File.fromData()"
### Platform

Android 12

### Plugin

share_plus

### Version

5.0.0

### Flutter SDK

3.3.4

### Steps to reproduce

**Steps to reproduce**

1.) Load file from url
2.) Create new XFile using XFile.fromData()
3.) try to share created File object

**Result**

Sharing fails because XFile doesn't have path

**Expected result**
For cross platform support It should not matter how XFile has been created

[2022-10-11 04:24] OutdatedGuy commented on #1012
Well, when a flutter project is created, the `package name` is used for `name` and `short name` properties in the manifest.json file.

So if we take name from manifest file, then even if the developer didn't set any name the default package name will be used. So same behaviour as now we'll see.

But if they configured the name property in manifest file, then the new name will be used and that's wh

[2022-10-11 07:09] miquelbeltran commented on #1188
Is it possible to send binary data using a share Intent on Android without "writing the file down" and sharing a URI? Afaik, Android Intents have a hard limit of like 500kb to 1MB (different info sources)

If that's possible, then that would be an option, if not, we would still need to write the file somewhere, an option would be that the shareXFile method writes the file into the app internal sto

[2022-10-11 07:25] miquelbeltran commented on #1012
The web implementation of `package_info_plus` reads the `app_name` property from the `version.json` which is generated by Flutter based on the `pubspec.yaml`.

IMO, If you want to read the name from another file, then you need to implement that on your side.

[2022-10-11 08:57] mhadaily commented on #786
Go ahead it’s yours

On Sun, 27 Mar 2022 at 10:09, Manish Roy ***@***.***> wrote:

--
*Best regards, *

Majid Hajian
www.majidhajian.com
Oslo, Norway
<http://www.linkedin.com/in/mhadaily/> <http://twitter.com/mhadaily>

[2022-10-11 17:15] OutdatedGuy commented on #1012
How to do that?

I understand, that's why my above [comment](https://github.com/fluttercommunity/plus_plugins/issues/1012#issuecomment-1274068964) specifies that using `name` property form manifest file would act the same in normal scenario and better in custom scenarios.

[2022-10-11 19:04] miquelbeltran commented on #1012
You can take a look at how the `app_name` is read from the `version.json` file and implement the same functionality for any other file.

Can you explain why it is preferable that the package information is read from the `manifest.json` instead of the `version.json`, because I don't see the advantage?

The `version.json` is generated by the Flutter framework, and it is shipped together with the app

[2022-10-11 19:53] gabriel-cervantes opened #1220 "[Bug]: Update win32 to version 3.0"
### Platform

Windows

### Plugin

share_plus

### Version

5.0.0

### Flutter SDK

3.3.4

### Steps to reproduce

.

### Code Sample

_No response_

### Logs

[code]

### Flutter Doctor

[code]

[2022-10-12 03:51] ChristianEdwardPadilla opened #1221 "[share_plus] [Request]: Thumbnail support"
### Plugin

share_plus

### Use case

See image for expectation:

![BBMRzLdUu9RE2mQ](https://user-images.githubusercontent.com/37954976/195245685-1fb97124-d737-468c-b3bd-7d93724e64f1.png)
Left: Flutter behavior (no thumbnail screenshot) Right: native behavior with thumbnail

This seems to be available on iOS. Not sure on Android or other platforms.

### Proposal

See native functionality above inc

[2022-10-12 04:16] alexmercerind commented on #1220
@gabriel-cervantes, you can add a dependency override in your `pubspec.yaml` for the time being. Package is compatible with newer win32 versions, it's just that it hasn't been bumped.

[code]

[2022-10-12 08:38] Kajikoslav commented on #1181
same issue - Android 12 with ACCESS_NETWORK_STATE in manifest, network_info_plus: ^2.3.2 -> info.getWifiName() is null

[2022-10-12 09:07] eggysudianto opened #1222 "[Question]: Can you upgrade the kotlin version?"
### What is your question?

because my kotlin version use ^1.7.0 and when I lower it to 1.6.10 like your kotlin version, then my app show many deprecated api from other library. Thanks

### Checklist before submitting a question

- [X] I Google'd a solution and I couldn't find it
- [X] I searched on StackOverflow for a solution and I couldn't find it
- [X] I read the README.md file of the plugin
-

[2022-10-12 09:11] miquelbeltran commented on #1222
Feel free to submit a PR with the change as well!

[2022-10-12 10:08] chrisfraser commented on #1077
I have the same issue on 2.0.7+1. Flutter 3.3.4.

Doing --profile builds as a stop-gap.

[2022-10-12 12:04] tim-eucalyptus commented on #1220
I also get this:

[code]

Please update: https://github.com/fluttercommunity/plus_plugins/blob/main/packages/share_plus/share_plus_windows/pubspec.yaml

[2022-10-12 12:20] miquelbeltran commented on #1177
@leonx98 is this request for iOS or for MacOS? You did not specify.

[2022-10-12 12:21] miquelbeltran commented on #1220
Can you send a pull request?

[2022-10-12 14:29] #1177 closed

[2022-10-12 14:30] miquelbeltran commented on #1177
Thanks! Thats fixed with the linked PR

[2022-10-12 15:46] ueman commented on #1221
Related https://github.com/fluttercommunity/plus_plugins/issues/1099#issuecomment-1264671098

[2022-10-12 15:50] MNarasimhaMurthy opened #1224 "[Bug]: _updateConnectionStatus method called multiple times in iOS"
### Platform

iOS

### Plugin

connectivity_plus

### Version

2.3.9

### Flutter SDK

2.10.3

### Steps to reproduce

On and off wifi continuously connect to mobile data , wifi and off again....

in IOS its called multiple times for every 5 sec

### Code Sample

[code]

### Logs

[code]

### Flutter Doctor

[code]

### Checklist before submitting a bug

- [X] I Google'd a solution and I couldn't

[2022-10-12 18:23] Bungeefan commented on #1012
I would like to vouch for the `manifest.json` file.
We, for example, used it in our project and it is indeed different from the `pubspec.yaml` package name.

[2022-10-12 19:03] mhadaily commented on #1012
We cannot read app name from manifest. The manifest file can be ignored or deleted if you opt out of PWA.
The version.json is the standard Flutter way that guarantees consistency with the entire ecosystem.

[2022-10-12 20:21] suryaa62 commented on #948
can I work on this issue?

[2022-10-13 07:05] miquelbeltran commented on #1220
Should be fixed by https://github.com/fluttercommunity/plus_plugins/pull/1214

[2022-10-13 07:05] #1220 closed

[2022-10-13 07:36] miquelbeltran opened #1226 "[Request]: Refactor plugins to a two package architecture"
### Plugin

all

### Use case

As discussed internally by the maintainer team, the packages should be refactored, so all platform implementations must be moved into the same package.

e.g. before:

- `connectivity_plus` (Contains Android and iOS implementations)
- `connectivity_plus_platform_inteface`
- `connectivity_plus_macos`
- `connectivity_plus_linux`
- `connectivity_plus_web`
- `connectivity

[2022-10-13 07:37] miquelbeltran commented on #1226
Currently working on `connectivity_plus`

[2022-10-13 07:55] nohli commented on #1226
Working on `device_info_plus`

[2022-10-13 08:04] vbuberen commented on #1222
Why do you lower the version? You can use new Kotlin version in your project without looking at which version is used by plugins.

[2022-10-13 09:34] vbuberen commented on #1077
After doing some research found out that users of the plugin also need to add `@pragma('vm:entry-point')` annotation to the callback function in the app which uses the plugin.

Check #1229 for more info on related issues.

[2022-10-13 10:18] vignaraj-proechoes opened #1230 "[Question]: Device ID comes different in same app in different machine build."
### What is your question?

When we use the device_info_plus plugin in our flutter. Device ID is not same when we build the apk in different machine.

Ex: my app package name com.sam.example(android) -> build in first machine(Macbook) and got device ID.(No signing)

     same app when I build in different machine(Windows PC), I got the different device ID.

     Please help me, how should I resolv

[2022-10-13 10:49] #1077 closed

[2022-10-13 11:23] codercengiz opened #1232 "[Bug]: Wifi name is always null (also in example)"
### Platform

Android 12

### Plugin

network_info_plus

### Version

2.3.2

### Flutter SDK

3.3.4

### Steps to reproduce

My App is reading always that wifiName is null. I have all permissions, and also used permission_handler for location.

Then I tested your example on my phone, app reads null wifiName also on your example.
Then i added permission request to your example, still app reads null

[2022-10-13 11:30] miquelbeltran commented on #1232
Please use the search function, this has been reported multiple times. e.g. https://github.com/fluttercommunity/plus_plugins/issues/1181

[2022-10-13 11:30] #1232 closed

[2022-10-13 11:41] Seuleuzeuh commented on #992
Yes. Share plus use the native api experience sharing so AirDrop is available in iOS (and macOS).

[2022-10-13 11:44] codercengiz commented on #1181
I also have this problem on Android 12.

it has not been working.

[2022-10-13 11:53] #1181 closed

[2022-10-13 12:17] dovahkiin98 opened #1234 "[Request]: Share URL on web"
### Plugin

share_plus

### Use case

I tried to use this plugin to share a link from a website, and there is no way to do that. You can only share a text, and the system would not know how to share that. So I instead had to use this

[code]
Since the plugin only shares files or text

### Proposal

Adding a way to share link and not just text or file, something like the `html.window.navigator.shar

[2022-10-13 13:15] lgLindstrom commented on #343
I have a old windows project where this problem occur. Duplication the example project in package_info_plus works okay, but not my old project. This leads me to believe that I must update something in my project.
What ???

[2022-10-13 13:21] he0119 commented on #343
https://docs.flutter.dev/development/platform-integration/windows/version-migration

Projects created before Flutter version 3.3 need to be migrated to support versioning.

[2022-10-13 14:47] LostInDarkMath commented on #678
Okay, I cannot reproduce the issue here with the example app of your `main` branch.

[2022-10-13 14:54] nohli commented on #1226
Now working on `network_info_plus`

[2022-10-13 15:03] nohli commented on #1226
Now on `package_info_plus`

[2022-10-13 15:25] nohli commented on #1226
Now on `sensors_plus`

[2022-10-13 15:43] nohli commented on #1226
Last one, `share_plus`.

[2022-10-13 19:09] miquelbeltran commented on #1220
Probably in the upcoming days, after we finish some pending refactors.

[2022-10-14 08:13] guyluz11 opened #1240 "[Bug]: WiFi name retuns null on pub.dev versiom, workes fine on main branch"
### Platform

Android 12

### Plugin

network_info_plus

### Version

2.3.2

### Flutter SDK

3.3.4

### Steps to reproduce

1. Clone `network_info_plus` example project https://github.com/fluttercommunity/plus_plugins/tree/main/packages/network_info_plus/network_info_plus/example
2. Grant location permission make sure that you are connected to a WiFi, check that it works correctly and you can get

[2022-10-14 10:08] eggysudianto commented on #1222
no I can't, error when I tried build apk, after I lower my kotlin version, then it's success

[2022-10-14 12:06] emersion opened #1241 "[Request]: Use org.freedesktop.portal.NetworkMonitor on Linux"
### Plugin

connectivity_plus

### Use case

I want to distribute my app in a Flatpak sandbox.

The plugin is not allowed to connect to the D-Bus system bus:

[code]

### Proposal

Flatpak portals are a network daemon agnostic way to fetch network information. It works both inside and outside sandboxes.

https://docs.flatpak.org/en/latest/portal-api-reference.html#gdbus-org.freedesktop.portal.Netw

[2022-10-14 12:41] miquelbeltran commented on #1240
Just wait for a new release of the plugin

[2022-10-14 12:41] #1240 closed

[2022-10-14 12:49] miquelbeltran commented on #1240
locking conversation, just wait until we release the version in main

[2022-10-14 17:44] vbuberen commented on #1222
Would be better to discuss with info on which plugin it is and which errors you have.

[2022-10-14 17:58] nohli commented on #1226
Looks like we've done the refactoring 🤝

[2022-10-14 17:58] #1226 closed

[2022-10-14 21:24] swch01 commented on #282
I just encountered this issue with `android_intent_plus`. The workaround described above resolved the issue.

[2022-10-15 04:37] zache-fi commented on #1188
I think that idea of using intents for this is doomed to fail as eventually there will be larger files to share that intent allows. However, with Android, you could just save the file to application specific cache directory and let the OS delete it when the disk space is low, the app is closed, etc. I think that it works the same in iOS.

- https://developer.android.com/reference/android/content/C

[2022-10-15 07:40] devkishor8007 commented on #994
@amir14a hello there!
try to use these packages for your need according.
- whatsapp_share2: https://pub.dev/packages/whatsapp_share2
- whatsapp_share: https://pub.dev/packages/whatsapp_share
- share_plus: https://pub.dev/packages/share_plus
- akvelon_flutter_share_plugin: https://pub.dev/packages/akvelon_flutter_share_plugin
- flutter_share: https://pub.dev/packages/flutter_share

hope it can solv

[2022-10-15 21:50] IlyaZadyabin commented on #840
Attempting `Build.getSerial()` is not compiling with an error: `Missing permissions required by Build.getSerial: android.permission.READ_PRIVILEGED_PHONE_STATE`.
And this permission can only be requested by system apps.

[2022-10-16 06:40] aakash-pamnani commented on #916
print(result.raw == "null");//true
its not null its string "null"

[2022-10-16 08:08] vbuberen commented on #1149
As @miquelbeltran already replied about WorkManager package existence from my side I can add info about recent updates that might help with `oneShot()` not working (note, it has nothing to do with issues with trigger time): https://github.com/fluttercommunity/plus_plugins/pull/1229

I think we can close it for now as `oneShot` works.

[2022-10-16 08:08] #1149 closed

[2022-10-16 08:11] vbuberen commented on #1061
Can be closed due to #1229

[2022-10-16 08:11] #1061 closed

[2022-10-16 09:51] thePlayer094 opened #1244 "[Question]: Uniqe device ID redistributable?"
### What is your question?

I realized, that after i generate the deviceId on iOS got a good one, but after deleted the application and reinstall i've got another one. So it means this is not uniqe. I am wondering, that if i've got device **'A'** with **XYZ123** uniqe device id. And someone has device **'B'** is there any chance that device **'B'** got **XYZ123** (same) device id, after i've delet

[2022-10-16 11:12] vbuberen commented on #1025
Could you explain what do you mean `unregistered`? There is no listener added and no call to `checkConnectivity()`?
Would be good to have more info to understand how to reproduce the issue.

[2022-10-16 11:59] aakash-pamnani commented on #916
@Coronon
```intent.getParcelableExtra<ComponentName>(Intent.EXTRA_CHOSEN_COMPONENT)```
returns ```null```

[2022-10-17 11:57] JimmyRakhmonov commented on #916
I have the same problem in version 4.4.0

final res = await Share.shareWithResult('some text',subject: title);

    print(res.status);
    print(res.raw);

[2022-10-17 12:26] Coronon commented on #916
@aakash-pamnani Thanks for your hint. Sadly, my PC broke and I was unable to work on this with my old Macbook. I expect to be able to look into the issue this weekend. As I don’t have an android device the hint that the new Android version might have something to do with it is greatly appreciated :)

[2022-10-17 12:33] woprandi commented on #840
@Chinmay-KB

It's written in your posted link :

[2022-10-17 15:41] tomk9 opened #1248 "[Bug]: Update Kotlin version"
### Platform

Android

### Plugin

package_info_plus

### Version

2.0.0

### Flutter SDK

3.3.4

### Steps to reproduce

Update Gradle to 7.5.1 in `android/gradle/wrapper/gradle-wrapper.properties`
[code]
Update Kotlin to 1.7.20 and Gradle to 7.3.1 in `android/build.gradle`
[code]
[code]
Please update the Kotlin version to meet the newest Gradle compatibility
https://docs.gradle.org/7.5/userguide

[2022-10-17 18:53] Rackor commented on #1149
Reopen this issue. `oneShot` seems not to work reliable with specific options as it should like the corresponding method from the `AlarmManager` API.
The description was updated and steps for reproduction added.

No, this issues is not related to #1077.

@miquelbeltran The section `Solution Proposals` should clearify what I meant with "migrating to WorkManager API".

[2022-10-17 19:53] miquelbeltran commented on #1149
I am not sure what you mean with the WorkManager API, feel free to submit a PR with the proposed solution.

[2022-10-17 23:20] Rackor commented on #1076
@miquelbeltran I think this is not applicable in general, but depends on the OEM. On stock android, according to the official android docs, swipe up in the recent-apps screen does not force-stop the app (and killing background processes and alarms), but just kills the activities. This reflects experiences with common Samsung or Google devices.
However, it is also commonly reported that chinese OEM

[2022-10-18 03:14] minhdangoz opened #1258 "[Bug]: info.getWifiName() return null"
### Platform

Android 12

### Plugin

network_info_plus

### Version

2.3.2

### Flutter SDK

3.3.4

### Steps to reproduce

![image](https://user-images.githubusercontent.com/3844258/196326182-2046110c-d098-450b-ad54-254ca696eb94.png)
Currently using latest version of network info plus but can not get SSID name

### Code Sample

[code]

### Logs

[code]

### Flutter Doctor

[code]

### Checklist

[2022-10-18 04:16] minhdangoz commented on #1258
Update:

add these permissions to the library android manifest file then it works (not application manifest)

<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

[2022-10-18 08:01] cedvdb commented on #413
I don't understand the stance here.

 - So the package won't correctly work with Facebook, messenger, instagram and whatsapp ?
 - There is currently no way of excluding those platforms with Intent.EXTRA_EXCLUDE_COMPONENTS

So should the package:
  - not be used in production ?
  - or should not be used if you intend to not break Facebook TOS ?

[2022-10-18 08:35] imdatsolak opened #1259 "[Bug]: ConnectivityResult.vpn missing"
### Platform

macOS

Project is for iOS, Android, macOS, Windows, Linux

### Plugin

connectivity_plus

### Version

3.0.0

### Flutter SDK

3.3.4

### Steps to reproduce

1. Add package to own project
2. Try building macOS Version
3. Error-Message during compile:

[code]

### Code Sample

[code]

### Logs

[code]

### Flutter Doctor

[code]

### Checklist before submitting a bug

- [X] I Google'd

[2022-10-18 09:23] husainazkas commented on #1259
Have same issue while compile into android app bundle for releasing. Please ensure that enum value is valid because there is no ```ConnectivityResult.vpn``` found. Thanks a lot for every contributors.

[2022-10-18 09:25] imdatsolak commented on #1259
I reverted back to the previous version until this is fixed. Thank you a million for all contributors!

[2022-10-18 10:09] zeewell commented on #1259
It may be necessary to wait for a new version of connectivity_plus_platform_interface to be released.

@vbuberen When will the new version of connectivity_plus_platform_interface be released? Looking forward to it!

[2022-10-18 10:24] lamtx opened #1260 "[Bug]: Build failed, Error: Member not found: 'vpn'."
### Platform

Any version

### Plugin

connectivity_plus

### Version

3.0.0

### Flutter SDK

3.3.4

### Steps to reproduce

Upgrading  the connectivity_plus to 3.0.0 causes this issue, please see the logs:
[code]

There are no issues with the version 2.3.9

### Code Sample

[code]

### Logs

[code]

### Flutter Doctor

[code]

### Checklist before submitting a bug

- [X] I Google'd a solution an

[2022-10-18 10:30] TzviPM commented on #1058
@slightfoot thoughts? It seems the goal is to get the networking information for the default gateway on the ios device. The method we're using right now (the one that we'd need to re-implement) takes, as input, a pointer to a socket address (`in_addr_t`). It returns an `int` status which is non-negative (`>= 0`) if successful and negative otherwise. Upon successful return, the input pointer should

[2022-10-18 10:47] mariopepe commented on #1260
Having same issue, making it impossible to build for iOS.

I had to downgrade to `2.3.9`, and I could build.

Curious, how did this escape tests? Do @lamtx and I have particular configurations that were not covered by tests?
Thanks!

[2022-10-18 10:53] Fudal commented on #1260
Here is the issue with the same error https://github.com/fluttercommunity/plus_plugins/issues/1259 I'm also waiting for fix it.

[2022-10-18 11:29] vbuberen commented on #1259
There were no new features or critical fixes introduced in the 3.0.0 release. Use older version of the plugin and don't tag people multiple times. Release will be when maintainers have time. It is not a commercial project, so nobody is going to promise any deadlines, especially when nobody blocks you from using older version of the plugin.

[2022-10-18 11:39] zeewell commented on #1259
I am very sorry, my words may not be polite, but it was not my intention.

[2022-10-18 13:09] lamtx commented on #1260
Thanks for your information. Closed as duplicated with #1259

[2022-10-18 13:09] #1260 closed

[2022-10-18 13:14] mariopepe commented on #1259
No worries at all @zeewell  you have been very polite!
I think is vbuberen that is having a stressful day!

[2022-10-18 13:38] miquelbeltran commented on #1259
This is weird, because the `vpn` enum type exists in the file `src/enums.dart` of the `connectivity_plus_platform_interface`:

https://github.com/fluttercommunity/plus_plugins/blob/main/packages/connectivity_plus/connectivity_plus_platform_interface/lib/src/enums.dart#L19

And the internal package 1.2.1 has been published: https://pub.dev/packages/connectivity_plus_platform_interface

And also, th

[2022-10-18 13:49] miquelbeltran commented on #1259
Forcing the platform interface package to be "from git" fixes the issue. So I guess there was a bogus release. I will force the publishing of a new version of the platform interface on pub.

[code]

[2022-10-18 16:05] miquelbeltran commented on #1259
I published `connectivity_plus_platform_interface` 1.2.2 and the issue should be fixed now.

[2022-10-18 16:05] #1259 closed

[2022-10-18 16:43] imdatsolak commented on #1259
Thanks a million.

[2022-10-19 06:57] CodeDoctorDE opened #1270 "[Bug]: No implementation found for method getAll on channel dev.fluttercommunity.plus/package_info"
### Platform

Linux (Fedora 36)

### Plugin

package_info_plus

### Version

3.0.0

### Flutter SDK

3.3.4

### Steps to reproduce

1. Upgrade to the latest package_info_plus 3.0.0
2. Use `await PackageInfo.fromPlatform()`

After downgrading to 2.0.0, everything works.

I cloned the example from the `main` branch and everything works there.

### Code Sample

[code]

### Logs

[code]

### Flutter D

[2022-10-19 07:42] juliuskopp opened #1271 "[Question]: the class XFILE doesn't exist."
### What is your question?

1. I create a class and wanted to use "Share.shareXFiles".
2. I add "import 'package:share_plus/share_plus.dart';"
3. When writting this line : await Share.shareXFiles([XFile(filename)],     I have this message : The method 'XFile' isn't defined for the type 'DataShareService'.
4. So I have to add this import "import 'package:cross_file/cross_file.dart';"
5. But now I h

[2022-10-19 07:54] san-smith commented on #1270
I have the same problem.

Platform
Linux (Linux Mint 20.2)

Plugin
package_info_plus

Version
3.0.0

Flutter SDK
3.3.4

[2022-10-19 08:04] miquelbeltran commented on #1271
Do what the warning suggests and add the dependency to cross_file, which is an official package from the Flutter team.

[2022-10-19 08:13] miquelbeltran commented on #1270
I cannot reproduce the error.

Steps:
1. Create new project with `flutter create error_1270`
2. Add plugin with `flutter pub add package_info_plus`

[code]

4. Add call to `PackageInfo.fromPlatform()`

[code]
5. Run project on Linux.
6. Log appears correctly:

[code]

[2022-10-19 08:24] nvi9 commented on #660
Is this proposal viable aligned with the current implementation of event streams for specific sensors in the platform_interface package?
AFAIK on Linux there are iio or input device files for sensors and no userspace API, like on Android or iOS. So for Linux support we would need the possibility to specify device names at least and maybe other configuration options... Or correct me if I haven't di

[2022-10-19 08:37] san-smith commented on #1270
I am also got a similar error with `device_info_plus`:

`UnimplementedError (UnimplementedError: linuxInfo() has not been implemented.)`

Platform
Linux (Linux Mint 20.2)

Plugin
device_info_plus

Version
7.0.0

Flutter SDK
3.3.4

[2022-10-19 08:51] nohli commented on #1270
@CodeDoctorDE @san-smith can you please share the whole file where it crashes, or at least the imports? Thanks!

[2022-10-19 08:55] miquelbeltran commented on #1270
Can you confirm that you have done a proper flutter clean and pub upgrade?

[2022-10-19 09:10] CodeDoctorDE commented on #1270
I did.
I ran the example in the repo and it works. Only on my project it happens

[2022-10-19 09:11] CodeDoctorDE commented on #1270
![grafik](https://user-images.githubusercontent.com/20452814/196648986-2c6c4de1-bb04-45c8-870f-590f87fbe403.png)
on my package_info_plus folder there is no linux folder

[2022-10-19 09:14] nohli commented on #1270
@CodeDoctorDE
Can you please try `flutter clean` and `flutter pub upgrade`?
And I meant the imports in the Dart-file where the failing method is called. Please share as well 🙂

[2022-10-19 09:17] CodeDoctorDE commented on #1270
i did it already.
This is the line: https://github.com/LinwoodCloud/Butterfly/blob/a3f3fa5142d1040b189f2e07ac2096d4a48799ec/app/lib/cubits/settings.dart#L424

[2022-10-19 09:27] miquelbeltran commented on #1270
The Linux implementation of the plugin is in the `src/package_info_plus_linux.dart` file.

The pubspec.yml is configured to use this class as the Linux implementation:
[code]

For some reason, it seems that something is not being generated correctly for some users, and so Flutter/Dart is not linking to the correct implementation class.

[2022-10-19 09:32] miquelbeltran commented on #1270
I see that on this branch, the package_info_plus is still at v2.0.0

Do you have an up-to-date branch of the project using 3.0.0?

[2022-10-19 09:36] CodeDoctorDE commented on #1270
I pushed the `update-dependency` branch a few seconds ago.
The problem only happens on runtime, I will try out the build artifacts.

I wanted to test it on my machine before pushing the upgrade.

[2022-10-19 09:49] miquelbeltran commented on #1270
I will check your code if you don't mind. Can you specify the step by step to run the app and reproduce the issue? Currently trying to run your app but it fails as it tries to write to `/usr/local/butterfly` which I prefer no to :)

[2022-10-19 09:51] CodeDoctorDE commented on #1270
Thanks.
You need libjsoncpp-dev and libsecret on your pc.
Then you can run flutter run -d linux in the app directory.

The error happens in the settings dialog in the update card.

The write is a common problem in flutter. A simple `flutter clean` should help,

[2022-10-19 09:54] miquelbeltran commented on #1270
yep, that helps! I am able to reproduce the error

[2022-10-19 10:27] miquelbeltran commented on #1270
My only finding is that inside `.dart_tool/flutter_build/dart_plugin_registrant.dart` the call to `PackageInfoPlusLinuxPlugin.registerWith();` is missing.

While it does exist on my project I created from scratch.

The call to register PackageInfoPlus plugins is for Windows. But the Linux one is missing :thinking:

[2022-10-19 11:19] vbuberen commented on #1222
After a series of updates linked above we can close this issue
Next release of plugins will have latest Kotlin and Gradle versions

[2022-10-19 11:20] #1222 closed

[2022-10-19 11:20] vbuberen commented on #1248
Closing this one as all plugins that use Kotlin were updated and next release of updates will have the latest Kotlin version.

[2022-10-19 11:20] #1248 closed

[2022-10-19 12:43] rajithClimate opened #1273 "[Bug]: Share image not working on web"
### Platform

Web

### Plugin

share_plus

### Version

6.0.0

### Flutter SDK

Flutter version 3.4.0-34.1.pr

### Steps to reproduce

 I am using the share_plus plugin to share a image file in web.
[code]

### Code Sample

[code]

### Logs

[code]

### Flutter Doctor

[code]

### Checklist before submitting a bug

- [X] I Google'd a solution and I couldn't find it
- [X] I searched on StackOverflo

[2022-10-19 13:06] san-smith commented on #1270
@miquelbeltran

Could this be due to the fact that my project does not have full null safety support?

File `dart_plugin_registrant.dart` in my project have `// @dart = 2.9` annotation.

[2022-10-19 14:18] naamapps opened #1274 "[Question]: Is generated_plugin_registrant.dart necessary for web for device_info_plus and package_info_plus?"
### What is your question?

Hey,
After upgrading `device_info_plus` and `package_info_plus` to latest versions,
the `generated_plugin_registrant.dart` file does not generate the `PackageInfoPlugin.registerWith(registrar);` and `DeviceInfoPlusPlugin.registerWith(registrar);` lines anymore (It used to generate those lines, so after upgrading I had this error
[code]

Is this the right behaviour?

Tha

[2022-10-19 18:00] miquelbeltran commented on #1274
Looks related to https://github.com/fluttercommunity/plus_plugins/issues/1270

[2022-10-19 18:06] heshesh2010 commented on #1260
still have same error using 3.0.0

[2022-10-19 18:16] miquelbeltran commented on #1270
Here's a fun thing: If I add `connectivity_plus` to my project, then I have the same error and the `PackageInfoPlusLinuxPlugin.registerWith()` is missing from the `dart_plugin_registrant.dart`, but the `ConnectivityPlusLinuxPlugin.registerWith();` appears.

Doing more research....

[2022-10-19 18:32] san-smith commented on #1270
It's curious.
My project also has `connectivity_plus`. While I used `package_info` 2.0, there were no problems, and with the transition to 3.0 the same behavior in dart_plugin_registrant.dart

[2022-10-19 18:45] miquelbeltran commented on #1270
We changed the architecture from federated packages to a one where all the implementations are in the same package. That may be causing an issue. However, the packages work fine standalone but not together. My only explanation is that there's something weird in how the Flutter/Dart compiler works.

This issue may be affecting other packages outside the plus_plugins ecosystem, as @nohli for example

[2022-10-19 18:46] miquelbeltran commented on #1270
Feel free to thumbs up and add any relevant comments to flutter/flutter#113720

[2022-10-19 22:04] ThexXTURBOXx commented on #1273
Not reproducible on my end. Does your browser suport sharing?

![grafik](https://user-images.githubusercontent.com/12763829/196813313-43d874d9-9b4e-473e-bf60-5baa7ef9bf5c.png)

[2022-10-19 22:47] aytunch commented on #413
@Boehrsi does this limitation Facebook is bringing have anything to do with this issue?
I agree that what facebook does here is not fair play.
However, if adding a facebook app id and secret key solves these issues, I don't see why we don't integrate it in this plugin?
Am I missing something?
https://developers.facebook.com/docs/instagram/sharing-to-stories
https://developers.facebook.com/blog/pos

[2022-10-20 00:04] iqfareez commented on #1270
This issue also happened on Windows after running `flutter pub upgrade --major-versions`

[code]

I've tried flutter clean and re-run, issue still happening

[2022-10-20 05:22] miquelbeltran commented on #413
Locking this conversation.

Adding Facebook SDK is out of question for this plugin and will never be considered.

Please use a plugin that uses the Facebook SDK instead.

[2022-10-20 07:26] Faiz-rhm opened #1276 "[Bug]: Error: Member not found: 'vpn'."
### Platform

IOS X

### Plugin

connectivity_plus

### Version

3.0.0

### Flutter SDK

3..0.0

### Steps to reproduce

The error occurred in Linux file.

### Code Sample

_No response_

### Logs

[code]

### Flutter Doctor

[code]

### Checklist before submitting a bug

- [X] I Google'd a solution and I couldn't find it
- [X] I searched on StackOverflow for a solution and I couldn't find it
- [X

[2022-10-20 07:29] #1270 closed

[2022-10-20 08:19] miquelbeltran commented on #1274
Please check if with the latest release of the package(s) still happens

[2022-10-20 08:20] miquelbeltran commented on #1270
Releases fixing the registration code generation are published now, please let me know if that fixes the issue.

[2022-10-20 08:32] naamapps commented on #1274
Hey @miquelbeltran,
Still won't generate for me.

I think this line is the culprit
https://github.com/fluttercommunity/plus_plugins/blob/37abbf7b05a32bc1e7b440c19540b277e301fe5a/packages/device_info_plus/device_info_plus/lib/device_info_plus.dart#L26

If I try to write `DeviceInfoPlusWebPlugin` manually inside the `generated_plugin_registrant` file, it won't recognize this class.

[2022-10-20 08:33] naamapps commented on #1274
Same for PackageInfo.

[2022-10-20 08:35] miquelbeltran commented on #1274
mhh, so adding the export for the web plugin implementation causes the generated_plugin_registrant not to work properly? If you can checkout the project locally, reference by path, and then find what causes it, it will be super helpful (also feel free to submit a PR if you find the solution).

[2022-10-20 08:45] CodeDoctorDE commented on #1270
It works, thanks!

[2022-10-20 10:11] naamapps commented on #1274
Is the file web_plugin_registrant the same as generated_plugin_registrant?
I can't find it in my project at all..

I tried deleting the generated_plugin_registrant file and it didn't even regenerate itself.

[2022-10-20 10:15] miquelbeltran commented on #1274
It is in  `.dart_tool/dartpad/web_plugin_registrant.dart` it appears for me when running the project

[2022-10-20 10:22] naamapps commented on #1274
Found it! And it does generate correctly for all packages.
So what is the `generated_plugin_registrant` file that was in my project? Is it not relevant anymore?

[2022-10-20 11:33] miquelbeltran commented on #1274
I remember that the generated_plugin_registrant.dart is generated when running on web, but I guess this was changed eventually.

Do you still have problems running the project on web with the latest release?

[2022-10-20 15:01] naamapps commented on #1274
Nope, all good.
Thanks.

[2022-10-20 15:01] #1274 closed

[2022-10-20 15:38] stuartmorgan commented on #1226
Out of curiosity (since we plan to add more documentation about the process of maintaining federated plugins in general), what issues were you having with the diamond dependency?

[2022-10-20 18:22] miquelbeltran commented on #1226
Hi @stuartmorgan So a problem we faced is as follows (package names and versions as example)

- battery_plus 2.0.0 depends on battery_plus_platform_interface 2.0.0
- battery_plus 2.0.0 also depends on battery_plus_windows 1.0.0
- battery_plus_windows 1.0.0 depends on battery_plus_platform_interface 1.0.0

This would cause a problem for users when compiling, as battery_plus_platform_interface 1.0.0

[2022-10-21 03:43] martin-affinitas commented on #198
Just tested back to ^1.4.0. Works in this version. Does not work for ^2.0.0 onward for me.

[2022-10-21 07:23] bjornwinther1996 opened #1280 "[Request]: Adjusting sample rate for web with Sensors Plus plugin"
### Plugin

Sensors Plus

### Use case

There has been a discussion about adjusting the sample rate for sensor data in the Sensors_plus flutter package (https://github.com/flutter/flutter/issues/25971). (Sensors_plus is the only sensor package for web).

Following the above thread, I managed to adjust the rate when building for Android, by changing SENSOR_DELAY_NORMAL to SENSOR_DELAY_GAME.

Now my

[2022-10-21 08:52] wurikiji commented on #964
In addition, if what you want to do is to show a graphical alert when the alarm is on, then consider https://pub.dev/packages/flutter_local_notifications package.

[2022-10-21 10:26] nohli commented on #1226
@stuartmorgan I see that you maintain `path_provider`.
Since our refactoring, the tests from [appwrite](https://github.com/appwrite/sdk-generator/pull/572) fail (for `package_info_plus` and `path_provider`).
The (same) error (see failing Flutter stable [logs](https://app.travis-ci.com/github/appwrite/sdk-generator/jobs/585998670)) was fixed for `package_info_plus` with the [increase of Flutter sdk

[2022-10-21 14:04] stuartmorgan commented on #1226
You should not be relying on plugin registration to be run in unit tests (or in general [using plugins at all in unit tests](https://docs.flutter.dev/development/packages-and-plugins/plugins-in-tests)).

`path_provider` doesn't use an inline (as in, in the app-facing package) implementation, so there's no SDK check performed for it. See https://github.com/flutter/flutter/issues/87862 for details.

[2022-10-21 19:43] MrMineToons commented on #1001
Facing same error
`[ERROR:flutter/runtime/dart_vm_initializer.cc(41)] Unhandled Exception: PlatformException(Share callback error, prior share-sheet did not call back, did you await it? Maybe use non-result variant, null, null)`

My case is
[code]

[code]

I had also tried with await - async, but the result is the same!
Using share_plus versions: 6.0.1

Mr-Anderson-01, did you find a way to go?

A

[2022-10-22 07:31] jinfagang opened #1281 "how to detect system windows version if on windows?"
### Plugin

device_info_plugin

### Use case

Does there any instructions to do with it?

### Proposal

Does there any instructions to do with it?

[2022-10-22 09:16] BLACKCAT25896 opened #1282 "[Bug]: Please update network_info_plus-2.1.3"
### Platform

android

### Plugin

Connectivity Plus

### Version

3.0.2

### Flutter SDK

3.3.4

### Steps to reproduce

please update network_info_plus pakage

### Code Sample

[code]

### Logs

[code]

### Flutter Doctor

[code]

### Checklist before submitting a bug

- [X] I Google'd a solution and I couldn't find it
- [X] I searched on StackOverflow for a solution and I couldn't find it
- [X]

[2022-10-22 09:49] forYouDevelop opened #1283 "[Bug]: iOS AppName"
### Platform

iOS

### Plugin

package_info_plus

### Version

3.0.1

### Flutter SDK

3.3.5

### Steps to reproduce

I have this crash on start app on simulator iPhone 14 pro max iOS 16.0

<img width="597" alt="image" src="https://user-images.githubusercontent.com/66330062/197332719-f3633119-69c9-43ba-8751-e802f70b9762.png">

### Code Sample

_No response_

### Logs

[code]

### Flutter Doctor

[

[2022-10-22 10:02] miquelbeltran commented on #1283
What are the contents of your info.plist? Do you have more than one app name through localization or similar?

[2022-10-22 10:03] miquelbeltran commented on #1282
What's the bug? You just copied some code

[2022-10-22 11:54] werainkhatri commented on #1271
maybe we should export the package? same as what `image_picker` does?

https://github.com/flutter/plugins/blob/f55c7ffc6984c75e6b2b6a72a02b48064e0b5bc1/packages/image_picker/image_picker_platform_interface/lib/image_picker_platform_interface.dart#L5

[2022-10-22 15:42] ngominhtrungit commented on #1258
@vbuberen I using flutter version 3.0.5, when pub get network_info_plus: ^3.0.1
return error:
`Running "flutter pub get" in check_mac_andress...
Because every version of flutter_test from sdk depends on meta 1.7.0 and network_info_plus >=2.2.0 depends on meta ^1.8.0, flutter_test from sdk is incompatible with network_info_plus >=2.2.0.
So, because check_mac_andress depends on both network_info_plu

[2022-10-22 20:37] vbuberen commented on #1258
It is not related to this issue. Update your Flutter version to the latest.

[2022-10-22 21:36] SirusCodes commented on #1070
I feel it's only possible if we have federated plugins.

[2022-10-22 21:41] SirusCodes commented on #1053
I'm not sure how we can handle this in the plugin but it definitely that you should handle by yourself and not the plugin.

[2022-10-22 21:52] SirusCodes commented on #1049
We already have `batteryLevel` getter and I don't feel it's a good idea to introduce a breaking change which 0 benefits.

[2022-10-22 22:05] SirusCodes commented on #1039
@miquelbeltran won't this be checking if the status if `full` at the end of switch case?

[2022-10-22 22:10] SirusCodes commented on #1031
I don't know how you can handle this on other devices but on Android you need to create your own UI for this functionality and send intents to those apps directly.

To send intents you can use [android_intent_plus](https://pub.dev/packages/android_intent_plus) plugin.

[2022-10-22 22:17] SirusCodes commented on #1030
Some other apps create their own chooser and use intents to directly target those apps.

Found [this](https://medium.com/@amirdes021_73588/android-custom-chooser-for-intent-share-send-358ee8cbc152) medium article to do so.

[2022-10-22 22:19] SirusCodes commented on #1030
It's not because of that but it would be a good idea to have support for Rich content previews 🤔

I would love to contribute that for hacktoberfest

[2022-10-22 22:27] SirusCodes commented on #1019
I guess we can close this issue as there is no activity from the user

[2022-10-23 02:37] pdt590 commented on #1258
Tested on network_info_plus^3.0.1, the issue has not fixed yet. Thanks

[2022-10-23 05:44] alexmercerind commented on #1281
What do you expect?

There's a ton of information present like `productName` or `buildNumber`. My recommendation will be to use `buildNumber`.

![](https://user-images.githubusercontent.com/28951144/161233030-9f732dbe-1760-4c1f-9e1f-27b7d50876be.png)

[2022-10-23 09:00] vbuberen commented on #1258
I would need info from on how to reproduce as both 3.0.0 and 3.0.1 return proper SSID and BSSID for me on Android 12 and 13 in our example app. Note, you need to provide location permission as well to get these 2 fields.

[2022-10-23 10:05] jinfagang commented on #1281
@alexmercerind thank u so much, just realised you are author of arcrylic plugin. very nice work. I just wanna judege the platform to avoid win10 bug you have mentioned in: https://github.com/alexmercerind/flutter_acrylic/issues/6

[2022-10-23 11:53] miquelbeltran commented on #1070
Nope, the dependency would still be there through the other platform dependency unfortunately

[2022-10-23 12:09] SirusCodes commented on #1070
Then only way is to have platform channels for each😕

[2022-10-23 13:35] TreyThomas93 commented on #972
@nohli Why was there a need for another plugin?

[2022-10-23 14:03] SirusCodes commented on #854
I guess we can close this as it is out of scope of this plugin and can't be done as @vbuberen said

[2022-10-23 14:05] SirusCodes commented on #843
We can close this as #838 is merged👀

[2022-10-23 14:13] miquelbeltran commented on #972
Sorry, locking the thread, as commenters should read the original issue https://github.com/fluttercommunity/plus_plugins/issues/824 before asking the same question over and over.

First and foremost, Google discourages the use of the `ANDROID_ID`:  (Avoid using hardware identifiers.)
https://developer.android.com/training/articles/user-data-ids

Secondly, since Android 8.0, the ANDROID_ID is gener

[2022-10-23 14:16] #854 closed

[2022-10-23 14:20] #843 closed

[2022-10-23 14:32] miquelbeltran commented on #1271
Good point @werainkhatri a PR with the fix is more than welcome ;)

[2022-10-23 17:24] spsarolkar opened #1285 "[Bug]: IOS 15 giving error while reading the wifi SSID - [] NEHotspotNetwork nehelper sent invalid result code [1] for Wi-Fi information request"
### Platform

IOS 15

### Plugin

network_info_plus

### Version

3.0.1

### Flutter SDK

3.3.5

### Steps to reproduce

Trying to run example on Iphone IOS version 15

https://github.com/fluttercommunity/plus_plugins/tree/main/packages/network_info_plus/network_info_plus/example

I have added below entitlements
![Screenshot 2022-10-23 at 10 53 54 PM](https://user-images.githubusercontent.com/3715

[2022-10-24 07:50] #1188 closed

[2022-10-24 13:45] werainkhatri commented on #1271
you got it!

[2022-10-24 15:29] stuartmorgan commented on #1070
Since `url_launcher` is fully federated, you could in theory depend directly on `url_launcher_linux` and `url_launcher_web` instead of `url_launcher`. You'd have to code against the platform interface directly instead of the app-facing API though.

[2022-10-24 15:34] SirusCodes commented on #1070
Would make a PR for it then thanks @stuartmorgan for the idea

[2022-10-24 15:49] jingluoguo commented on #1271
you can write import 'package:cross_file/cross_file.dart';

[2022-10-25 04:49] #1271 closed

[2022-10-25 05:31] DaemonChoejur commented on #1067
Any updates on this? @miquelbeltran

[2022-10-25 06:23] kl3ug commented on #1283
BundleName doesn't mutate, only bundleIdentifier changes through .xcconfig files

[2022-10-25 08:33] AlexRich16 opened #1290 "[Question]: Error build android since package_info_plus 3.0.1"
### What is your question?

I've a build error on android since I've upgrade package_info_plus 3.0.0 -> 3.0.1

[code]

build.gradle
[code]

If i downgrade on package_info_plus 3.0.0 , it's ok ✅

Can you help me to upgrade my dependency and solve my problem ?
Thanks

### Checklist before submitting a question

- [X] I Google'd a solution and I couldn't find it
- [X] I searched on StackOverflow for

[2022-10-25 09:47] ben-xD commented on #903
The code snippet in https://github.com/fluttercommunity/plus_plugins/issues/903#issuecomment-1158424761 is wrong. I've tried it and gave 400+ degrees.

I would highly recommend using https://pub.dev/packages/flutter_compass or writing your own plugin instead of using the magnetometer readings (unit: micro Teslas), because these packages use the operating-system calculated heading, which could use

[2022-10-25 11:08] BernieSumption opened #1291 "[Bug]: toMap is recommended in the documentation, but deprecated without an apparent replacement"
### Platform

iOS 16

### Plugin

device_info_plus

### Version

7.0.1

### Flutter SDK

3.3.4

### Steps to reproduce

The [documentation](https://pub.dev/packages/device_info_plus) recommends that in order to get all available device information in a platform-agnostic way, the `toMap()` method should be used. This been deprecated with no apparent replacement.

I'm not sure if this is a bug repor

[2022-10-26 04:51] miquelbeltran commented on #1291
Should be removed from the documentation, then.

The problem with `toMap` is that it is not a JSON compatible object as it contains non-serializable data, being misleading to users, and that's why it is currently being deprecated.

The alternative is to read each value individually and build your own data class.

The device_info_plus package needs a deep refactor, so we cannot promise if the `toMa

[2022-10-26 05:46] #1291 closed

[2022-10-26 06:42] saibotma commented on #636
This is not stale and also not completed.

[2022-10-26 07:16] sadatdaniel commented on #749
Is it possible that the Cloudflare warp is blocking access for local routes? If I understood the problem correctly, excluding them from advanced settings might help.

[2022-10-26 08:02] ziqq opened #1294 "[Question]: share_plus how to localize and how to share text in instagram"
### What is your question?

I try to share text in instagram but in don't find the button instagram share. And how i can localize the package.

### Checklist before submitting a question

- [X] I Google'd a solution and I couldn't find it
- [X] I searched on StackOverflow for a solution and I couldn't find it
- [X] I read the README.md file of the plugin
- [X] I am using the latest version of the

[2022-10-26 08:20] miquelbeltran commented on #636
How is this that handled natively on Swift/Objective-C?

[2022-10-26 08:22] miquelbeltran commented on #1294
You definitely didn't read the README.md because in it there's a section about Instagram and other Facebook apps

[2022-10-26 08:22] #1294 closed

[2022-10-26 08:46] ziqq commented on #1294
OK, this only applies to sharing on Instagram, but what about localization?

[2022-10-26 08:56] miquelbeltran commented on #1294
I am not sure what you mean, is there any English text in the plugin? I wasn't aware of that, can you point where?

[2022-10-26 09:09] ziqq commented on #1294
No. I want localize to Russia text.

[2022-10-26 09:13] miquelbeltran commented on #1294
I don't understand your question, what do you want to localize exactly?

[2022-10-26 14:09] aakash-pamnani commented on #916
@Coronon ```PendingIntent.FLAG_IMMUTABLE``` is the problem, changing it to ```PendingIntent.FLAG_MUTABLE``` returns the package name of the app clicked.
Is it ok using ```PendingIntent.FLAG_MUTABLE``` then i wil create a PR.

[2022-10-26 14:55] Coronon commented on #916
@aakash-pamnani If I remember correctly, there was a problem with the `MUTABLE` option. Something else in the code broke back then - I'll have to look into the old PRs. What's interesting is that I was not able to find anything in the change logs between Android v10 and v11 that would hint at any change in behaviour...

[2022-10-26 17:06] xrusu commented on #1290
you need to upgrade your gradle version, your andoid\build.gradle file should look something like this:

`buildscript {
    ext.kotlin_version = '1.7.20'
    repositories {
        google()
        mavenCentral()
        gradlePluginPortal()
    }

    dependencies {
        classpath 'com.android.tools.build:gradle:7.3.1'
        classpath "org.jetbrains.kotlin:kotlin-gradle-plugin:$kotlin_versio

[2022-10-26 18:04] lucassilvaoliveira opened #1296 "[Bug]:"
### Platform

iOS 16

### Plugin

device_info_plus

### Version

7.0.1

### Flutter SDK

3.3.5

### Steps to reproduce

I'm developing an app, so I need device information. I try use device_info_plus to do this. in iOS simulator, all works all right, but in physical device, my code is showing only "iPhone", without the model, "iPhone 13" for example

### Code Sample

[code]

### Logs

[code]

###

[2022-10-26 20:01] ElegantCrab opened #1297 "[Question]: Connectivity_plus doesn't recognize connected wifi network as wifi connected, is this expected?"
### What is your question?

I'm using the package https://pub.dev/packages/wifi_iot to connect to a wifi network through flutter

However, I use the function **forceWifiUsage** to have connection to an API on my local network (that has no internet by the way)

Whenever I connect to a network using this package **(WiFi_IoT)** and execute this function **forceWifiUsage**, I get ping and make request